﻿@model LikeKitWebsite.Models.Widget

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Likekit</title>
    <meta name="Description" content="Likekit es una red de recomendaciones de libros, música, cine y series de televisión.">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/widget.css")" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/widget.js")" type="text/javascript"></script>
</head>
<body>
    <div id="widget-main-content">
        <div id="widget-header">
            <div id="widget-header-logo"></div>
            <div id="widget-header-counter-followers"><span class="num-followers">@Html.DisplayTextFor(m => m.UserNumFollowers)</span><br />Seguidores</div>
        </div>
        <div id="widget-subheader">
        La red de recomendaciones de libros,<br /> música, cine y series de TV
        </div>
        <div id="widget-user-data">
            <div id="widget-user-data-container">
                <div id="widget-user-picture"><img src="/Content/files/@Html.DisplayTextFor(m => m.UserPicture)" width="24px" alt="@Html.DisplayTextFor(m => m.UserFirstName) @Html.DisplayTextFor(m => m.UserLastName)" title="@Html.DisplayTextFor(m => m.UserFirstName) @Html.DisplayTextFor(m => m.UserLastName)"/></div>
                <div id="widget-user-follow"><a href="">Sígueme en Likekit</a></div>
            </div>
        </div>
        <div id="widget-user-kits-container">
            @Html.DisplayTextFor(m => m.HtmlLastKits)            
        </div>
    </div>
</body>
</html>
