﻿/**
    INTERACTIONS
**/
	
#interactions-container
{
    position:relative;
	float:left;
	width:700px;
	margin-left:108px;/* 160px;*/
	margin-top:76px;
	/*height:100%;*/
    min-height: 383px;
	height: auto !important;
	height: 383px;
	z-index:1;
	
}

#interactions-main-container
{
    position:relative;
	float:left;
	width:700px;
	/*height:100%;*/
	min-height: 110px;
	height: auto !important;
	height: 110px;	
	z-index:1;
	background-color:#fff;/*#EBEBEB;*/
	border-bottom:1px solid #F15B27;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
	padding-bottom:14px;    
}

.interaction-entry-container
{
    position:relative;
	float:left;
	width:700px;    
	min-height: 110px;
	height: auto !important;
	height: 110px;
	/*margin-top:28px;	*/
	z-index:1;
    border-top:1px dotted #F15B27;    
    background-color:#fff;/*#EBEBEB;*/
}

.interaction-entry{
	float:left;
	width:700px;
    height:110px;
	z-index:1;
	background-color:#fff;
	border-bottom:1px solid #F15B27;    
}

.interaction-entry-on{
	float:left;
	width:700px;
	height:110px;
	height: auto !important;
	height: 272px;
	z-index:1;
	background-color:#fff;
	border-bottom:1px solid #F15B27; ;    
}

.interaction-entry-user-image
{
    position:relative;
	float:left;
	width:88px;
	height:88px;
	margin-top:12px;
	z-index:1;
	overflow:hidden;
	cursor:pointer;
}

.interaction-entry-user-text{
	float:left;
	width:400px;
	height:70px;
	line-height:18px;
	margin-top:18px;
	margin-left:20px;
	z-index:1;
	font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    text-align:left;
}

.interaction-entry-user-text a, .interaction-entry-user-text a:link, .interaction-entry-user-text a:active, .interaction-entry-user-text a:visited
{
    color:#000000;
	text-decoration:underline;
}

.interaction-entry-user-text a:hover
{
    color:#F15B27;
    text-decoration:underline;
}

.interaction-entry-user-date{
	float:right;
	width:175px;
	height:100px;
	line-height:18px;
	margin-top:12px;
	margin-right:14px;
	z-index:1;
	font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    text-align:right;
}

#interactions-main-title{float:left;width:600px;height:55px;line-height:55px;margin-left:14px;font-size:20px;color:#F15B27;font-family: Arial, Helvetica, sans-serif;font-weight:bold;}

/**
   INTERACTIONS
**/

/**

	OVERRIDES

**/

#timeline-kit-modal {width:702px !important;}
#timeline-kit-container{width:702px !important;}
#timeline-kit-header{width:702px !important;}
#timeline-kit-title-container {width:702px !important;}
#timeline-kit-title{width:656px !important;}
#timeline-kit-search{width:702px !important;}
#timeline-kit-search-result-container{width:702px !important;}
#timeline-kit-search-container{width:530px !important;}
#timeline-kit-search-container input{width:520px !important;}
#timeline-kit-form{width:702px !important;}
#timeline-kit-form-product-data{width:702px !important;}
#timeline-kit-form-loading-publish{width:702px !important;}
#timeline-kit-published {width:702px !important;}
#timeline-kit-published-buttons{width:672px !important;}
#timeline-kit-published-button-facebook{margin-left:43px !important;}
#timeline-kit-webservice-search{width:702px !important;}
#timeline-kit-webservice-search-publish{width:702px !important;}
#timeline-kit-webservice-search-text-publish{width:629px !important;}