﻿/**

    INVITE

**/

#invite-container
{
    position:relative;
	float:left;
	width:700px;/*720px;*/
	margin-top:76px;
	/*margin-top:67px;*/
	margin-left:108px;/*160px;*/
    /*min-height: 480px;
	height: auto !important;
	height: 480px;*/	        
	z-index:1;
}

#invite-main-container
{
	float:left;
	width:700px;
	margin-top:20px;
	background-color:#fff;/*#EBEBEB;*/
	border-bottom:1px solid #F15B27;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
	padding-bottom:14px;
	padding-bottom:50px;
}


#invite-main-image
{
	float:left;
	width:700px;
	height:204px;
}

.invite-intro-text
{
    float:left;
    width:676px;
    height:36px;
    margin-left:14px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px; color:#000000;	    
}

.invite-mail-logos
{
    float:left;
    width:520px;
    height:36px;
    margin-top:34px;
    margin-left:140px;
}

#invite-gmail
{
    float:left; 
    width:70px;
    height:35px;
    background-image: url(images/gmail.png);
    cursor:pointer;
}

.invite-gmail-on
{
    background-image: url(images/gmail_on.png) !important;    
}

#invite-yahoo
{
    float:left; 
    width:95px;
    height:21px;
    margin-top:7px;
    margin-left:36px;
    background-image: url(images/yahoo.png);
    cursor:pointer;    
}

.invite-yahoo-on
{
    background-image: url(images/yahoo_on.png) !important;    
}

#invite-msn
{
    float:left; 
    width:70px;
    height:26px;
    margin-top:5px;
    margin-left:32px;
    background-image: url(images/msn.png);
    cursor:pointer;
}

.invite-msn-on
{
    background-image: url(images/msn_on.png) !important;    
}

#invite-facebook
{
    float:left; 
    width:95px;
    height:26px;
    margin-top:5px;
    margin-left:28px;
    background-image: url(images/facebook.png);
    cursor:pointer;      
}

.invite-facebook-on
{
    background-image: url(images/facebook_on.png) !important;    
}

.invite-col-1
{
    float:left;
    width:369px;
    height:40px;
    margin-top:12px;
    margin-left:14px;
    line-height:18px;
}

#invite-col-1-title
{
    float:left;
    width:369px;
    height:18px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px; color:#000000;	        
}

#invite-col-1-subtitle
{
    float:left;
    width:369px;
    height:40px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px; color:#707070;	        
}

.invite-col-2
{
    float:left;
    width:302px;
    height:123px;
    margin-top:12px;
}

#invite-col-2-input
{
    float:right;
    width:296px;
    height:23px;
    margin-top:2px;
    background-image: url(images/invite-input.png);
}

#invite-col-2-input input
{font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    background:none;
    border:0;
    border-color:transparent;
    font-size:12px; 
	width:292px;
	}

#invite-button
{
    float:right;
    width:140px;
    height:30px;
    margin-top:14px;
    line-height:30px;    
    background-image: url(images/bt_on.png);
    font-size:12px; color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;
}

.invite-button-on
{
    background-image: url(images/bt.png) !important;
}

.invite-separator
{
    float:left;
    width:700px;
    height:1px;
    border-bottom:1px solid #F15B27;        
}

#invite-contacts-results
{
    float:left;
    width:547px;
    margin-top:20px;
    margin-left:14px;    
}

.invite-contacts-type
{
    float:left;
    width:125px;
    height:36px;
}

.invite-contacts-container
{
    float:left;
    width:420px;    
    padding-bottom:30px;
    border-bottom:1px dotted #F15B27;      
}

.invite-contacts-container-header
{
    float:left;
    width:420px;
    height:30px;
    line-height:30px;
    font-size:12px; font-family: Arial, Helvetica, sans-serif; font-weight:bold;    
    color:#F15B27;
    border-bottom:1px solid #F15B27;          
    padding-bottom:6px;
}

.invite-contacts-container-data
{
    float:left;
    width:420px;
}

.invite-result-entry-odd
{
    /*background-color:#D7D3D2 !important;*/
	border-bottom:1px dotted #F15B27;
}

.invite-result-border-top
{
    border-top:1px dotted #F15B27;
}

.invite-result-entry
{
    float:left;
    width:420px;
    height:28px;
    padding-top:7px;
    padding-bottom:7px;
    border-bottom:1px dotted #F15B27;
    background-color:#FFFFFF;
}

.invite-result-entry-image
{
    float:left;
    width:28px;
    height:28px;    
    overflow:hidden;
    cursor:pointer;
}

.invite-result-entry-data
{
    float:left;
    width:274px;
    height:28px;    
    margin-left:7px;
}

.invite-result-entry-name
{
    float:left;
    width:274px;
    height:14px;    
    line-height:14px;
    font-size:12px; color:#000000; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:left;   
}

.invite-result-entry-location
{
    float:left;
    width:274px;
    height:14px;    
    line-height:14px;
    font-size:12px; color:#000000;font-family: Arial, Helvetica, sans-serif; font-style:italic;
    text-align:left;      
}

.invite-result-entry-btn
{
    float:left;
    width:110px;
    height:22px;
    margin-top:4px;
    line-height:22px;    
    background-image: url(images/kit-search.png);
    font-size:12px; color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;
}

.invite-result-entry-btn
{
    float:left;
    width:110px;
    height:22px;
    margin-top:4px;
    line-height:22px;    
    background-image: url(images/kit-search.png);
    font-size:12px; color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;
}

.invite-result-entry-btn-on
{
    float:left;
    width:110px;
    height:22px;
    margin-top:4px;
    line-height:22px;    
    background-image: url(images/kit-search-on.png);
    font-size:12px; color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;    
}

.invite-result-entry-btn-active
{
    background-image: url(images/orange-on.png) !important;
}

.invite-likekit-users-header
{
    float:left;
    width:420px;
    height:40px;
    line-height:40px;
    font-size:12px; color:#000000; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:left;        
}

.invite-no-likekit-users-header
{
    float:left;
    width:420px;
    height:40px;
    margin-top:14px;
    line-height:40px;
    font-size:12px; color:#000000; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:left;        
}

.invite-nolikekit-result-entry-odd
{
    /*background-color:#D7D3D2 !important;   */
	border-bottom:1px dotted #F15B27;      
}

.invite-nolikekit-result-entry
{
    float:left;
    width:420px;
    height:16px;
    line-height:16px;
    font-size:12px; color:#000000; 
    text-align:left;      
    border-bottom:1px dotted #F15B27;      
}

.invite-nolikekit-result-name
{
    float:left;
    width:290px;
    height:16px;
    line-height:16px;
    font-size:12px; color:#000000; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:left;      
}

.invite-nolikekit-result-link
{
    float:left;
    width:130px;
    height:16px;
    line-height:16px;
    font-size:12px; color:#000000; 
    font-family: Arial, Helvetica, sans-serif;
    text-align:right;
    text-decoration:underline;
    cursor:pointer;
}

.invite-nolikekit-result-link-disabled
{
    float:left;
    width:130px;
    height:16px;
    line-height:16px;
    font-size:12px; color:#707070; 
    font-family: Arial, Helvetica, sans-serif;
    text-align:right;
    text-decoration:none;        
}

.orange
{
    color:#F15B27;    
}

#invite-main-title{float:left;width:600px;height:90px;line-height:90px;margin-left:14px;font-size:20px;color:#F15B27;font-family: Arial, Helvetica, sans-serif;font-weight:bold;}			

/**

   FI INVITE

**/

/**

	OVERRIDES

**/

#timeline-kit-modal {width:702px !important;}
#timeline-kit-container{width:702px !important;}
#timeline-kit-header{width:702px !important;}
#timeline-kit-title-container {width:702px !important;}
#timeline-kit-title{width:656px !important;}
#timeline-kit-search{width:702px !important;}
#timeline-kit-search-result-container{width:702px !important;}
#timeline-kit-search-container{width:530px !important;}
#timeline-kit-search-container input{width:520px !important;}
#timeline-kit-form{width:702px !important;}
#timeline-kit-form-product-data{width:702px !important;}
#timeline-kit-form-loading-publish{width:702px !important;}
#timeline-kit-published {width:702px !important;}
#timeline-kit-published-buttons{width:672px !important;}
#timeline-kit-published-button-facebook{margin-left:43px !important;}
#timeline-kit-webservice-search{width:702px !important;}
#timeline-kit-webservice-search-publish{width:702px !important;}
#timeline-kit-webservice-search-text-publish{width:629px !important;}