﻿/**

    TIMELINE KIT

**/

#timeline-kit-modal
{
    /*position:absolute;*/
    float:left;
    position:fixed;
    top:66px;
    /*top:0;*/
    /*left:0;*/
    bottom:0px;
    width:736px;
    z-index:60;
    display:none;
}

.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
#timeline-kit-container
{
    float:left;
    width:736px;
    height:500px;
    z-index:60;
}

#timeline-kit-header
{
    float:left;
    width:736px;
    height:76px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;    
}

#timeline-kit-title-container
{
    float:left;
    width:736px;
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#FFFFFF;    
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-back
{
    float:left;
    display:none;
    width:10px;
    height:18px;
    margin-top:6px;
    margin-left:14px;
    background-image: url(images/kit_back.png);
    cursor:pointer;
}

#timeline-kit-title
{
    float:right;
    width:676px;
    text-align:center;
}

#timeline-kit-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

#timeline-kit-search
{
    float:left;
    width:736px;
    /*height:70px;*/
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

#timeline-kit-search-container-categories
{
    float:left;
    width:710px;
    height:40px;
    margin-top:14px;
    margin-left:14px;
    margin-bottom:0px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-kit-search-container-category-books
{
    float:left;
    width:30px;
    height:37px;
	background-image:url('images/kit-form-book.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-kit-search-container-category-books-on
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-search-container-category-books-selected
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-kit-search-container-category-series
{
    float:left;
    width:36px;
    height:33px;
    margin-left:20px;
	background-image:url('images/kit-form-serie.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-kit-search-container-category-series-on
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-search-container-category-series-selected
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-kit-search-container-category-music
{
    float:left;
    width:40px;
    margin-top:5px;
    height:26px;
    margin-left:20px;
	background-image:url('images/kit-form-music.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-kit-search-container-category-music-on
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-search-container-category-music-selected
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-kit-search-container-category-cinema
{
    float:left;
    width:40px;
    height:34px;
    margin-left:20px;
	background-image:url('images/kit-form-cinema.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-kit-search-container-category-cinema-on
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-search-container-category-cinema-selected
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-kit-search-container
{
    float:left;
    width:575px;
    height:22px;
    margin-top:10px;
    margin-left:14px;
    line-height:22px;
	background-image:url('images/kit_proces_input.png');
	background-repeat:no-repeat;
	background-position: left center;    
    /*border-bottom:2px solid #FFFFFF;*/
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-kit-search-container input
{
    float:left;
    width:570px;
    height:22px;
    line-height:22px;
    margin:0px;
    padding:0px;
    padding-left:5px;
	border:none;
	border-color:transparent;
	/*font-family: 'MinionProRegular';
	font-style: italic;*/
	font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background-repeat:no-repeat;
    background-color: transparent;    
}

#timeline-kit-search-result-container
{
    float:left;
    width:772px;
    margin-top:12px;
    margin-left:14px;
    display:none;
}

.timeline-kit-search-result
{
    float:left;
    width:498px;
    line-height:17px;
    border-bottom:1px dotted #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;	
}

.timeline-kit-search-result-title
{
    float:left;
    width:445px;
    text-align:left;
}

.timeline-kit-search-result-category
{
    float:right;
    width:53px;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
}

#timeline-kit-form
{
    float:left;
    width:736px;
    padding-top:16px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:40px;
    display:none;
    z-index:60;
}

#timeline-kit-form-product-data
{
    float:left;
    width:750px;
}

#timeline-kit-product-image
{
    float:left;
    width:220px;
}

#timeline-kit-product-info
{
    float:left;
    width:220px;
    margin-left:18px;    
}

#timeline-kit-product-valoration-container
{
    float:left;
    width:192px;
    margin-top:132px;
    margin-left:30px;    
}

.timeline-kit-product-valoration-title
{
    width:192px;
    height: 18px;
    line-height: 18px;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
}

.timeline-kit-product-valoration-option
{
    width:192px;
    height: 19px;
    line-height: 19px;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}

.timeline-kit-product-valoration-option-title
{
    float:left;
    width:141px;
    margin-right:2px;
}

#timeline-kit-product-valoration-1
{
	background-image:url('images/kit-valoration-1.png');
	background-repeat:no-repeat;
	background-position: right center;
}

.timeline-kit-product-valoration-1-on
{
	background-image:url('images/kit-valoration-1-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-product-valoration-1-selected
{
	background-image:url('images/kit-valoration-1-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-kit-product-valoration-2
{
	background-image:url('images/kit-valoration-2.png');
	background-repeat:no-repeat;
	background-position: right center;
}

.timeline-kit-product-valoration-2-on
{
	background-image:url('images/kit-valoration-2-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;	
}

.timeline-kit-product-valoration-2-selected
{
	background-image:url('images/kit-valoration-2-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;	
}

#timeline-kit-product-valoration-3
{
	background-image:url('images/kit-valoration-3.png');
	background-repeat:no-repeat;
	background-position: right center;
}

.timeline-kit-product-valoration-3-on
{
	background-image:url('images/kit-valoration-3-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-product-valoration-3-selected
{
	background-image:url('images/kit-valoration-3-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-kit-product-valoration-4
{
	background-image:url('images/kit-valoration-4.png');
	background-repeat:no-repeat;
	background-position: right center;
}

.timeline-kit-product-valoration-4-on
{
	background-image:url('images/kit-valoration-4-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-product-valoration-4-selected
{
	background-image:url('images/kit-valoration-4-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-kit-product-valoration-5
{
	background-image:url('images/kit-valoration-5.png');
	background-repeat:no-repeat;
	background-position: right center;
}

.timeline-kit-product-valoration-5-on
{
	background-image:url('images/kit-valoration-5-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-kit-product-valoration-5-selected
{
	background-image:url('images/kit-valoration-5-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}




















/*"<div class=\"timeline-kit-product-valoration-option-title\">Recomendable</div>\n" +
"<div class=\"timeline-kit-product-valoration-option-value-1*/

#timeline-kit-product-title
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#363636;
}

#timeline-kit-product-author
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-kit-product-year
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-kit-product-moreinfo
{
    float:left;
    width:220px;
    padding-top:14px;
    padding-bottom:14px;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-product-moreinfo-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-up-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;
}

.moreinfo-selected
{
	background-image:url('images/kit-down-arrow.png') !important;
}

#timeline-kit-product-moreinfo-container
{
    float:left;
    width:220px;    
    display:none;
}
.timeline-kit-product-moreinfo-text
{
    float:left;
    width:208px;
    line-height:18px;
    color:#FFFFFF;
}

.black
{
    color:#000000;    
}

.white
{
    color:#FFFFFF;    
}

#timeline-kit-add-tags
{
    float:left;
    width:220px;
    height:23px;
    margin-top:8px;
    line-height:23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    cursor:pointer;
	background-image:url('images/kit_form_tags_input.png');
	background-repeat:no-repeat;
	background-position: center center;    
}

#timeline-kit-add-tags input
{
    float:left;
    width:217px;
    height:23px;
    margin:0px;
    padding:0px;
	border:none;
    font-size:12px;
    color:#363636;
    margin-left:3px;	
	border-color:transparent;
	font-family: Arial, Helvetica, sans-serif;
    background-repeat:no-repeat;
    background-color: transparent;    
}

#timeline-kit-add-tags-container
{
    float:left;
    width:220px;
    margin-top:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#00000;
    display:none;   
}

#timeline-kit-add-tags-container textarea
{
    float:left;
	width:220px;
	height:18px;
	background-color:transparent;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;    
}

#timeline-kit-recommended-tags
{
    float:left;
    width:220px;      
    margin-top:6px;
}

#timeline-kit-recommended-tags-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-down-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;    
}

#timeline-kit-recommended-tags-container
{
    float:left;
    width:220px;      
    /*display:none;*/
    padding-bottom:8px;
}

.timeline-kit-recommended-tags-text
{
    float:left;
    width:208px;
    height:18px;
    line-height:18px;
    color:#363636;
    background-image:url('images/kit-tags-plus.png');
	background-repeat:no-repeat;
	background-position: right center;
    border-bottom:1px dotted #FFFFFF;
    cursor:pointer;
    padding-right:12px;
    text-align:left;    
}

.timeline-kit-recommended-selected
{
    color:#FFFFFF;
    background-image:url('images/kit-tags-minus.png');
}

#timeline-kit-comment
{
    float:left;
    width:667px;
    height:72px;
    margin-top:14px;
    margin-left:16px;
    background-image:url('images/kit-form-comment.png');
	background-repeat:no-repeat;
	background-position: center center;
}

.timeline-kit-comment-input
{
    float:left;
    margin-top:8px;
    margin-left:14px;
    line-height:16px;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    color:#363636;    
    width:639px;
    height:36px;
}

.timeline-kit-comment-input textarea
{
    float:left;
	width:639px;
	height:32px;
	background-color:#FFFFFF;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;
}

#timeline-kit-comment-counter
{
    float:right;
    width:50px;
    height:18px;
    margin-top:4px;
    margin-right:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#C0C0C0;     
    text-align:right;
}

#timeline-kit-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:18px;
    margin-left:15px;
    background-image:url('images/kit-form-button.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;	
}

.timeline-kit-button-on
{
 
    background-image:url('images/kit-form-button-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

.timeline-kit-search-result-noresults-title
{
    float:left;
    width:672px;
    /*height:18px;*/
    line-height:18px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
}

.timeline-kit-search-result-noresults-text
{
    float:left;
    width:672px;
    line-height:18px;
    margin-top:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;     
}


#timeline-kit-seach-button
{
    float:right;
    width:110px;
    height:22px;
    line-height:22px;
    margin-top:10px;
    margin-right:18px;
    background-image:url('images/kit-search.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;
    cursor:pointer;	
}

.timeline-kit-seach-button-on
{
 
    background-image:url('images/kit-search-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

#timeline-kit-webservice-search
{
    float:left;
    width:736px;
    height:74px;
    margin-top:12px;
    background-image:url('images/kit-search-webservice.png');
	background-repeat:no-repeat;
	background-position: left center;    
    display:none;
}

#timeline-kit-webservice-search-loader
{
    float:left;
    width:36px;
    height:36px;
    margin-top:27px;
    margin-left:12px;
    background-image:url('images/likekit_loader.gif');
	background-repeat:no-repeat;
	background-position: center center;
}

#timeline-kit-webservice-search-text
{
    float:left;
    width:677px;
    height:36px;
    margin-top:27px;
    margin-left:12px;    
    line-height:36px;
    text-align:left;
}

#timeline-kit-search-result-more-results
{
    float:right;
    width:153px;
    margin-top:10px;
    margin-bottom:10px;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;        
    padding-right:12px;
	background-image:url('images/more.png');
	background-repeat:no-repeat;
	background-position: right center;    
    cursor:pointer;
}

.timeline-kit-search-result-more-results-on
{
	background-image:url('images/less.png') !important;
}

#timeline-kit-search-result-more-results-container
{
    float:left;
    width:772px;
    margin-top:12px;
    display:none;
}

#timeline-kit-published
{
    float:left;
    width:736px;
    /*height:70px;*/
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:36px;
    display:none;    
}

#timeline-kit-published-text
{
    float:left;
    width:720px;
    height:53px;
    line-height:53px;
    margin-left:15px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color:#363636;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-published-buttons
{
    float:left;
    width:720px;
    height:30px;
    line-height:30px;
    margin-top:22px;
    margin-left:15px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
}

#timeline-kit-published-button-view
{
    float:left;
    text-align:center;
}

#timeline-kit-published-button-facebook
{
    float:left;
    margin-left:50px;
}

#timeline-kit-published-button-twitter
{
    float:right;
}

.timeline-kit-published-button
{
    width:194px;
    height:30px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF; 
	background-image:url('images/kit-form-button-on.png');
	background-repeat:no-repeat;
	background-position: center center;    
    cursor:pointer;
	margin-right:15px;
}

.timeline-kit-published-button-on
{
 
    background-image: url(images/social-white.png) !important;
    color:#F15B27;
    cursor:pointer;   
}

#timeline-kit-form-loading-publish
{
    float:left;
    width:736px;
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:0px;
    display:none;    
}

#timeline-kit-webservice-search-publish
{
    float:left;
    width:736px;
    height:74px;
    margin-top:12px;
    background-image:url('images/kit-search-webservice.png');
	background-repeat:no-repeat;
	background-position: center center;    
}

#timeline-kit-webservice-search-loader-publish
{
    float:left;
    width:36px;
    height:36px;
    margin-top:27px;
    margin-left:12px;
    background-image:url('images/likekit_loader.gif');
	background-repeat:no-repeat;
	background-position: center center;
}

#timeline-kit-webservice-search-text-publish
{
    float:left;
    width:677px;
    height:36px;
    margin-top:27px;
    margin-left:12px;    
    line-height:36px;
    text-align:left;
}





/**

    FI TIMELINE KIT

**/


/**

    SOCIAL FORM

**/

.social-kit-published-modal
{
    float:left;
    position:fixed;
    top:82px;
    /*position:absolute;
    top:0;
    left:0;*/
    bottom:0px;
    width:700px;
    z-index:60;
    display:none;
}
           
.social-kit-published-container
{
    float:left;
    width:736px;
    height:500px;
}

.social-kit-published-header
{
    float:left;
    width:736px;
    height:53px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;    
}

.social-kit-published-title-container
{
    float:left;
    width:736px;
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:16px;
    color:#FFFFFF;    
    text-align:left;
}

.social-kit-published-title
{
    float:left;
    width:702px;
    margin-left:12px;
    text-align:left;
}

.social-kit-published-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

.social-kit-published-text-container
{
    float:left;
    width:736px;
    /*height:70px;*/
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

.social-kit-published-text-input
{
    float:left;
    width:721px;
    height:108px;
    margin-top:24px;
    margin-left:14px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
    background-image: url(images/social-input.png);
}

.social-kit-published-text-input-container
{
    float:left;
	width:712px;
	height:76px;    
	margin-top:4px;
}

.social-kit-published-text-input textarea
{
    float:left;
	width:712px;
	height:76px;
	background-color:#FFFFFF;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;   
}

#mail-social-text
{
    margin-top:4px;    
}

#social-kit-published-text-counter
{
    float:right;
    width:50px;
    height:18px;
    margin-top:8px;
    margin-right:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#C0C0C0;     
    text-align:right;
}

.social-kit-published-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:18px;
    margin-left:15px;
    background-image:url('images/kit-form-button.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;	
}

.social-kit-published-button-on
{
 
    background-image:url('images/kit-form-button-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}


.social-connect-kit-title
{
    float:left;
    width:702px;
    margin-left:12px;
    text-align:center;    
}

#twitter-connect-kit-button
{
    float:left;
}

#facebook-connect-kit-button
{
    float:left;
    
}

.social-connect-button-container
{
    float:left;
    width:736px;
    height:44px;
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

.social-connect-kit-button
{
    float:left;
    width:192px;
    height:30px;   
    margin-top:14px;
    margin-left:252px;    
    line-height:30px; 
    background-image: url(images/register-social.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;
}

.social-connect-kit-button-on
{
    background-image: url(images/social-white.png) !important;
    color:#F15B27;
    cursor:pointer;
}

.social-connect-button-twitter
{
    background-image: url(images/register-button-twitter.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

.social-connect-button-facebook
{
    background-image: url(images/register-button-facebook.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:25px;
    text-align:left;
}

.social-connect-button-twitter-on
{
    background-image: url(images/login-social-twitter-on.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

.social-connect-button-facebook-on
{
    background-image: url(images/login-social-facebook-on.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:25px;
    text-align:left;
}

#kit-social-tip
{
    float:left;
    width:313px;
    height:26px;
    margin-top:32px;
    line-height:26px;
    background-image: url(images/register-usermail-tip.png);
    color:#7F7F7F;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    text-align:left;
    padding-top:0px;
    padding-left:12px;
    padding-right:6px;
    padding-bottom:0px;
    display:none;    
}

.social-kit-published-text-input-mail
{
    float:left;
    width:266px;
    height:36px;
    margin-top:28px;
    margin-left:15px;
    margin-right:0px;
    line-height:36px;
    background-image: url(images/password-recovery-input.png);
    padding-left:12px;
}

.social-kit-published-text-input-mail input
{
    float:left;
    width:254px;
 	border:none !important;
 	padding:0px;
 	margin:0px;
 	margin-top:8px;
 	font-size:14px;
 	color:#000000;
 	background-color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
	border-color:transparent !important;    
}

#timeline-kit-published-button-twitter-img
{
    background-image: url(images/register-button-twitter.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

#timeline-kit-published-button-facebook-img
{
    background-image: url(images/register-button-facebook.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:25px;
    text-align:left;
}

.timeline-kit-published-button-twitter-img-on
{
    background-image: url(images/login-social-twitter-on.png) !important;
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

.timeline-kit-published-button-facebook-img-on
{
    background-image: url(images/login-social-facebook-on.png) !important;
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:25px;
    text-align:left;
}

/**

   FI SOCIAL FORM

**/

#timeline-kit-search-container-categories-borders
{
    float:left;
    width:710px;
    height:1px;
    margin-left:14px;
    margin-bottom:10px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-kit-search-container-category-books-border
{
	float:left;
	width:30px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-series-border
{
	float:left;
	width:36px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-music-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-cinema-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}    