﻿body 
{
    background-image: url(images/bg_all.gif) !important; 
    background-repeat: repeat;
}

#top-header-wide
{
    position: fixed;
    top:0px;
    float: left;    
    width:100%;
    height:45px;
    line-height:45px;
    margin:0;
    padding:0;
    background-image: url(images/top-header-background.png); 
    background-repeat: repeat;
    z-index:15;
}

#top-header-content
{
    width:950px;
    height:45px;
    line-height:45px;
    margin:0 auto;
    padding:0;
    font-family:Arial;
    font-size:12px;
    color:#FFFFFF;
}

#top-header-wide-logo
{
    float: left;    
    width:80px;
    height:21px;
    margin-top:12px;
    margin-left:22px;
    background-image: url(images/top-header-logo.png); 
    cursor:pointer;
}

#top-header-wide-language
{
    float:right;
}

#top-header-wide-login
{
    float:right;    
    margin-right:25px;
    font-weight:bold;
    cursor:pointer;
}

.language-link
{
    text-decoration:none !important;
    color:#FFFFFF !important;    
}

a.language-link:hover
{
    text-decoration:none !important;
    color:#F15B27 !important;    
}

.selected-language
{
    text-decoration:underline !important;
    color:#F15B27 !important;      
}

#top-home-container
{
    float:left;
    width:750px;
    height:204px;
    margin-top:80px;
    margin-left:100px;
    /*margin:35px auto 10px;    */
    background-image: url(images/home-top-container.png); 
}

#top-home-container-left
{
    float:left;    
    width:500px;
}
#top-home-container-text
{
    float:left;
    width:500px;
    height:50px;
    margin-top:30px;
    margin-left:50px;    
    line-height:24px;
    color:#666666;
    font-size:24px;
    font-family:Arial;
}

#top-home-container-fb-button
{
    float:left;
    width:102px;
    height:70px;
    margin-top:20px;
    margin-left:180px;
    background-image: url(images/home-fb-button.png); 
    color:#FFFFFF;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    line-height:70px;
    padding-left:95px;
}

#top-home-container-right
{
    float:right;
    width:160px;
    height:100px;
    margin-top:30px;
    margin-right:32px;
    background-image: url(images/home-top-contanier-recomendations.png); 
}

#top-home-container-right-recomendations
{
    float:left;
    height:30px;
    line-height:30px;
    margin-left:37px;
    font-size:12px;
    font-family:Arial;
    font-weight:bold;
    color:#666666;    
}
#top-home-container-right-counter
{
    float:left;
    width:144px;
    height:60px;
    line-height:60px;
    margin-left:9px;
    font-size:18px;
    font-family:Arial;
    font-weight:bold;
    color:#666666;
    text-align:center;     
}

#top-home-container-right-social
{
    float:right;
    width:160px;
    height:18px;
    margin-top:12px;
    margin-right:32px;
}
#top-home-container-right-twitter
{
    float:right;
    width:19px;
    height:16px;
    margin-top:2px;
    background-image: url(images/home-twitter-button.png);     
    cursor:pointer;
}
#top-home-container-right-facebook
{
    float:right;
    width:7px;
    height:18px;
    margin-right:8px;
    background-image: url(images/home-facebook-button.png);     
    cursor:pointer;
}

#top-header-filter-wide
{
    position: fixed;
    float: left;    
    width:100%;
    height:22px;
    line-height:22px;
    margin:0;
    padding:0;
    top:44px;
    background-image: url(images/top-filter-menu-background.png); 
    background-repeat: repeat;
    z-index:10;
    text-align:center;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    color:#000000;
}

#top-header-wide-search
{
    float: left;    
    width:206px;
    height:22px;
    line-height:22px;
    margin-top:12px;
    margin-left:15px;
    background-image: url(images/top-header-search-container.png); 
}


#top-header-wide-search-input input
{
    width:182px;
    background:none;
    border:0;
    border-color:transparent;
    /*direction:RTL;
    -webkit-direction:rtl;*/
    font-size:11px;
    margin-left:2px;
	color:#acabab;
    font-family: Arial, Helvetica, sans-serif;
}

#top-header-wide-search-input
{
    float:left;
    width:184px;
    height:23px;
    line-height:23px;
}

#top-header-wide-search-button
{
    float:left;
    width:15px;
    height:15px;
    margin-top:4px;
    margin-left:4px;
	cursor:pointer;
}

#top-header-menu-user
{
    position:relative;
    float:right;
    height:45px;
    line-height:45px;
    margin-right:10px;
    font-size:12px;
    font-weight:bold;
    font-family:Arial;
    cursor:pointer;
}
#top-header-menu-likekit
{
    position:relative;
    float:right;
    height:45px;
    line-height:45px;    
    font-size:12px;
    font-weight:bold;
    font-family:Arial;
    cursor:pointer;    
}
#top-header-menu-inicio
{
    float:right;
    height:45px;
    line-height:45px;    
    font-size:12px;
    font-weight:bold;
    font-family:Arial;
    cursor:pointer;    
}

.top-header-menu-separator
{
    float:right;
    height:45px;
    line-height:45px;    
    padding-left:10px;
    padding-right:10px;
}

#top-header-kit-button
{
    float:right;
    width:118px;
    height:21px;
    margin-top:13px;
    line-height:21px;
    padding-left:7px;
    color:#FFFFFF;
    font-size:12px;
    font-family:Arial;
    /*font-weight:bold;*/
	background-image:url('images/top-header-kit-button.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.top-header-kit-button-on
{
	background-image:url('images/top-header-kit-button.png') !important;
	background-position: 0px -21px !important;
	color:#666 !important;
}

.top-header-kit-button-on h1
{
	color:#666 !important;
}

#top-header-filter-container
{
    height:22px;
    padding-left:10px;
    padding-right:10px;
    margin:0 auto;
    cursor:pointer;    
}
#top-header-filter-container h1{
	font-size:11px;
	margin-top:0;
	font-weight:bold;
}

#top-header-filter-tooltip-container
{
    position:relative;
    width:30px;
    height:22px;
    padding-left:10px;
    padding-right:10px;
    margin:0 auto;
}

#top-header-filter-tooltip
{
    position:relative;
    top:-18px;
    left:-32px;
    width:394px;
    height:48px;
    line-height:54px;
    margin-top:13px;
    background-image:url('images/top-header-filter-tooltip.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;    
	display:none;
    font-size:11px;
    font-family:Arial;
    font-weight:normal;
    color:#666666;	
	text-align:center;
}

#top-header-likekit-menu
{
    position:absolute;
    top:25px;
    left:-25px;
    width:173px;
    height:163px;
    background-image:url('images/likekit-hover-menu.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	padding:15px;
	padding-top:20px;
	z-index:20;
	display:none;
}

#top-header-user-menu
{
    position:absolute;
    top:20px;
    left:-30px;
    width:206px;
    height:242px;
    background-image:url('images/user-hover-menu.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	padding:20px;
	padding-top:25px;
	z-index:20;
	display:none;
}

#top-header-kit-button h1{font-size:12px;margin-top:0px;color:#FFFFFF;}


#footer-wide
{
    position:fixed;
    bottom:0px;
    float: left;    
    width:100%;
    height:36px;
    line-height:36px;
    margin:0;
    padding:0;
    background-image: url(images/home-footer-background.png); 
    background-repeat: repeat;
    z-index:200;    
}
#footer-wide-content{
    width:950px;
    height:36px;
    line-height:36px;
    margin:0 auto;
    padding:0;
    font-family:Arial;
    font-size:12px;
    color:#FFFFFF;
}

.footer-wide-content-link{float:left;line-height:36px; font-size:12px;color:#FFFFFF;font-family:Arial;text-align:center;padding-left:10px;padding-right:10px;cursor:pointer;}
.footer-wide-content-link-sep{float:left;border-right:1px solid #FFFFFF;width:1px;height:12px;margin-top:12px;}
.footer-wide-content-link-first{margin-left:300px;}

#menu-user-interactions-text{width:90px;margin-left:5px !important; padding-left:0px;}
#menu-user-interactions-inside{float:right !important;margin-top:8px !important;}