﻿/**

    NOWWITH

**/
	
#nowwith
{
    position:relative;
	float:left;
	width:760px;
	/*margin-top:67px;*/
	margin-top:90px;
	margin-left:108px;
	height:100%;
	z-index:1;
}

#nowwith-kits-container
{
    position:relative;
	float:left;
	width:760px;
	height:100%;
	z-index:1;
}
	
.nowwith-entry{
	float: left;
	width: 230px;
	margin:0;
	margin-top:20px;
	margin-right:20px;
	padding:0;
	padding-bottom:20px;
	/*background: #D8D5D2;*/
	/*border-bottom:1px dotted #F15B27;*/
	
}

.nowwith-entry-info
{
    position:absolute;
    top:0;
    left:0;
    bottom:23px;
    width:196px;
    background-image: url(images/timeline-entry-transparent.png); 
    background-repeat: repeat;
    padding-top:20px;
    padding-left:12px;
    padding-right:12px;
    z-index:50;
    display:none;
}
	
.nowwith-entry-image{
	float:left;
	width: 220px;
	min-height: 220px;
	height: auto !important;
	height: 220px;
	z-index:1;
	cursor:pointer;
	
}
	
.nowwith-entry-options{
	float:left;
	width: 220px;
	height:22px;
	line-height:22px;
	background-color:#7F807F;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;	
	color:#363636;
}
	
.nowwith-entry-info-title
{
    float:left;
    width:196px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#000000;
}	

.nowwith-entry-info-user
{
    float:left;
    width:220px;
    height:34px;
    background-color:#7F807F;
    border-bottom:1px solid #FFFFFF;
    margin-top:-4px;/* elimina el margin que afegeix l'imatge */
}

.nowwith-entry-info-user-image
{
    float:left;
    width:28px;
    height:28px;
    padding:3px;
    cursor:pointer;
    overflow:hidden;
}	

.nowwith-entry-info-username
{
    float:left;
    width:155px;
    height:34px;
    margin-left:3px;
    line-height:34px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;
}	

.nowwith-entry-info-kit-link-container
{
    float:left;
    width:196px;
    padding-top:5%;
    padding-bottom:8%;
}

.nowwith-entry-info-kit-link-container-border
{
    float:left;
    width:196px;
    margin-top:23px;    
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;    
    padding-top:6px;
    padding-bottom:6px;
}

.nowwith-entry-info-kit-link
{
    float:left;
    width:172px;
    height:16px;
    line-height:16px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
	background-image:url('images/kit-entry-rekit.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:24px;    
}

.nowwith-entry-info-like-link
{
    float:left;
    width:172px;
    height:13px;
    margin-top:8px;
    line-height:13px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
	background-image:url('images/kit-entry-like.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:24px;
}

.nowwith-entry-info-like-link-on
{
	background-image:url('images/like_on.png') !important;
	color:#FFFFFF !important;
}

.nowwith-entry-info-dislike-link
{
    float:left;
    width:172px;
    height:13px;
    margin-top:8px;
    line-height:13px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
	background-image:url('images/dislike.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:24px;
}

.nowwith-entry-info-dislike-link-on
{
	background-image:url('images/dislike.png') !important;
	color:#FFFFFF !important;
}

.nowwith-entry-info-comment-link
{
    float:left;
    width:172px;
    height:13px;
    margin-top:16px;
    line-height:13px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
	background-image:url('images/kit-entry-comment.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:24px;
}

.nowwith-entry-options-likes
{
    float:left;
    width:59px;
	height:22px;
	line-height:22px;
    text-align:center;
}

.nowwith-entry-options-comments
{
    float:left;
    width:102px;
	height:22px;
	line-height:22px;
    text-align:center;
    cursor:pointer;
}

.nowwith-entry-options-kits
{
    float:left;
    width:58px;
	height:22px;
	line-height:22px;
    text-align:center;    
}

.nowwith-entry-options-number
{
    color:#FFFFFF;
}

.nowwith-to-top
{
    position:relative;
    float:left;
    width:700px;
    background-color:transparent;      
}

.to-top
{
    position:absolute;
    width:15px;
    height:12px;
    bottom:-10px;
    right:-35px;
    cursor:pointer;
    z-index:30;
}

.to-top img
{
    border:none;
}

.top-header-wishlist
{
    float:left;
    width:300px;    
}

#wishlist-header-image
{
    float:left;
    width:28px;
    height:28px;
    overflow:hidden;    
}

#wishlist-header-username
{
    float:left;
    width:255px;
    height:30px;
    margin-left:15px;
    line-height:15px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#F15B27;
    text-align:left;    
}

.nowwith-entry-info-delete-link
{
    position:absolute;
    bottom:36px;
    width:196px;
    height:26px;
    line-height:26px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
    text-align:center;
    cursor:pointer;
}

.nowwith-entry-add-content
{
    width:220px;
    height:300px;    
    background-color:#666666;
    background-image: url(images/profile-now-with-add.png); 
    background-repeat:no-repeat;
    background-position:center center;
    z-index:50;
    cursor:pointer;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;
}

/**

   FI NOWWITH

**/

/**

    NOW WITH

**/

#timeline-now-with-modal
{
    position:absolute;
    top:0;
    left:0;
    bottom:0px;
    width:725px;
    z-index:50;
    display:none;
}

.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
#timeline-now-with-container
{
    float:left;
    width:725px;
    height:500px;
}

#timeline-now-with-header
{
    float:left;
    width:725px;
    height:76px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;    
}

#timeline-now-with-title-container
{
    float:left;
    width:725px;
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#FFFFFF;    
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-now-with-title
{
    float:left;
    width:664px;
    text-align:center;
}

#timeline-now-with-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

#timeline-now-with-search
{
    float:left;
    width:725px;
    /*height:70px;*/
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

#timeline-now-with-search-container
{
    /*float:left;
    width:448px;
    height:20px;
    margin-top:24px;
    margin-left:14px;
    line-height:20px;
    border-bottom:2px solid #FFFFFF;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      */
    float:left;
    width:575px;
    height:22px;
    margin-top:10px;
    margin-left:14px;
    line-height:22px;
	background-image:url('images/kit_proces_input.png');
	background-repeat:no-repeat;
	background-position: left center;    
    /*border-bottom:2px solid #FFFFFF;*/
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000; 	
}

#timeline-now-with-search-container input
{
    /*float:left;
    width:448px;
    height:20px;
    margin:0px;
    padding:0px;
	border:none;
	border-color:transparent;
	font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background-repeat:no-repeat;
    background-color: transparent;    */
    float:left;
    width:570px;
    height:22px;
    line-height:22px;
    margin:0px;
    padding:0px;
    padding-left:5px;
	border:none;
	border-color:transparent;
	/*font-family: 'MinionProRegular';
	font-style: italic;*/
	font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background-repeat:no-repeat;
    background-color: transparent;    	
}

#timeline-now-with-search-result-container
{
    float:left;
    width:772px;
    margin-top:12px;
    margin-left:14px;
    display:none;
}

.timeline-now-with-search-result
{
    float:left;
    width:448px;
    /*height:17px;*/
    line-height:17px;
    border-bottom:1px dotted #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;	
}

.timeline-now-with-search-result-title
{
    float:left;
    width:395px;
    text-align:left;
}

.timeline-now-with-search-result-category
{
    float:right;
    width:53px;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
}

#timeline-now-with-form
{
    float:left;
    width:725px;
    padding-top:16px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:40px;
    display:none;
}

#timeline-now-with-form-product-data
{
    float:left;
    width:725px;
}

#timeline-now-with-product-image
{
    float:left;
    width:220px;
}

#timeline-now-with-product-info
{
    float:left;
    width:220px;
    margin-left:18px;    
}

#timeline-now-with-product-title
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#363636;
}

#timeline-now-with-product-author
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-now-with-product-year
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-now-with-product-moreinfo
{
    float:left;
    width:220px;
    padding-top:14px;
    padding-bottom:14px;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-now-with-product-moreinfo-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-up-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;
}

.moreinfo-selected
{
	background-image:url('images/kit-down-arrow.png') !important;
}

#timeline-now-with-product-moreinfo-container
{
    float:left;
    width:220px;    
    display:none;
}
.timeline-now-with-product-moreinfo-text
{
    float:left;
    width:208px;
    line-height:18px;
    color:#FFFFFF;
}

.black
{
    color:#000000;    
}

.white
{
    color:#FFFFFF;    
}

#timeline-now-with-add-tags
{
    float:left;
    width:220px;
    height:18px;
    margin-top:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;
    cursor:pointer;
}

#timeline-now-with-add-tags-container
{
    float:left;
    width:220px;
    margin-top:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#00000;
    display:none;   
}

#timeline-now-with-add-tags-container textarea
{
    float:left;
	width:220px;
	height:18px;
	background-color:transparent;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;    
}

#timeline-now-with-recommended-tags
{
    float:left;
    width:220px;      
}

#timeline-now-with-recommended-tags-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-up-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;    
}

#timeline-now-with-recommended-tags-container
{
    float:left;
    width:220px;      
    display:none;
    padding-bottom:8px;
}

.timeline-now-with-recommended-tags-text
{
    float:left;
    width:208px;
    height:18px;
    line-height:18px;
    color:#363636;
    background-image:url('images/kit-tags-plus.png');
	background-repeat:no-repeat;
	background-position: right center;
    border-bottom:1px dotted #FFFFFF;
    cursor:pointer;
    padding-right:12px;
    text-align:left;    
}

.timeline-now-with-recommended-selected
{
    color:#FFFFFF;
    background-image:url('images/kit-tags-minus.png');
}

#timeline-now-with-comment
{
    float:left;
    width:667px;
    height:72px;
    margin-top:14px;
    margin-left:16px;
    background-image:url('images/kit-form-comment.png');
	background-repeat:no-repeat;
	background-position: center center;
}

.timeline-now-with-comment-input
{
    float:left;
    margin-top:8px;
    margin-left:14px;
    line-height:16px;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    color:#363636;    
    width:639px;
    height:36px;
}

.timeline-now-with-comment-input textarea
{
    float:left;
	width:639px;
	height:32px;
	background-color:#FFFFFF;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;
}

#timeline-now-with-comment-counter
{
    float:right;
    width:50px;
    height:18px;
    margin-top:4px;
    margin-right:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#C0C0C0;     
    text-align:right;
}

#timeline-now-with-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:18px;
    margin-left:15px;
    background-image:url('images/kit-form-button.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;	
}

.timeline-now-with-button-on
{
 
    background-image:url('images/kit-form-button-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

.timeline-now-with-search-result-noresults-title
{
    float:left;
    width:672px;
    height:18px;
    line-height:18px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
}

.timeline-now-with-search-result-noresults-text
{
    float:left;
    width:672px;
    line-height:18px;
    margin-top:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;     
}

#timeline-now-with-seach-button
{
    float:right;
    width:110px;
    height:22px;
    line-height:22px;
    margin-top:10px;
    margin-right:18px;
    background-image:url('images/kit-search.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;
    cursor:pointer;	
}

.timeline-now-with-seach-button-on
{
 
    background-image:url('images/kit-search-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

#timeline-now-with-webservice-search
{
    float:left;
    width:725px;
    height:74px;
    margin-top:12px;
    background-image:url('images/kit-search-webservice.png');
	background-repeat:no-repeat;
	background-position: center center;    
    display:none;
}

#timeline-now-with-webservice-search-loader
{
    float:left;
    width:36px;
    height:36px;
    margin-top:27px;
    margin-left:12px;
    background-image:url('images/likekit_loader.gif');
	background-repeat:no-repeat;
	background-position: center center;
}

#timeline-now-with-webservice-search-text
{
    float:left;
    width:627px;
    height:36px;
    margin-top:27px;
    margin-left:12px;    
    line-height:36px;
    text-align:left;
}

#timeline-now-with-search-container-categories
{
    float:left;
    width:660px;
    height:40px;
    margin-top:14px;
    margin-left:14px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-now-with-search-container-category-books
{
    float:left;
    width:30px;
    height:37px;
	background-image:url('images/kit-form-book.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-books-on
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-books-selected
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-now-with-search-container-category-series
{
    float:left;
    width:36px;
    height:33px;
    margin-left:20px;
	background-image:url('images/kit-form-serie.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-series-on
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-series-selected
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-now-with-search-container-category-music
{
    float:left;
    width:40px;
    margin-top:5px;
    height:26px;
    margin-left:20px;
	background-image:url('images/kit-form-music.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-music-on
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-music-selected
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-now-with-search-container-category-cinema
{
    float:left;
    width:40px;
    height:34px;
    margin-left:20px;
	background-image:url('images/kit-form-cinema.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-cinema-on
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-cinema-selected
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

/**

    FI NOW WITH

**/

#timeline-kit-search-container-categories-borders
{
    float:left;
    width:660px;
    height:1px;
    margin-left:14px;
    margin-bottom:10px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-kit-search-container-category-books-border
{
	float:left;
	width:30px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-series-border
{
	float:left;
	width:36px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-music-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-cinema-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}    