﻿#main-login
{
    padding-bottom:0px;
    background-color: rgb(255, 255, 255); box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;
}

#password-recovery-content
{
    position:relative;
    float:left;
    width: 783px;
    height:345px;
    z-index:1000;
	text-align:center;
    /*background-color:#EAEAEA;*/
}

.password-recovery-content-title
{
    float:left;
    width:768px;
    height:18px;
    margin-left:15px;
    margin-top:40px;
    line-height:18px;
    color:#F15B27; 
	  
    /*background-color:#EAEAEA;*/
}
   
.password-recovery-content-title h2
{
    font-size:18px;
    color:#F15B27;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    padding:0;
    margin:0;
	
    /*background-color:#EAEAEA;*/
}

.password-recovery-content-text
{
    float:left;
    width:500px;
    margin-left:150px;
    margin-top:18px;
  
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636; 
	  
    /*background-color:#EAEAEA;*/
}

.password-recovery-content-input
{
    float:left;
    width:266px;
    height:36px;
    margin-top:28px;
    margin-left:15px;
   margin-right:400px;
    line-height:36px;
    background-image: url("images/password-recovery-input.png");
    padding-left:12px;
}

.password-recovery-content-input input
{
    float:left;
    width:216px;
	height:26px;
 	border:none !important;
 	padding:2px;
 	margin-left:280px;
 	margin-top:8px;
 	font-size:12px;
 	color:#000000;
 
    font-family: Arial, Helvetica, sans-serif;
	border-color:transparent !important;
	background-image:url("images/login-input.png");  
}

#password-recovery-button
{
    float:left;
    width:140px;
    height:30px;
    margin-top:16px;
    margin-left:320px;
    line-height:30px;
    background-image: url(images/bt.png);
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    text-align:center;
    cursor:pointer;
}

#password-recovery-button.disabled
{
    background-image: url(images/bt_on.png);
    cursor:default;
}

#password-recovery-tip
{
    float:left;
    width:198px;
    height:32px;
    margin-left:30px;
    line-height:16px;
    background-image: url(images/password-recovery-tip.png);
    color:#7F7F7F;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    text-align:left;
    padding-top:12px;
    padding-left:6px;
    padding-right:6px;
    padding-bottom:3px;
    display:none;
}

#password-recovery-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:25px;
    margin-left:700px;
    margin-right:20px;
    background-image: url(images/profile-followers-close.png);
    cursor:pointer;
}

#password-update-button
{
    float:left;
    width:140px;
    height:30px;
    margin-top:16px;
    margin-left:15px;
    line-height:30px;
    background-image: url(images/bt_on.png);
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    text-align:center;
    cursor:pointer;
}

#password-update-button.disabled
{
    background-image: url(images/bt.png);
    cursor:pointer;
}

#password-update-tip
{
    float:left;
    width:198px;
    height:32px;
    margin-left:30px;
    line-height:16px;
    background-image: url(images/password-recovery-tip.png);
    color:#7F7F7F;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    text-align:left;
    padding-top:12px;
    padding-left:6px;
    padding-right:6px;
    padding-bottom:3px;
    display:none;
}

.password-recovery-password-info
{
    float:left;
    width:700px;
    height:18px;
    margin-top:2px;
    margin-left:15px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;        
    font-size:12px;
    color:#7F7F7F;
}

.margin-top-10
{
    margin-top:10px !important;    
}