font-face {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}
body {
	margin: 0px; padding: 0px; height: 100%; color: rgb(105, 105, 105); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: url(images/bg_all.gif);
	
}
a:link {
	color: rgb(3, 74, 243); text-decoration: underline;
}
a:visited {
	color: rgb(80, 90, 188);
}
a:hover {
	color: rgb(29, 96, 255); text-decoration: none;
}
a:active {
	color: rgb(18, 235, 135);
}
p {
	line-height: 1.6em; margin-bottom: 20px;
}
ul {
	line-height: 1.6em; margin-bottom: 20px;
}
header {
	display: block;
}
footer {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
h1 {
	color: rgb(0, 0, 0); font-size: 1.5em;
}
h2 {
	color: rgb(0, 0, 0); font-size: 1.5em;
}
h3 {
	color: rgb(0, 0, 0); font-size: 1.5em;
}
h4 {
	color: rgb(0, 0, 0); font-size: 1.5em;
}
h5 {
	color: rgb(0, 0, 0); font-size: 1.5em;
}
h6 {
	color: rgb(0, 0, 0); font-size: 1.5em;
}
h1 {
	padding-bottom: 0px; font-size: 2em; margin-bottom: 0px;
}
h2 {
	padding: 0px 0px 10px;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
}
.page {
	width: 90%; margin-right: auto; margin-left: auto;
}
header {
	padding: 0px; color: rgb(0, 0, 0); margin-bottom: 0px; position: relative;
}
#header {
	padding: 0px; color: rgb(0, 0, 0); margin-bottom: 0px; position: relative;
}
header h1 {
	margin: 0px; padding: 5px 0px; border: currentColor; color: rgb(255, 255, 255); line-height: 2em; font-size: 32px !important; font-weight: bold; text-shadow: 1px 1px 2px #111;
}
#header h1 {
	margin: 0px; padding: 5px 0px; border: currentColor; color: rgb(255, 255, 255); line-height: 2em; font-size: 32px !important; font-weight: bold; text-shadow: 1px 1px 2px #111;
}
footer {
	margin: 0px 0px 30px; padding: 10px 30px 0px; border-radius: 0px 0px 4px 4px; width: 100%; text-align: center; color: rgb(153, 153, 153); line-height: normal; font-size: 0.9em; float: left; background-color: rgb(255, 255, 255); -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
}
#footer {
	margin: 0px 0px 30px; padding: 10px 30px 0px; border-radius: 0px 0px 4px 4px; width: 100%; text-align: center; color: rgb(153, 153, 153); line-height: normal; font-size: 0.9em; float: left; background-color: rgb(255, 255, 255); -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
}
ul#menu {
	margin: 0px; padding: 0px 0px 2px; text-align: right; border-bottom-color: rgb(92, 135, 178); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
ul#menu li {
	list-style: none; display: inline;
}
ul#menu li#greeting {
	padding: 10px 20px; color: rgb(255, 255, 255); line-height: 2.8em; font-weight: bold; text-decoration: none;
}
ul#menu li a {
	padding: 10px 20px; border-radius: 4px 4px 0px 0px; color: rgb(3, 74, 243); line-height: 2.8em; font-weight: bold; text-decoration: none; background-color: rgb(232, 238, 244); -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0;
}
ul#menu li a:hover {
	text-decoration: none; background-color: rgb(255, 255, 255);
}
ul#menu li a:active {
	text-decoration: none; background-color: rgb(166, 226, 166);
}
ul#menu li.selected a {
	color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
fieldset {
	margin: 0px 0px 1.5em; padding: 0px 1.4em 1.4em; border: 1px solid rgb(221, 221, 221);
}
legend {
	font-size: 1.2em; font-weight: bold;
}
input[type='text'] {
	padding: 2px; border: 1px solid rgb(204, 204, 204); width: 200px; color: rgb(68, 68, 68); font-size: 1.2em;
}
input[type='password'] {
	padding: 2px; border: 1px solid rgb(204, 204, 204); width: 200px; color: rgb(68, 68, 68); font-size: 1.2em;
}
select {
	padding: 2px; border: 1px solid rgb(204, 204, 204); color: rgb(68, 68, 68); font-size: 1.2em;
}
input[type='submit'] {
	padding: 5px; font-size: 1.2em;
}
.clear {
	clear: both;
}
.error {
	color: red;
}
nav {
	margin-top: 40px;
}
#menucontainer {
	margin-top: 40px;
}
div#title {
	text-align: left; float: left; display: block;
}
#logindisplay {
	margin: 10px; text-align: right; color: white; font-size: 1.1em; display: block;
}
#logindisplay a:link {
	color: white; text-decoration: underline;
}
#logindisplay a:visited {
	color: white; text-decoration: underline;
}
#logindisplay a:hover {
	color: white; text-decoration: none;
}
.field-validation-error {
	color: rgb(255, 0, 0);
}
.field-validation-valid {
	display: none;
}
.input-validation-error {
	border: 1px solid rgb(255, 0, 0); background-color: rgb(255, 238, 238);
}
.validation-summary-errors {
	width: 780px; color: rgb(241, 91, 39); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin-top: 18px; float: left;
}
.validation-summary-valid {
	display: none;
}
.display-label {
	margin: 1em 0px 0px;
}
.editor-label {
	margin: 1em 0px 0px;
}
.display-field {
	margin: 0.5em 0px 0px;
}
.editor-field {
	margin: 0.5em 0px 0px;
}
.text-box {
	width: 30em;
}
.multi-line.text-box {
	height: 6.5em;
}
.tri-state {
	width: 6em;
}
#timeline {
	width: 722px; margin-top: 10px; float: left;
}
.timeline-entry {
	width: 722px; float: left;
}
.timeline-entry-data {
	border: 1px solid rgb(0, 0, 0); width: 698px; margin-bottom: 10px; float: left;
}
.timeline-entry-comment {
	border: 1px solid rgb(0, 0, 0); width: 598px; margin-bottom: 10px; float: right;
}
.main-kit-button {
	width: 100px; height: 50px; text-align: center; color: white; line-height: 50px; font-size: 24px; float: left; cursor: pointer; background-color: red;
}
.modal-kit {
	padding: 8px; border-radius: 14px; display: none; position: absolute;
}
#mask {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; filter: alpha(opacity=50); position: fixed; opacity: 0.5;
}
.button {
	background: rgb(147, 80, 36); padding: 20px; border-radius: 3px; border: 1px solid rgb(86, 47, 21); color: rgb(255, 255, 255); font-size: 20px; font-weight: normal; margin-right: 0.5em; display: inline-block; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#935024', endColorstr='#6a3a1a',GradientType=0 ); cursor: pointer; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 0px 25px rgba(0,0,0,0.3); text-shadow: 1px 1px 1px #7f130a;
}
.button:hover {
	background: rgb(167, 91, 41); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a75b29', endColorstr='#7e451f',GradientType=0 );
}
.button:active {
	box-shadow: 0px 0px 25px rgba(0,0,0,0.3), inset 0px 0px 20px #412410;
}
.overlay-container {
	left: 0px; top: 0px; width: 100%; height: 100%; display: none; filter: alpha(opacity=70); position: absolute; opacity: 0.7; background-color: rgb(204, 204, 204);
}
.window-container {
	background: rgb(252, 252, 252); margin: 8em auto; padding: 10px 20px 20px; border-radius: 3px; width: 500px; text-align: left; display: block; filter: alpha(opacity=0); z-index: 3; opacity: 0; box-shadow: 0px 0px 30px rgba(0,0,0,0.2); -webkit-transition: 0.4s ease-out; -moz-transition: 0.4s ease-out; -ms-transition: 0.4s ease-out; -o-transition: 0.4s ease-out; transition: 0.4s ease-out;
}
.zoomin {
	-ms-transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); transform: scale(1.2);
}
.zoomout {
	-ms-transform: scale(0.7); -webkit-transform: scale(0.7); -moz-transform: scale(0.7); transform: scale(0.7);
}
.window-container-visible {
	opacity: 1; -ms-transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);
}
.window-container h3 {
	margin: 1em 0px 0.5em; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: normal;
}
#window-content {
	
}
.close {
	background: rgb(250, 250, 250); margin: 1em auto; padding: 5px 14px; border-radius: 3px; border: 1px solid rgb(170, 170, 170); width: 52px; text-align: center; color: rgb(68, 68, 68); font-family: Helvetica, sans-serif; font-size: 12px; float: right; display: block; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 ); cursor: pointer; box-shadow: 0px 1px 3px #ddd; -webkit-transition: 0.2s linear; -moz-transition: 0.2s linear; -ms-transition: 0.2s linear; -o-transition: 0.2s linear; transition: 0.2s linear;
}
.close:hover {
	background: rgb(254, 254, 254); border: 1px solid rgb(170, 170, 170); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e9e9e9',GradientType=0 ); box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.close:active {
	background: rgb(244, 244, 244); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dcdcdc',GradientType=0 ); box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}
.kit-next {
	background: rgb(250, 250, 250); margin: 1em auto 1em 10px; padding: 5px 14px; border-radius: 3px; border: 1px solid rgb(170, 170, 170); width: 52px; text-align: center; color: rgb(68, 68, 68); font-family: Helvetica, sans-serif; font-size: 12px; float: right; display: block; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 ); cursor: pointer; box-shadow: 0px 1px 3px #ddd; -webkit-transition: 0.2s linear; -moz-transition: 0.2s linear; -ms-transition: 0.2s linear; -o-transition: 0.2s linear; transition: 0.2s linear;
}
.kit-next:hover {
	background: rgb(254, 254, 254); border: 1px solid rgb(170, 170, 170); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e9e9e9',GradientType=0 ); box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.kit-next:active {
	background: rgb(244, 244, 244); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dcdcdc',GradientType=0 ); box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}
ul.ui-autocomplete {
	z-index: 4 !important;
}
.kit-add-image {
	width: 50px; float: left;
}
.kit-add-name {
	width: 350px; margin-left: 10px; float: left;
}
.kit-add-year-author {
	width: 350px; margin-left: 10px; float: left;
}
.kit-add-description {
	width: 350px; margin-left: 10px; float: left;
}
.kit-add-tags-container {
	width: 500px; margin-top: 10px; float: left;
}
.kit-add-recommended-tags {
	width: 500px; margin-top: 10px; float: left;
}
.kit-add-kit {
	width: 470px; margin-top: 10px; float: left;
}
.bg {
	left: 0px; top: 0px; width: 100%; position: absolute; z-index: 1;
}
.bg {
	left: 0px; top: 0px; height: 100%; position: absolute; z-index: 1;
}
.landing-body {
	overflow: hidden; background-color: rgb(255, 255, 255);
}
#landing-content {
	width: 620px; height: 100%; margin-right: auto; margin-left: auto; position: relative; z-index: 1000; background-image: url("images/landing_orange.png"); background-repeat: repeat;
}
.landing-logo {
	width: 345px; height: 103px; margin-top: 98px; margin-left: 135px; float: left; background-image: url("images/likekit.png");
}
.landing-separator {
	width: 460px; height: 2px; margin-top: 13px; margin-left: 80px; float: left; filter: alpha(opacity=75); opacity: 0.75; background-color: rgb(255, 255, 255);
}
#landing-content-form {
	width: 460px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; margin-top: 20px; margin-bottom: 7px; float: left; display: none;
}
.landing-content-separator {
	width: 400px; height: 1px; float: left;
}
.landing-content-mail {
	width: 240px; height: 30px; line-height: 30px; font-size: 14px; float: left; background-image: url("images/input.png");
}
.landing-content-mail input {
	margin: 0px; padding: 0px 0px 0px 15px; border: transparent; width: 220px; height: 30px; font-family: Arial, Helvetica, sans-serif; /*font-style: italic;*/ float: left; background-repeat: no-repeat; background-color: transparent; 
}
#landing-content-button {
	width: 140px; height: 30px; color: white; line-height: 30px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; margin-top: 16px; float: left; cursor: pointer; background-image: url("images/bt.png");
}
.landing-content-button-on {
	background-image: url("images/bt_on.png") !important;
}
#landing-content-msg {
	width: 210px; height: 36px; text-align: left; color: rgb(127, 128, 127); line-height: 14px; padding-top: 12px; padding-right: 7px; padding-left: 8px; font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/ font-size: 12px; margin-top: -2px; margin-left: 39px; float: left; display: none; background-image: url("images/landing-error.png"); background-repeat: no-repeat;
}
.landing-options {
	width: 460px; margin-left: 80px; float: left;
}
.landing-option-1 {
	width: 460px; height: 18px; color: rgb(81, 81, 81); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 18px; margin-top: 75px; float: left; cursor: pointer;
}
.landing-option-separator {
	width: 240px; margin-top: 15px; margin-right: 200px; border-bottom-color: white; border-bottom-width: 1px; border-bottom-style: dotted; float: left;
}
.landing-option-2 {
	width: 460px; height: 18px; color: rgb(81, 81, 81); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 18px; margin-top: 20px; float: left; cursor: pointer;
}
.landing-option-disabled {
	color: rgb(146, 109, 90); cursor: text;
}
.landing-social {
	width: 68px; height: 14px; margin-top: 60px; float: left;
}
.landing-bottom {
	width: 460px; height: 96px; font-family: Arial, Helvetica, sans-serif; margin-left: 80px; border-top-color: white; border-bottom-color: white; border-top-width: 1px; border-bottom-width: 3px; border-top-style: dotted; border-bottom-style: solid; float: left;
}
.landing-bottom-text {
	width: 153px; height: 70px; text-align: left; color: white; line-height: 16px; font-size: 14px; margin-top: 21px; float: left;
}
.landing-bottom-text-1 {
	width: 150px;
}
.landing-bottom-text-2 {
	width: 145px; margin-left: 37px;
}
.landing-bottom-text-3 {
	width: 108px; margin-left: 20px;
}
.landing-bottom-text h2 {
	margin: 0px; padding: 0px; width: 90px; color: white; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 14px; float: left;
}
.bottom-title {
	width: inherit; float: left;
}
.bottom-text {
	width: inherit; margin-top: 5px; float: left;
}
*:focus {
	
}
#landing-login-form {
	width: 460px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; margin-top: 20px; margin-bottom: 7px; float: left; display: none;
}
.landing-login-mail {
	width: 240px; height: 30px; line-height: 30px; font-size: 14px; float: left; background-image: url("images/input.png");
}
.landing-login-mail input {
	margin: 0px; padding: 0px 0px 0px 15px; border: transparent; width: 220px; height: 30px; font-family: Arial, Helvetica, sans-serif; /*font-style: italic;*/ float: left; background-repeat: no-repeat; background-color: transparent;
}
.landing-login-password {
	width: 240px; height: 30px; line-height: 30px; font-size: 14px; margin-top: 10px; float: left; background-image: url("images/input.png");
}
.landing-login-password input {
	margin: 0px; padding: 0px 0px 0px 15px; border: transparent; width: 220px; height: 30px; font-family: Arial, Helvetica, sans-serif; /*font-style: italic;*/ float: left; background-repeat: no-repeat; background-color: transparent;
}
#landing-login-button {
	width: 140px; height: 30px; color: white; line-height: 30px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; margin-top: 16px; float: left; cursor: pointer; background-image: url("images/bt.png");
}
.landing-login-button-on {
	background-image: url("images/bt_on.png") !important;
}
.landing-social-twitter {
	width: 20px; height: 13px; margin-top: 1px; float: left; cursor: pointer; background-image: url("images/social-twitter.png");
}
.landing-social-twitter-on {
	background-image: url("images/social-twitter-on.png") !important;
}
.landing-social-facebook {
	width: 9px; height: 14px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/social-facebook.png");
}
.landing-social-facebook-on {
	background-image: url("images/social-facebook-on.png") !important;
}
.landing-social-t {
	width: 8px; height: 14px; margin-left: 15px; float: left; cursor: pointer; background-image: url("images/social-t.png");
}
.landing-social-t-on {
	background-image: url("images/social-t-on.png") !important;
}
.login-body {
	background-color: rgb(255, 255, 255);
}
#login-content {
	width: 783px; height: 100%; margin-right: auto; margin-left: auto; position: relative; z-index: 1000;margin-top:82px;
}
#login-logo {
	width: 357px; height: 64px; margin-top: 65px; float: left; background-image: url("images/likekit-logo-login-simple.jpg"); background-repeat: no-repeat;
}
#login-social {
	width: 67px; height: 17px; margin-top: 111px; float: right;
}
.login-top-separator {
	width: 783px; height: 1px; margin-top: 8px; float: left; background-color: rgb(245, 130, 79);
}
.login-title {
	width: 783px; height: 14px; color: rgb(241, 91, 39); line-height: 14px; font-weight: bold; margin-top: 63px; float: left;
}
.login-title h2 {
	color: rgb(241, 91, 39); font-size: 14px; font-weight: bold;
}
#main-login {
	width: 100%; padding-bottom: 32px;  float: left; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;z-index:10;
}
.login-form {
	width: 240px; margin-top: 43px; float: left; margin-left:280px;
}
.login-editor-field {
	background-position: center; width: 220px; height: 30px; line-height: 30px; margin-bottom: 5px; float: left; background-image: url("images/login-input.png"); background-repeat: no-repeat;
}
.login-editor-field-error {
	background-position: center; width: 221px !important; height: 31px !important; line-height: 31px !important; margin-bottom: 5px; float: left; background-image: url("images/login-input-error.png") !important; background-repeat: no-repeat;
}
#login-password {
	margin-bottom: 14px !important;
}
.login-editor-field input {
	width:214px;margin: 0px; padding: 0px 0px 0px 5px; border: transparent !important; height: 30px; color: rgb(0, 0, 0); line-height: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; background-color: transparent !important;
}
#passord {
	display: none;
}
#rememberme-check {
	background-position: 0px 5px; width: 15px; height: 18px; float: left; cursor: pointer; background-image: url("images/register-check.png"); background-repeat: no-repeat;
}
.rememberme-on {
	background-image: url("images/register-check-on.png") !important;
}
.login-label {
	height: 18px; color: rgb(0, 0, 0); line-height: 18px; padding-right: 2px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-bottom: 3px; float: left; cursor: pointer;
}
.login-label label {
	margin-top: 3px;
}
#password-recovery-link {
	margin-left: 10px;
}
.login-label-active {
	color: rgb(241, 91, 39);
}
.login-label-selected {
	color: rgb(241, 91, 39) !important;
}
.login-submit {
	width: 220px; margin-top: 22px; float: left;background-image:url('images/login-button-sprite.png');	background-repeat:no-repeat;	background-position: 0px 0px;
}
.login-submit-on {
	width: 220px; margin-top: 22px; float: left; background-image:url('images/login-button-sprite.png');	background-repeat:no-repeat;	background-position: 0px -29px !important;
}
.login-submit input[type='submit'] {
	margin: 0px; padding: 0px; border: transparent; width: 220px; height: 29px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-repeat: no-repeat; background-color: transparent;
}
.login-submit-on input[type='submit'] {
	margin: 0px; padding: 0px; border: transparent; width: 220px; height: 29px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-repeat: no-repeat; background-color: transparent;
}
.login-submit input[type='button'] {
	margin: 0px; padding: 0px; border: transparent; width: 220px; height: 29px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-repeat: no-repeat; background-color: transparent;
}
.login-submit-on input[type='button'] {
	margin: 0px; padding: 0px; border: transparent; width: 220px; height: 29px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-repeat: no-repeat; background-color: transparent;
}
.login-twitter {
	margin: 23px 0px 0px; padding: 0px 10px 0px 0px; border: transparent; width: 92px; height: 27px; text-align: right; color: rgb(255, 255, 255); line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-image: url("images/login-twitter-sprite.png"); background-repeat: no-repeat; background-color: transparent;background-position: 0px 0px;
}
.login-twitter-on {
	margin: 23px 0px 0px; padding: 0px 10px 0px 0px; border: transparent; width: 92px; height: 27px; text-align: right; color: rgb(255, 255, 255); line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-image: url("images/login-twitter-sprite.png"); background-repeat: no-repeat; background-color: transparent;background-position: 0px -27px !important;
}
.login-facebook {
	margin: 23px 0px 0px 15px; padding: 0px 10px 0px 0px; border: transparent; width: 92px; height: 27px; text-align: right; color: rgb(255, 255, 255); line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-image: url("images/login-facebook-sprite.png"); background-repeat: no-repeat; background-color: transparent;background-position: 0px 0px;
}
.login-facebook-on {
	margin: 23px 0px 0px 15px; padding: 0px 10px 0px 0px; border: transparent; width: 92px; height: 27px; text-align: right; color: rgb(255, 255, 255); line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: left; cursor: pointer; background-image: url("images/login-facebook-sprite.png"); background-repeat: no-repeat; background-color: transparent;background-position: 0px -27px !important;
}
.login-social-twitter {
	width: 20px; height: 13px; margin-top: 1px; float: left; cursor: pointer; background-image: url("images/login-social-twitter.png");
}
.login-social-twitter-on {
	background-image: url("images/login-social-twitter-on.png") !important;
}
.login-social-facebook {
	width: 9px; height: 14px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/login-social-facebook.png");
}
.login-social-facebook-on {
	background-image: url("images/login-social-facebook-on.png") !important;
}
.login-social-t {
	width: 8px; height: 14px; margin-left: 15px; float: left; cursor: pointer; background-image: url("images/login-social-t.png");
}
.login-social-t-on {
	background-image: url("images/login-social-t-on.png") !important;
}
.landing-loader {
	width: 16px; height: 16px; margin-top: 7px; margin-left: 62px; float: left; background-image: url("images/loader.gif");
}
#landing-login-content-msg {
	width: 210px; height: 36px; text-align: left; color: rgb(127, 128, 127); line-height: 14px; padding-top: 12px; padding-right: 7px; padding-left: 8px; font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/ font-size: 12px; margin-top: -2px; margin-left: 39px; float: left; display: none; background-image: url("images/landing-error.png"); background-repeat: no-repeat;
}
.landing-likekit-phrase {
	width: 460px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 14px; margin-top: 14px; margin-left: 80px; border-top-color: white; border-top-width: 1px; border-top-style: solid; float: left;
}
.landing-likekit-phrase h1 {
	margin: 0px; padding: 0px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 14px;
}
.landing-likekit-copyright {
	width: 460px; height: 12px; text-align: center; color: rgb(255, 255, 255); line-height: 12px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; margin-top: 24px; margin-left: 80px; float: left;
}
.mail_already_exists {
	width: 190px; height: 36px; line-height: 36px; float: left;
}
#main {
	width: 940px; height: 100%; margin-right: auto; margin-left: auto; position: relative;
}
#header {
	width: 940px; height: auto !important; float: left; position: fixed; z-index: 10; min-height: 60px;
}
#logo-vertical {
	width: 65px; height: 244px; margin-bottom: 11px; margin-left: 9px; float: left; cursor: pointer; background-image: url("images/logo-vertical.png"); background-repeat: no-repeat;
}
#logo-vertical-home {
	width: 65px; height: 244px; margin-bottom: 11px; margin-left: 9px; float: left; cursor: pointer; background-image: url("images/logo-vertical.png"); background-repeat: no-repeat;
}
#left_menu {
	width: 120px; height: auto !important; margin-top: 90px; float: left; position: fixed; z-index: 3 !important; min-height: 132px;
}
.left-menu-separation {
	margin: 10px 87px 10px 13px; width: 60px; height: 1px; border-bottom-color: rgb(241, 91, 39); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.left-menu-separation-long {
	margin: 10px 87px 10px 13px; width: 130px; height: 1px; border-bottom-color: rgb(241, 91, 39); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
#top-header {
	width: 700px; padding-top: 42px; padding-bottom: 11px; margin-left: 160px; border-bottom-color: rgb(241, 91, 39); border-bottom-width: 1px; border-bottom-style: solid; float: left; z-index: 10; background-image: url("images/transparent.png"); background-repeat: repeat;
}
#top-header-border {
	background: rgb(241, 91, 39); width: 700px; height: 1px; margin-left: 160px; float: left; filter: alpha(opacity=50); z-index: 10; opacity: 0.5;
}
#menu-inicio {
	width: 120px; height: 18px; color: rgb(0, 0, 0); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-top: 6px; margin-bottom: 6px; margin-left: 13px; float: left; cursor: pointer;
}
.menu-inicio-on {
	color: rgb(241, 91, 39) !important;
}
#menu-user {
	background-position: right; color: rgb(0, 0, 0); line-height: 18px; padding-right: 12px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-top: 6px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/menu-left-avall.png"); background-repeat: no-repeat;
}
#sobre-likekit {
	background-position: right; height: 18px; color: rgb(0, 0, 0); line-height: 18px; padding-right: 12px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/menu-left-avall.png"); background-repeat: no-repeat;
}
#filter-likekit {
	background-position: right; height: 18px; color: rgb(0, 0, 0); line-height: 18px; padding-right: 12px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-top: 6px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/menu-left-avall.png"); background-repeat: no-repeat;
}
.menu-left-section {
	background-position: right; background-image: url("images/menu-left-avall.png"); background-repeat: no-repeat;
}
.menu-left-section-selected {
	background-position: right; background-image: url("images/menu-left-amunt.png") !important; background-repeat: no-repeat;
}
.menu-filter-section-selected {
	background-position: right; background-image: url("images/menu-left-amunt.png") !important; background-repeat: no-repeat;
}
.menu-left-option {
	background-position: 2px 7px; width: 120px; height: 18px; color: rgb(0, 0, 0); line-height: 18px; padding-left: 13px; font-size: 12px; float: left; cursor: pointer; background-image: url("images/left-option.png"); background-repeat: no-repeat;
}
.menu-left-option-selected {
	background-position: 2px 7px; width: 120px; height: 18px; color: rgb(241, 91, 39); line-height: 18px; padding-left: 13px; float: left; cursor: pointer; background-image: url("images/left-option-selected.png"); background-repeat: no-repeat;
}
.menu-left-option-active {
	background-position: 2px 7px; width: 120px; height: 18px; color: rgb(241, 91, 39); line-height: 18px; padding-left: 13px; float: left; cursor: pointer; background-image: url("images/left-option-selected.png"); background-repeat: no-repeat;
}
.menu-left-option-selected-gris {
	background-position: 2px 7px; width: 120px; height: 18px; color: rgb(204, 204, 204); line-height: 18px; padding-left: 13px; float: left; cursor: pointer; background-image: url("images/left-option-selected.png"); background-repeat: no-repeat;
}
#menu-user-content {
	width: 120px; height: auto !important; margin-bottom: 16px; margin-left: 13px; float: left; display: none; min-height: 108px;
}
.sub-menu-content-text {
	float:left;
	width:120px;
	height:31px;
	margin-left:20px;
	line-height:31px;
	font-size:12px;
	font-weight:normal;
	font-family:Arial;
	color:#000000;
	cursor:pointer;	
}
.active.sub-menu-content-text {
	color: rgb(241, 91, 39) !important;
}
.selected.sub-menu-content-text {
	color: rgb(241, 91, 39) !important;
}
#sobre-likekit-content {
	width: 120px; margin-left: 13px; float: left; display: none;
}
#sobre-likekit-separator {
	width: 120px; height: 16px; margin-left: 13px; float: left;
}
#filter-likekit-separator {
	margin: 16px 60px 10px 13px; width: 60px; height: 1px; border-bottom-color: rgb(241, 91, 39); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
#menu-user-interactions {
	width: 25px; height: 45px; line-height: 45px; margin-right: 10px; float:right;position:relative;;
}
#menu-user-interactions-value {
	background-position: left; width: 25px; height: 15px; margin-top:15px; text-align: center; color: rgb(255, 255, 255); line-height: 15px; float: left; display: none; cursor: pointer; background-image: url("images/interactions.png"); background-repeat: no-repeat;
}
#menu-user-interactions-inside {
	width: 25px; height: 15px; line-height: 16px; margin-top: 1px; margin-left: 0px; float: left;
}
#menu-user-interactions-inside-value {
	background-position: left; width: 25px; height: 15px; text-align: center; color: rgb(255, 255, 255); line-height: 16px; float: left; display: none; cursor: pointer; background-image: url("images/interactions.png"); background-repeat: no-repeat;
}
.menu-user-interactions-text {
	height: 18px; line-height: 18px; padding-right: 3px; float: left;
}
#menu-left-logo-small-container {
	width: 73px; height: 56px; float: left;
}
#menu-left-logo-small {
	width: 60px; height: 30px; margin-top: 2px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/logo-small.png"); background-repeat: no-repeat;
}
#menu-left-logo-small-tip {
	width: 140px; height: 18px; text-align: center; color: rgb(127, 127, 127); line-height: 18px; padding-top: 6px; font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/ font-size: 12px; float: left; display: none; cursor: pointer; background-image: url("images/logo-small-tip.png"); background-repeat: no-repeat;
}
#filter-likekit-content {
	width: 120px; height: auto !important; float: left; display: none; min-height: 282px;
}
#top-header-filter {
	width: 120px; float: left;
}
#top-header-filter table {
	border: transparent;
}
#top-header-filter td {
	vertical-align: top;
}
.top-header-filter-text {
	height: 22px; text-align: left; color: rgb(241, 91, 39); line-height: 22px; clear: both; font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size: 13px; float: left; margin-left:-3px;
}
.top-header-filter-container {
	float: left;
}
#top-header-filter-adavanced {
	width: 500px; float: left; display: none;
}
#top-header-filter-adavanced table {
	border: transparent;
}
#top-header-filter-adavanced td {
	vertical-align: top;
}
#top-search {
	width: 210px; height: 23px; right: 230px; bottom: 15px; line-height: 23px; position: absolute; background-image: url("images/top-search-background.png"); background-repeat: no-repeat;
}
#top-search input {
	border: 0px transparent; width: 182px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-left: 2px;
}
#top-search-input {
	width: 184px; height: 23px; line-height: 23px; float: left;
}
#top-search-lupa {
	width: 15px; height: 15px; margin-top: 4px; margin-left: 4px; float: left; cursor: pointer; background-image: url("images/top-search-lupa.png"); background-repeat: no-repeat;
}
#top-search-separator {
	width: 3px; height: 23px; right: 215px; bottom: 15px; position: absolute; background-image: url("images/timeline-search-separator.png"); background-repeat: no-repeat;
}
#top-kit-button {
	width: 118px; height: 23px; right: 80px; bottom: 15px; color: rgb(255, 255, 255); line-height: 23px; padding-left: 7px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; position: absolute; cursor: pointer; background-image: url("images/kit-button.png"); background-repeat: no-repeat;
}
.top-kit-button-on {
	background-image: url("images/kit-button-on.png") !important;
}
.timeline-search-italic {
	font-family: Arial, Helvetica, sans-serif; /*font-style:italic !important;*/ font-size: 12px;
}
.menu-left-option-disabled {
	background-position: 2px 7px; width: 120px; height: 18px; color: rgb(127, 127, 127); line-height: 18px; padding-left: 13px; font-size: 12px; float: left; background-image: url("images/left-option.png"); background-repeat: no-repeat;
}
.login-italic {
	font-family: Arial, Helvetica, sans-serif; /*font-style:italic !important; */font-size: 12px;
}
.clear {
	clear: both;
}
.login-register {
	width: 785px; margin-top: 20px; border-top-color: rgb(241, 91, 39); border-top-width: 1px; border-top-style: dotted; float: left;text-align:center;
}
.login-register-ask {
	width: 785px;height: 18px; text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 10px; margin-right: 3px; float: left;text-align:center;
}
.login-register-link {
	width: 785px;height: 18px; text-align: left; color: rgb(0, 0, 0); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 10px; float: left;text-align:center;
}
.login-register-link a {
	color: rgb(241, 91, 39); text-decoration: underline;
}
.login-register-link a:link {
	color: rgb(241, 91, 39); text-decoration: underline;
}
.login-register-link a:active {
	color: rgb(241, 91, 39); text-decoration: underline;
}
.login-register-link a:visited {
	color: rgb(241, 91, 39); text-decoration: underline;
}
.login-register-link a:hover {
	color: rgb(241, 91, 39); text-decoration: underline;
}
#login-errors {
	width: 224px; height: 200px; margin-top: 43px; float: left;
}
.login-error-username-container {
	width: 224px; height: 73px; margin-top: 30px; float: left;
}
#login-error-username-tip {
	width: 220px; height: 74px; color: rgb(255, 88, 0); /*line-height: 25px;*/ padding-top:10px; padding-left: 6px; font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/ font-size: 12px; line-height:24px; margin-left: -30px; float: left; display: none; background-image: url("images/login-error-tip.png"); background-repeat: no-repeat;
}
.login-error-password-container {
	width: 224px; height: 73px; margin-top: 5px; float: left;
}
#login-error-password-tip {
	width: 224px; height: 73px; color: rgb(127, 127, 127); /*line-height: 25px;*/padding-top:10px; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/ font-size: 10px; margin-left: -10px; float: left; display: none; background-image: url("images/login-tip.png"); background-repeat: no-repeat;
}
#timeline-left-social {
	width: 130px; margin-top: 2px; margin-left: 13px; float: left;
}
#timeline-social-twitter {
	width: 20px; height: 13px; margin-top: 1px; float: left; cursor: pointer; background-image: url("images/login-social-twitter.png");
}
.timeline-social-twitter-on {
	background-image: url("images/login-social-twitter-on.png") !important;
}
#timeline-facebook {
	width: 9px; height: 14px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/login-social-facebook.png");
}
.timeline-facebook-on {
	background-image: url("images/login-social-facebook-on.png") !important;
}
#timeline-tumblr {
	width: 8px; height: 14px; margin-left: 15px; float: left; cursor: pointer; background-image: url("images/login-social-t.png");
}
.timeline-tumblr-on {
	background-image: url("images/login-social-t-on.png") !important;
}
#timeline-left-fb {
	width: 130px; height: 25px; margin-top: 24px; margin-left: 13px; float: left;
}
#timeline-copyright {
	width: 760px; height: 30px; text-align: center; color: rgb(54, 54, 54); line-height: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; margin-top: 35px; border-top-color: rgb(241, 91, 39); border-top-width: 1px; border-top-style: solid; float: left;
}
#timeline-noresult-modal {
	left: 0px; top: 0px; width: 760px; bottom: 0px; display: none; position: absolute; z-index: 60;
}
.timeline-noresult-modal-container {
	width: 760px; height: 65px; z-index: 60; background-image: url("images/orange-90.png"); background-repeat: repeat;
}
.timeline-noresult-text {
	width: 585px; height: 65px; color: rgb(255, 255, 255); line-height: 65px;font-family: Arial, Helvetica, sans-serif;font-size: 12px; margin-left: 15px; float: left;
}
.timeline-noresult-close {
	background-position: center; width: 18px; height: 18px; margin-top: 23px; margin-right: 18px; float: right; cursor: pointer; background-image: url("images/kit-close.png"); background-repeat: no-repeat;
}
.modal {
	background-image: url("images/transparent.png"); background-repeat: repeat;
}
#que-es-likekit-content {
	width: 128px; height: 27px; text-align: center; color: white; line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-top: 14px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/home_btn.png");
}
.que-es-likekit-content-on {
	background-image: url("images/home_btn_on.png") !important;
}
#home-login-button {
	width: 128px; height: 27px; text-align: center; color: white; line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-top: 14px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/home_btn.png");
}
.home-login-button-on {
	background-image: url("images/home_btn_on.png") !important;
}
#home-register-button {
	width: 128px; height: 27px; text-align: center; color: white; line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; margin-top: 14px; margin-bottom: 5px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/home_btn.png");
}
.home-register-button-on {
	background-image: url("images/home_btn_on.png") !important;
}
.home-copyright {
	width: 128px; height: 27px; text-align: center; color: rgb(54, 54, 54); line-height: 27px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; margin-left: 13px; float: left;
}
#home-twitter {
	width: 20px; height: 13px; margin-top: 11px; float: left; cursor: pointer; background-image: url("images/login-social-twitter.png");
}
.home-twitter-on {
	background-image: url("images/login-social-twitter-on.png") !important;
}
#home-facebook {
	width: 9px; height: 14px; margin-top: 10px; margin-left: 13px; float: left; cursor: pointer; background-image: url("images/login-social-facebook.png");
}
.home-facebook-on {
	background-image: url("images/login-social-facebook-on.png") !important;
}
#home-tumblr {
	width: 8px; height: 14px; margin-top: 10px; margin-left: 15px; float: left; cursor: pointer; background-image: url("images/login-social-t.png");
}
.home-tumblr-on {
	background-image: url("images/login-social-t-on.png") !important;
}
#home-language {
	width: 65px; height: 14px; color: rgb(54, 54, 54); font-size: 12px; margin-top: 8px; margin-left: 15px; float: left; cursor: pointer;
}
.language-link {
	color: rgb(54, 54, 54) !important; text-decoration: none !important;
}
a.language-link:hover {
	color: rgb(241, 91, 39) !important; text-decoration: none !important;
}
.selected-language {
	color: rgb(241, 91, 39) !important; text-decoration: underline !important;
}
#home-video-modal {
	left: 0px; top: 0px; width: 780px; bottom: 0px; display: none; position: absolute; z-index: 60;
}
.home-video-modal-container {
	width: 780px; height: auto !important; margin-top: 20px; float: left; min-height: 503px; background-image: url("images/orange-90.png");
}
.home-video-object {
	width: 700px; height: auto !important; margin-top: 53px; margin-left: 40px; float: left; min-height: 397px;
}
#home-video-close {
	background-position: center; width: 18px; height: 18px; margin-top: 23px; margin-right: 18px; float: right; cursor: pointer; background-image: url("images/kit-close.png"); background-repeat: no-repeat;
}
.timeline-to-top {
	width: 700px; bottom: 10px; margin-bottom: 10px; margin-left: 160px; float: left; display: none; position: fixed; background-color: transparent;
}
.to-top {
	width: 15px; height: 12px; right: -35px; bottom: -10px; position: absolute; z-index: 30; cursor: pointer;
}
.to-top img {
	border: currentColor;
}
#timeline-counter {
	background-position: center; top: 84px; width: 27px; height: 125px; margin-left: 880px; float: left; display: none; position: fixed; cursor: pointer; background-image: url("images/timeline-counter.png"); background-repeat: no-repeat; background-color: transparent;
}
#timeline-counter-value {
	width: 27px; height: 10px; text-align: center; color: white; line-height: 10px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; margin-top: 15px; float: left;
}
.user-trender-small {
	left: 4px; top: 4px; width: 28px; height: 28px; position: absolute; z-index: 70;
}
.user-trender-small-kit-view {
	left: 0px; top: 0px; width: 28px; height: 28px; position: absolute; z-index: 70;
}
.user-trender-small-timeline {
	left: 3px; top: 3px; width: 28px; height: 28px; position: absolute; z-index: 70;
}
.user-trender-medium {
	left: 0px; top: 0px; width: 78px; height: 78px; position: absolute; z-index: 70;
}
.user-trender-medium-88 {
	left: 0px; top: 0px; width: 88px; height: 88px; position: absolute; z-index: 70;
}
#infscr-loading {
	width: 0px; height: 0px;
}
#infscr-loading img {
	display: none;
}
#infscr-loading em {
	display: none;
}
.timeline-kit-recommended-tags-moreinfo-selected {
	background-image: url("images/kit-up-arrow.png") !important;
}
#timeline-date {
	display: none;
}
.ErrorBody {
	color: rgb(255, 255, 255); background-color: rgb(241, 91, 39);
}
.ErrorHeader {
	width: 100%; height: 72px; border-bottom-color: rgb(36, 36, 36); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.ErrorContainer {
	background-position: top; width: 582px; height: 601px; font-family: Arial, Helvetica, sans-serif; margin-right: auto; margin-left: auto; position: relative; background-image: url("images/error_idioma.png") !important; background-repeat: no-repeat;color: rgb(36, 36, 36);
}

.ErrorContainerText1 {
	position:absolute;top:310px;left:28px;font-family: Arial, Helvetica, sans-serif; color:#363636;
}

.ErrorContainerText2 {
	position:absolute;top:375px;left:100px;font-family: Arial, Helvetica, sans-serif; color:#363636;
}

.ErrorContainerText3 {
	position:absolute;top:330px;left:250px;font-family: Arial, Helvetica, sans-serif; color:#363636;
}

.ErrorContainerText4 {
	position:absolute;top:280px;left:400px;font-family: Arial, Helvetica, sans-serif; color:#363636;
}

.ErrorText {
	width: 460px; height: 54px; text-align: center; line-height: 54px; margin-top: 467px; margin-left: 61px; border-top-color: rgb(36, 36, 36); border-bottom-color: rgb(36, 36, 36); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: left;
}
.ErrorLink {
	width: 460px; height: 80px; text-align: center; line-height: 80px; font-family: Arial, Helvetica, sans-serif; margin-left: 61px; float: left;
}
.ErrorLink a {
	color: rgb(36, 36, 36); text-decoration: underline;
}
.ErrorLink a:link {
	color: rgb(36, 36, 36); text-decoration: underline;
}
.ErrorLink a:active {
	color: rgb(36, 36, 36); text-decoration: underline;
}
.ErrorLink a:visited {
	color: rgb(36, 36, 36); text-decoration: underline;
}
.ErrorLink a:hover {
	color: rgb(54, 54, 54); text-decoration: underline;
}
.ErrorCopyright {
	width: 100%; height: 18px; text-align: center; top: 673px; color: rgb(36, 36, 36); line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; position: absolute;
}
#top-fb {
	width: 110px; height: 23px; right: 75px; bottom: 13px; line-height: 23px; position: absolute;
}
#top-header-shadow{position: fixed;top:0px;float: left;width:100%;height:302px;margin:0;padding:0;background-image: url(images/top-shadow-bg.png); background-repeat: repeat;z-index:-1;}
.timeline-copyright-timeline{width:736px !important;}
.timeline-copyright-item{width:702px !important; margin-left:108px;}
.timeline-copyright-profile{width:708px !important;}
.timeline-copyright-invite{width:702px !important; margin-left:108px;}
.timeline-copyright-search-people{width:702px !important; margin-left:108px;}
.timeline-copyright-category-kits{width:736px !important; margin-left:108px;}
.timeline-copyright-likes{width:736px !important;}
.timeline-copyright-now-with{width:736px !important;}
.timeline-copyright-interactions{width:702px !important; margin-left:108px;}
.timeline-copyright-about{width:702px !important; margin-left:108px;}
.timeline-copyright-edit-profile{width:718px !important; margin-left:108px;}
.timeline-copyright-wishlist{width:718px !important;}










/*

	LO QUIERO

*/

.kit-user-loquiero-vendor{float:left;width:102px;height:132px;background-image: url(images/loquiero-vendor-image-container.png);background-position: 0px 0px;background-repeat: no-repeat;margin-top:20px;margin-left:30px;cursor:pointer;}
.kit-user-loquiero-vendor-img{float:left;width:98px; height:98px;margin-top:2px;margin-left:2px;overflow:hidden;}
.kit-user-loquiero-vendor-name{float:left;width:102px;height:30px;line-height:30px; text-align:center;color:#666666;font-family: Arial, Helvetica, sans-serif; font-size: 12px;font-weight:bold;}
#kit-user-loquiero-container{width:671px;z-index:1000;display:none;position:fixed;top:50%;left:50%;margin-left: -335px;}
#kit-user-loquiero-container-top{float:left;width:671px;height:23px;background-image: url(images/loquiero-container-top.png);}
#kit-user-loquiero-container-close{float:right;width:13px;height:15px;margin-right:21px;background-image: url(images/loquiero-close.png);clear:left;cursor:pointer;}
#kit-user-loquiero-container-center{float:left;width:671px;background-image: url(images/loquiero-container-background.png); background-repeat: repeat-y;}
#kit-user-loquiero-container-bottom{float:left;width:671px;height:39px;background-image: url(images/loquiero-container-bottom.png);}

/*

FI LO QUIERO

*/

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}