#timeline {
	width: 760px; height: 100%; margin-left: 108px; float: left; position: relative; z-index: 2;
}
#timeline-kits-container {
	width: 760px; height: 100%; float: left; position: relative; z-index: 1;
}
.timeline-entry {
	margin: 20px 3px 0px 0px; padding: 0px; width: 230px; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;

}
.timeline-entry-info {
	left: -5px; top: -5px; width: 206px; bottom: 0px; padding-top: 20px; padding-right: 12px; padding-left: 12px; display: none; position: absolute; z-index: 50; background-image: url("images/timeline-entry-transparent.png"); background-repeat: repeat;
}
.timeline-entry-image {
	width: 220px; height: auto !important; padding-bottom: 12px; margin-top: 5px; margin-left: 5px; float: left; position: relative; z-index: 1; cursor: pointer; min-height: 235px;
}
.timeline-entry-options {
	width: 230px; height: 22px; color: rgb(133,133,133); line-height: 22px; font-family:Arial, Helvetica, sans-serif; font-size: 12px; float: left; background-color: rgb(231, 231, 231); 
}
.timeline-entry-footer {
	width: 230px; height: 0px; float: left; background-color: rgb(255, 255, 255);
}
.timeline-entry-info-title {
	width: 196px; color: rgb(0, 0, 0); line-height: 18px; font-family:Arial, Helvetica, sans-serif;  font-size: 16px; float: left;
}
.timeline-entry-info-user {
	width: 230px; height: 34px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: left; background-color: rgb(231, 231, 231);
}
.timeline-entry-info-user-image {
	padding: 3px 3px 0px; width: 28px; height: 28px; overflow: hidden; margin-bottom: 3px; float: left; position: relative; cursor: pointer;
}
.timeline-entry-info-username {
	width: 155px; height: 34px; color: rgb(0,0,0); line-height: 34px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; font-weight:bold; margin-left: 3px; float: left; cursor: pointer;
}
.timeline-entry-info-user-comment {
	padding: 5px; width: 220px; color: rgb(133,133,133); line-height: 14px; font-family:Arial, Helvetica, sans-serif;  font-size: 11px; border-bottom-color: white; border-bottom-width: 1px; border-bottom-style: solid; float: left; cursor: pointer; background-color: rgb(231,231,231);
}
.timeline-entry-info-user-comment-text {
	width: 220px; line-height: 14px; float: left;
}
.timeline-entry-info-user-comment-img {
	width: 58px; height: 7px; margin-top: 3px; float: right;
}
.timeline-entry-info-user-comment-img img {
	float: left; display: block;
}
.timeline-entry-info-category-image {
	width: 21px; height: 34px; margin-right: 7px; float: right;
}
.book-category-image {
	background-position: center; background-image: url("images/kit-book.png"); background-repeat: no-repeat;
}
.book-serie-image {
	background-position: center; background-image: url("images/kit-serie.png"); background-repeat: no-repeat;
}
.book-cinema-image {
	background-position: center; background-image: url("images/kit-cinema.png"); background-repeat: no-repeat;
}
.book-music-image {
	background-position: center; background-image: url("images/kit-music.png"); background-repeat: no-repeat;
}
.timeline-entry-info-kit-link-container {
	width: 196px; padding-top: 5%; padding-bottom: 8%; float: left;
}
.timeline-entry-info-kit-link-container-border {
	width: 196px; padding-top: 6px; padding-bottom: 6px; margin-top: 10px; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted; float: left;
}
.timeline-entry-info-kit-link {
	width: 196px; height: 18px; color: rgb(0, 0, 0); line-height: 18px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; float: left;
}
.timeline-entry-info-kit-link-on {
	color: rgb(255, 255, 255) !important;
}
.timeline-entry-info-like-link {
	background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 8px; float: left; background-image: url("images/kit-entry-like.png"); background-repeat: no-repeat;
}
.timeline-entry-info-like-link-on {
	color: rgb(255, 255, 255) !important; background-image: url("images/like_on.png") !important;
}
.timeline-entry-info-dislike-link {
	background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 8px; float: left; background-image: url("images/dislike.png"); background-repeat: no-repeat;
}
.timeline-entry-info-dislike-link-on {
	color: rgb(255, 255, 255) !important; background-image: url("images/dislike_on.png") !important;
}
.timeline-entry-info-comment-link {
	background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 16px; float: left; background-image: url("images/kit-entry-comment.png"); background-repeat: no-repeat;
}
.timeline-entry-info-comment-link-on {
	color: rgb(255, 255, 255) !important; background-image: url("images/kit-entry-comment-on.png") !important;
}
.timeline-entry-info-rekit-link {
	background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 16px; float: left; background-image: url("images/kit-entry-rekit.png"); background-repeat: no-repeat;
}
.timeline-entry-info-rekit-link-on {
	color: rgb(255, 255, 255) !important; background-image: url("images/kit-entry-rekit-on.png") !important;
}
.timeline-entry-options-likes {
	width: 59px; height: 22px; text-align: center; line-height: 22px; float: left;
}
.timeline-entry-options-comments {
	width: 102px; height: 22px; text-align: center; line-height: 22px; float: left; cursor: pointer;
}
.timeline-entry-options-kits {
	width: 58px; height: 22px; text-align: center; line-height: 22px; float: left;
}
.timeline-entry-options-number {
	color: rgb(133,133,133); font-weight:bold;
}
.timeline-to-top {
	width: 700px; bottom: 10px; margin-bottom: 10px; float: left; display: none; position: fixed; background-color: transparent;
}
.to-top {
	width: 15px; height: 12px; right: -35px; bottom: -10px; position: absolute; z-index: 30; cursor: pointer;
}
.to-top img {
	border: currentColor;
}
.timeline-margin-top{margin-top:72px !important;}