﻿/**

    WISHLIST

**/

.top-header-wishlist
{
    float:left;
    width:300px;    
}

#wishlist-header-image
{
    float:left;
    width:28px;
    height:28px;
    overflow:hidden;    
}

#wishlist-header-username
{
    float:left;
    width:255px;
    height:30px;
    margin-left:15px;
    line-height:15px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#F15B27;
    text-align:left;    
}
	
#wishlist
{
    position:relative;
	float:left;
	width:722px;
	margin-top:67px;
	margin-left:108px;
	height:100%;
	z-index:1;
}

#wishlist-entry-container
{
    position:relative;
	float:left;
	width:722px;
	height:100%;
	z-index:1;
	
}
	
.wishlist-entry{
	float: left;
	width: 220px;
	margin:0;
	margin-top:20px;
	margin-right:20px;
	padding:0;
	padding-bottom:20px;
	/*background: #D8D5D2;*/
	/*border-bottom:1px dotted #F15B27;*/
}

.wishlist-entry-info
{
    position:absolute;
    top:0;
    left:0;
    bottom:24px;
    width:204px;
    background-image: url(images/timeline-entry-transparent.png); 
    background-repeat: repeat;
    padding-top:23px;
    padding-left:8px;
    padding-right:8px;
    z-index:50;
    display:none;
}
	
.wishlist-entry-image
{
	float:left;
	width: 220px;
	min-height: 235px;
	height: auto !important;
	height: 235px;
	z-index:1;
	cursor:pointer;
	overflow:hidden;
}
.wishlist-entry-image img{
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;
}
	
.wishlist-entry-options{
	float:left;
	width: 220px;
	height:22px;
	line-height:22px;
	background-color:#7F807F;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;	
	color:#363636;
}
	
.wishlist-entry-info-title
{
    float:left;
    width:204px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#000000;
}	

.wishlist-entry-info-user
{
    float:left;
    width:220px;
    height:34px;
    background-color:#7F807F;
    border-bottom:1px solid #FFFFFF;
    margin-top:-4px;/* elimina el margin que afegeix l'imatge */
}

.wishlist-entry-info-user-image
{
    float:left;
    width:28px;
    height:28px;
    padding:3px;
}	

.wishlist-entry-info-username
{
    float:left;
    width:155px;
    height:34px;
    margin-left:3px;
    line-height:34px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;
}	

.wishlist-entry-info-kit-link-container
{
    float:left;
    width:196px;
    padding-top:5%;
    padding-bottom:8%;
}

.wishlist-entry-info-kit-link
{
    float:left;
    width:180px;
    height:26px;
    margin-top:23px;
    line-height:26px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background-image:url('images/kit-logo-btn.png');
	background-repeat:no-repeat;
	background-position:left center;
    font-size:12px;
    color:#000000;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
    padding-left:24px;
}

.wishlist-entry-info-like-link
{
    float:left;
    width:180px;
    height:13px;
    margin-top:16px;
    line-height:13px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
	background-image:url('images/kit-entry-like.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:24px;
}

.wishlist-entry-info-loquiero-link
{
    float:left;
    width:204px;
    height:30px;
    margin-top:0px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
	background-image:url('images/wishlist-loquiero-btn.png');
	background-repeat:no-repeat;
	background-position:left center;
	text-align:center;
}

.wishlist-entry-info-loquiero-link a{text-decoration:none;color:#FFFFFF;}

.wishlist-entry-info-delete-link
{
    position:absolute;
    bottom:20px;
    width:204px;
    height:26px;
    line-height:26px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
    text-align:center;
    cursor:pointer;
}

.wishlist-entry-info-rekit-link
{
    float:left;
    width:180px;
    height:13px;
    margin-top:16px;
    line-height:13px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
	background-image:url('images/kit-entry-rekit.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:24px;
}

.wishlist-entry-options-likes
{
    float:left;
    width:63px;
	height:22px;
	line-height:22px;
    text-align:center;
}

.wishlist-entry-options-comments
{
    float:left;
    width:106px;
	height:22px;
	line-height:22px;
    text-align:center;       
}

.wishlist-entry-options-kits
{
    float:left;
    width:50px;
	height:22px;
	line-height:22px;
    text-align:center;    
}

.wishlist-entry-options-number
{
    color:#FFFFFF;
}

.wishlist-to-top
{
    position:relative;
    float:left;
    width:700px;
    background-color:transparent;      
}

.to-top
{
    position:absolute;
    width:15px;
    height:12px;
    bottom:-10px;
    right:-35px;
    cursor:pointer;
    z-index:30;
}

.to-top img
{
    border:none;
}

.wishlist-entry-add
{
    width:220px;
    height:300px;    
    background-color:#666666;
    background-image: url(images/profile-now-with-add.png); 
    background-repeat:no-repeat;
    background-position:center center;
    z-index:50;
    cursor:pointer;   
	
}

/**

   FI WISHLIST

**/


/**

    WISHLIST FORM

**/

#timeline-wishlist-modal
{
    position:absolute;
    top:0;
    left:0;
    bottom:0px;
    width:702px;
    z-index:50;
    display:none;
}

.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
#timeline-wishlist-container
{
    float:left;
    width:702px;
    height:500px;
}

#timeline-wishlist-header
{
    float:left;
    width:702px;
    height:76px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;    
}

#timeline-wishlist-title-container
{
    float:left;
    width:702px;
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#FFFFFF;    
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-wishlist-title
{
    float:left;
    width:664px;
    text-align:center;
}

#timeline-wishlist-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

#timeline-wishlist-search
{
    float:left;
    width:702px;
    /*height:70px;*/
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

#timeline-wishlist-search-container
{
    float:left;
    width:525px;
    height:22px;
    margin-top:24px;
    margin-left:14px;
    line-height:22px;
	background-image:url('images/kit_proces_input.png');
	background-repeat:no-repeat;
	background-position: right center;    
    /*border-bottom:2px solid #FFFFFF;*/
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-wishlist-search-container input
{
    float:left;
    width:520px;
    height:22px;
    line-height:22px;
    margin:0px;
    padding:0px;
    padding-left:5px;
	border:none;
	border-color:transparent;
	/*font-family: 'MinionProRegular';
	font-style: italic;*/
	font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background-repeat:no-repeat;
    background-color: transparent;    
}

#timeline-wishlist-search-result-container
{
    float:left;
    width:772px;
    margin-top:12px;
    margin-left:14px;
    display:none;
}

.timeline-wishlist-search-result
{
    float:left;
    width:448px;
    /*height:17px;*/
    line-height:17px;
    border-bottom:1px dotted #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;	
}

.timeline-wishlist-search-result-title
{
    float:left;
    width:395px;
    text-align:left;
}

.timeline-wishlist-search-result-category
{
    float:right;
    width:53px;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
}

#timeline-wishlist-form
{
    float:left;
    width:702px;
    padding-top:16px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:40px;
    display:none;
}

#timeline-wishlist-form-product-data
{
    float:left;
    width:702px;
}

#timeline-wishlist-product-image
{
    float:left;
    width:220px;
}

#timeline-wishlist-product-info
{
    float:left;
    width:220px;
    margin-left:18px;    
}

#timeline-wishlist-product-title
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#363636;
}

#timeline-wishlist-product-author
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-wishlist-product-year
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-wishlist-product-moreinfo
{
    float:left;
    width:220px;
    padding-top:14px;
    padding-bottom:14px;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-wishlist-product-moreinfo-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-up-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;
}

.moreinfo-selected
{
	background-image:url('images/kit-down-arrow.png') !important;
}

#timeline-wishlist-product-moreinfo-container
{
    float:left;
    width:220px;    
    display:none;
}
.timeline-wishlist-product-moreinfo-text
{
    float:left;
    width:208px;
    line-height:18px;
    color:#FFFFFF;
}

.black
{
    color:#000000;    
}

.white
{
    color:#FFFFFF;    
}

#timeline-wishlist-add-tags
{
    float:left;
    width:220px;
    height:18px;
    margin-top:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;
    cursor:pointer;
}

#timeline-wishlist-add-tags-container
{
    float:left;
    width:220px;
    margin-top:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#00000;
    display:none;   
}

#timeline-wishlist-add-tags-container textarea
{
    float:left;
	width:220px;
	height:18px;
	background-color:transparent;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;    
}

#timeline-wishlist-recommended-tags
{
    float:left;
    width:220px;      
}

#timeline-wishlist-recommended-tags-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-up-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;    
}

#timeline-wishlist-recommended-tags-container
{
    float:left;
    width:220px;      
    display:none;
    padding-bottom:8px;
}

.timeline-wishlist-recommended-tags-text
{
    float:left;
    width:208px;
    height:18px;
    line-height:18px;
    color:#363636;
    background-image:url('images/kit-tags-plus.png');
	background-repeat:no-repeat;
	background-position: right center;
    border-bottom:1px dotted #FFFFFF;
    cursor:pointer;
    padding-right:12px;
    text-align:left;    
}

.timeline-wishlist-recommended-selected
{
    color:#FFFFFF;
    background-image:url('images/kit-tags-minus.png');
}

#timeline-wishlist-comment
{
    float:left;
    width:667px;
    height:72px;
    margin-top:14px;
    margin-left:16px;
    background-image:url('images/kit-form-comment.png');
	background-repeat:no-repeat;
	background-position: center center;
}

.timeline-wishlist-comment-input
{
    float:left;
    margin-top:8px;
    margin-left:14px;
    line-height:16px;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    color:#363636;    
    width:639px;
    height:36px;
}

.timeline-wishlist-comment-input textarea
{
    float:left;
	width:639px;
	height:32px;
	background-color:#FFFFFF;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;
}

#timeline-wishlist-comment-counter
{
    float:right;
    width:50px;
    height:18px;
    margin-top:4px;
    margin-right:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#C0C0C0;     
    text-align:right;
}

#timeline-wishlist-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:18px;
    margin-left:15px;
    background-image:url('images/kit-form-button.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;	
}

.timeline-wishlist-button-on
{
 
    background-image:url('images/kit-form-button-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

.timeline-wishlist-search-result-noresults-title
{
    float:left;
    width:672px;
    height:18px;
    line-height:18px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
}

.timeline-wishlist-search-result-noresults-text
{
    float:left;
    width:672px;
    line-height:18px;
    margin-top:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;     
}

#timeline-wishlist-seach-button
{
    float:right;
    width:110px;
    height:22px;
    line-height:22px;
    margin-top:22px;
    margin-right:18px;
    background-image:url('images/kit-search.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;
    cursor:pointer;	
}

.timeline-wishlist-seach-button-on
{
 
    background-image:url('images/kit-search-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

#timeline-wishlist-webservice-search
{
    float:left;
    width:702px;
    height:74px;
    margin-top:12px;
    background-image:url('images/kit-search-webservice.png');
	background-repeat:no-repeat;
	background-position: center center;    
    display:none;
}

#timeline-wishlist-webservice-search-loader
{
    float:left;
    width:36px;
    height:36px;
    margin-top:27px;
    margin-left:12px;
    background-image:url('images/likekit_loader.gif');
	background-repeat:no-repeat;
	background-position: center center;
}

#timeline-wishlist-webservice-search-text
{
    float:left;
    width:627px;
    height:36px;
    margin-top:27px;
    margin-left:12px;    
    line-height:36px;
    text-align:left;
}

#timeline-wishlist-search-container-categories
{
    float:left;
    width:660px;
    height:40px;
    margin-top:14px;
    margin-left:14px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-wishlist-search-container-category-books
{
    float:left;
    width:30px;
    height:37px;
	background-image:url('images/kit-form-book.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-wishlist-search-container-category-books-on
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-wishlist-search-container-category-books-selected
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-wishlist-search-container-category-series
{
    float:left;
    width:36px;
    height:33px;
    margin-left:20px;
	background-image:url('images/kit-form-serie.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-wishlist-search-container-category-series-on
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-wishlist-search-container-category-series-selected
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-wishlist-search-container-category-music
{
    float:left;
    width:40px;
    margin-top:5px;
    height:26px;
    margin-left:20px;
	background-image:url('images/kit-form-music.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-wishlist-search-container-category-music-on
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-wishlist-search-container-category-music-selected
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-wishlist-search-container-category-cinema
{
    float:left;
    width:40px;
    height:34px;
    margin-left:20px;
	background-image:url('images/kit-form-cinema.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-wishlist-search-container-category-cinema-on
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-wishlist-search-container-category-cinema-selected
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}
/**

    FI WISHLIST FORM

**/

#timeline-kit-search-container-categories-borders
{
    float:left;
    width:660px;
    height:1px;
    margin-left:14px;
    margin-bottom:10px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-kit-search-container-category-books-border
{
	float:left;
	width:30px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-series-border
{
	float:left;
	width:36px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-music-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-cinema-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}    


/**

	OVERRIDES

**/

#timeline-kit-modal {width:702px !important;}
#timeline-kit-container{width:702px !important;}
#timeline-kit-header{width:702px !important;}
#timeline-kit-title-container {width:702px !important;}
#timeline-kit-title{width:656px !important;}
#timeline-kit-search{width:702px !important;}
#timeline-kit-search-result-container{width:702px !important;}
#timeline-kit-search-container{width:530px !important;}
#timeline-kit-search-container input{width:520px !important;}
#timeline-kit-form{width:702px !important;}
#timeline-kit-form-product-data{width:702px !important;}
#timeline-kit-form-loading-publish{width:702px !important;}
#timeline-kit-published {width:702px !important;}
#timeline-kit-published-buttons{width:672px !important;}
#timeline-kit-published-button-facebook{margin-left:43px !important;}
#timeline-kit-webservice-search{width:702px !important;}
#timeline-kit-webservice-search-publish{width:702px !important;}
#timeline-kit-webservice-search-text-publish{width:629px !important;}

#kit-user-loquiero-container{top:250px !important;}