﻿@model LikeKitWebsite.Models.StaticPage

@{
    ViewBag.Title = "Sobre LikeKit";
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Css = "about.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "about.js";
    ViewBag.About = true;
    ViewBag.MainH1Title = Model.Title;
    
    if (Model.ID == 1)
    {
        ViewBag.Help = " selected";
    }
    else if (Model.ID == 2)
    {
        ViewBag.MediaKit = " selected";
    }
    else if (Model.ID == 3)
    {
        ViewBag.Team = " selected";
    }
    else if (Model.ID == 4)
    {
        ViewBag.Legal = " selected";
    }

    ViewBag.MetaTitle = Model.SeoTitle;
    ViewBag.MetaKeywords = Model.SeoKeywords;
    ViewBag.MetaDescription = Model.SeoDescription;        
}

<div id="about-container">
    @Html.Partial("KitForm")
    <div id="about-main-container">
    @Html.DisplayTextFor(m => m.Content)
    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" class="timeline-copyright-about">Copyright &copy; Likekit</div>