﻿@model LikeKitWebsite.Models.ProductCategory
           
@{
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Title = "Kits por categoria";
    ViewBag.Css = "category_kits.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "category_kits.js";
    ViewBag.CategoryKits = true;
    ViewBag.CategoryHeaderUserImage = Model.HtmlHeaderUserImage;
    ViewBag.CategoryKitsCategoryHeader = Model.HtmlHeaderCategoryName;
    ViewBag.CategoryKitsHeader = Model.HtmlHeaderUserName;

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";        
    
    //ViewBag.DisplayName =   HttpContext.Current.Session[LikeKitWebsite.Globals.SessionFirstName].ToString() + " " +  HttpContext.Current.Session[LikeKitWebsite.Globals.SessionLastName].ToString();
}

	<div id="category-kits">
        @Html.Partial("KitForm")
        @Html.DisplayTextFor(m => m.HtmlOutput)
	</div><!-- end timeline -->
    <div id="timeline-copyright" class="timeline-copyright-category-kits">Copyright &copy; Likekit</div>