﻿@model LikeKitWebsite.Models.User

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Css = "profile.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "profile.js";

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = Model.FirstName + " " + Model.LastName; 
}

<div id="profile-container" class="edit-profile-container">
    @Html.Partial("KitForm")
    @Html.Partial("NowWithForm")
    @Html.Partial("ProfileDeleteForm")
    <!-- @Html.Partial("ProfileCropImage") -->
    <div id="profile-crop-image-modal" class="modal">
        <div id="profile-crop-image-container">
            <div id="profile-crop-image-close"></div>
            <div id="profile-crop-image-area">
                <img id="profile-crop-image-img" name="profile-crop-image-img" src="/Timeline/GetImageThumbnail/?image=@Html.DisplayTextFor(m => m.OriginalPicture)&width=350&height=350" />
            </div>
            <div id="profile-crop-image-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SELECCIONA_LA_IMAGEN_QUE_QUIERES_MOSTRAR_EN_TU_AVATAR</div>
            <div id="profile-crop-image-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ACEPTAR</div>
        </div>
    </div>
    <div id="edit-profile-data">
        <input type="hidden" id="profile-user-id" name="profile-user-id" value="@Html.DisplayTextFor(m => m.ID)" />
        <div id="edit-profile-data-title">
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HOLA @Html.DisplayTextFor(m => m.FirstNameUpper)
        </div>
        <div id="edit-profile-data-subtitle">
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMPLETANDO_TU_PERFIL_VAS_A_DISFRUTAR_DE_TODO_LO_QUE_TE_OFRECE_LIKEKIT
        </div>
        <div id="edit-profile-data-col-photo">
            <div id="edit-profile-data-photo">

                @{
                    if (Model.Picture != "")
                    {
                        <img id="edit-profile-img" name="edit-profile-img" src="/Content/files/@Html.DisplayTextFor(m => m.Picture)" width="220" height="220" alt="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)" title="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)"/>
                    }
                    else
                    {
                        <img id="edit-profile-img" name="edit-profile-img" src="/Content/images/default_user.png" width="220" height="220" alt="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)" title="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)"/>
                    }
                 }

                <div id="edit-profile-data-photo-edit">
                    <div id="edit-profile-data-photo-change-image">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CAMBIAR_IMAGEN</div>
                    <div id="edit-profile-data-photo-edit-image">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EDITAR_MINIATURA</div>
                </div>
            </div>
            <div id="edit-profile-data-photo-info">(@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TAMANO_MINIMO 300x300)</div>
            <div id="edit-profile-stats" class="edit-profile-stats">
                <div class="profile-stats-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_PERFIL_ESTA_A_UN @Html.DisplayTextFor(m => m.ProfilePercentage)%</div>
                <div class="profile-stats-gauge">
                    <div class="profile-stats-gauge-value" style="width:@Html.DisplayTextFor(m => m.ProfilePercentageWidth)px;"></div>
                </div>
            </div>

            <div id="edit-profile-language" class="profile-data-edit-label-down">
                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ELIGE_TU_IDIOMA
            </div>

            <div id="profile-data-edit-language">
                <input type="hidden" id="language" name="language" value="@Html.DisplayTextFor(m => m.Language.ID)"/>
            @{
                if ((Model.Language != null) && (Model.Language.ID == 2))
                {    
                    <div id="profile-data-edit-language-2" class="profile-data-edit-language-option selected">Català</div>
                }
                else
                {
                    <div id="profile-data-edit-language-2" class="profile-data-edit-language-option">Català</div>
                }

                if ((Model.Language != null) && (Model.Language.ID == 1))
                {
                    <div id="profile-data-edit-language-1" class="profile-data-edit-language-option selected">Castellano</div>
                }
                else
                { 
                    <div id="profile-data-edit-language-1" class="profile-data-edit-language-option">Castellano</div>
                }
            }
            </div>

        </div>
        <div id="profile-data-edit-col1">
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">E-mail</div><div class="profile-data-edit-input"><input readonly id="email" name="email" value="@Html.DisplayTextFor(m => m.UserName)"/></div>
            </div>

    @{
        if ((Model.RegisterType == LikeKitWebsite.Models.RegisterType.Facebook) || (Model.RegisterType == LikeKitWebsite.Models.RegisterType.Twitter))
        {
            <!-- MarcGM(12-3-2013): He comentat això per tal de que als usuaris que s'hagin registrat vía Facebook o Twitter no els hi sorti les opcions de cambiar contrasenya (camps "Nova Contrasenya" i "Repetir nova contrasenya"). -->
            <!--
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NUEVA_CONTRASENA</div><div class="profile-data-edit-input"><input type="password" id="password" name="password" readonly value=""/></div>
            </div>
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REPETIR_NUEVA_CONTRASENA</div><div class="profile-data-edit-input"><input type="password" id="password-repeat" readonly name="password-repeat" value=""/></div>
            </div>
            -->
        }
        else
        { 
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NUEVA_CONTRASENA</div><div class="profile-data-edit-input"><input type="password" id="password" name="password" value=""/></div>
            </div>
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REPETIR_NUEVA_CONTRASENA</div><div class="profile-data-edit-input"><input type="password" id="password-repeat" name="password-repeat" value=""/></div>
            </div>
        }
    }

            <div class="profile-data-edit-container margin-top-20">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NOMBRE</div><div class="profile-data-edit-input"><input id="firstname" name="firstname" value="@Html.DisplayTextFor(m => m.FirstName)"/></div>
            </div>
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_APELLIDOS</div><div class="profile-data-edit-input"><input id="lastname" name="lastname" value="@Html.DisplayTextFor(m => m.LastName)"/></div>
            </div>
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LOCALIZACION</div><div class="profile-data-edit-input"><input id="address" name="address" value="@Html.DisplayTextFor(m => m.Address)"/></div>
            </div>
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_WEB</div><div class="profile-data-edit-input"><input id="web" name="web" value="@Html.DisplayTextFor(m => m.Web)"/></div>
            </div>
            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SOBRE_TI</div><div class="profile-data-edit-input"><input id="about" name="about" maxlength="100" value="@Html.DisplayTextFor(m => m.About)"/></div>
            </div>

            <div class="profile-data-edit-social">
                
                @{
                    if ((Model.TwitterID != "") && (Model.RegisterType == LikeKitWebsite.Models.RegisterType.Twitter))
                    {
                        <div id="profile-data-edit-twitter" class="profile-data-edit-social-button-on">
                            <div id="profile-twitter-connect" class="profile-data-edit-social-button-twitter">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTADO_CON_TWITTER</div>
                            <div class="profile-data-edit-social-button-border"></div>
                        </div>                    
                    }
                    else if (Model.TwitterID != "")
                    {
                        <div id="profile-data-edit-twitter" onclick="ProfileTwitterDisconnect();" class="profile-data-edit-social-button-on twitter-desconnectable">
                            <div id="profile-twitter-connect" class="profile-data-edit-social-button-twitter">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTADO_CON_TWITTER</div>
                            <div class="profile-data-edit-social-button-border"></div>
                        </div> 
                    }
                    else
                    {
                        <div id="profile-data-edit-twitter" onclick="ProfileTwitterConnect();" class="profile-data-edit-social-button">
                            <div id="profile-twitter-connect" class="profile-data-edit-social-button-twitter">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTAR_CON_TWITTER</div>
                            <div class="profile-data-edit-social-button-border"></div>
                        </div>
                    }
                }


                @{
                    if ((Model.FacebookID != "") && (Model.RegisterType == LikeKitWebsite.Models.RegisterType.Facebook))
                    {
                        <div id="profile-data-edit-facebook" class="profile-data-edit-social-button-on">
                            <div id="profile-facebook-connect" class="profile-data-edit-social-button-facebook">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTADO_CON_FACEBOOK</div>
                            <div class="profile-data-edit-social-button-border"></div>
                        </div>                    
                    }
                    else if (Model.FacebookID != "")
                    {
                        <div id="profile-data-edit-facebook" onclick="ProfileFacebookDisconnect();" class="profile-data-edit-social-button-on facebook-desconnectable">
                            <div id="profile-facebook-connect" class="profile-data-edit-social-button-facebook">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTADO_CON_FACEBOOK</div>
                            <div class="profile-data-edit-social-button-border"></div>
                        </div> 
                    }
                    else
                    {
                        <div id="profile-data-edit-facebook" onclick="ProfileFacebookConnect();" class="profile-data-edit-social-button">
                            <div id="profile-facebook-connect" class="profile-data-edit-social-button-facebook">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTAR_CON_FACEBOOK</div>
                            <div class="profile-data-edit-social-button-border"></div>
                        </div>
                    }
                }


            </div>

            <div class="profile-data-edit-container margin-top-20">
                <div class="profile-data-edit-label-down">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_FECHA_DE_NACIMIENTO</div><div class="profile-data-edit-input-right"><input id="birthday" name="birthday" value="@Html.DisplayTextFor(m => m.BirthdayString)"/></div>
            </div>

            <div class="profile-data-edit-container">
                <div class="profile-data-edit-label-down" id="profile-data-edit-gender-down">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SEXO</div><div class="profile-data-edit-input-right"><input readonly id="gender" name="gender" value="@Html.DisplayTextFor(m => m.GenderString)"/></div>
            </div>

            <div id="profile-data-edit-gender">

            @{
                if (Model.Gender == LikeKitWebsite.Models.UserGender.Hombre)
                {    
                    <div id="profile-data-edit-gender-male" class="profile-data-edit-gender-option selected">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HOMBRE</div>
                }
                else
                {
                    <div id="profile-data-edit-gender-male" class="profile-data-edit-gender-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HOMBRE</div>
                }

                if (Model.Gender == LikeKitWebsite.Models.UserGender.Mujer)
                {
                    <div id="profile-data-edit-gender-female" class="profile-data-edit-gender-option selected">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUJER</div>
                }
                else
                { 
                    <div id="profile-data-edit-gender-female" class="profile-data-edit-gender-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUJER</div>
                }
            }
            </div>

            <div class="profile-data-edit-private-personal-info">
                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TUS_DATOS_PERSONALES_NO_SE_MOSTRARAN_EN_TU_PERFIL_PUBLICO
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="edit-profile-data-bottom">
        <div class="profile-edit-bottom-col-left">
            <div id="profile-edit-button">
                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_GUARDAR_CAMBIOS
            </div>
            <div id="profile-edit-delete-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ELIMINAR_CUENTA</div>
        </div>

        <div class="profile-edit-bottom-col-right">
            <div class="profile-data-edit-container-bottom">
                <div class="profile-data-edit-label-down" id="profile-data-edit-permisos-down">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PERMISOS_DE_MI_CUENTA</div>
            </div>


             @{
                 if (Model.Perm1 == true)
                 { 
                    <input type="hidden" id="profile_perm_1" name="profile_perm_1" value="1" />
                 }
                 else
                 {
                    <input type="hidden" id="profile_perm_1" name="profile_perm_1" value="0" />
                 }
                 
             }

             @{
                 if (Model.Perm2 == true)
                 { 
                    <input type="hidden" id="profile_perm_2" name="profile_perm_2" value="1" />
                 }
                 else
                 { 
                    <input type="hidden" id="profile_perm_2" name="profile_perm_2" value="0" />
                 }
            }

            @{
                if (Model.Perm3 == true)
                { 
                    <input type="hidden" id="profile_perm_3" name="profile_perm_3" value="1" />
                }
                else
                { 
                    <input type="hidden" id="profile_perm_3" name="profile_perm_3" value="0" />
                }
            }

            @{
                if (Model.Perm4 == true)
                { 
                    <input type="hidden" id="profile_perm_4" name="profile_perm_4" value="1" />
                }
                else
                { 
                    <input type="hidden" id="profile_perm_4" name="profile_perm_4" value="0" />
                }
            }

            @{
                if (Model.Perm5 == true)
                { 
                    <input type="hidden" id="profile_perm_5" name="profile_perm_5" value="1" />
                }
                else
                { 
                    <input type="hidden" id="profile_perm_5" name="profile_perm_5" value="0" />
                }
            }

            @{
                if (Model.Perm6 == true)
                { 
                    <input type="hidden" id="profile_perm_6" name="profile_perm_6" value="1" />
                }
                else
                { 
                    <input type="hidden" id="profile_perm_6" name="profile_perm_6" value="0" />
                }
            }

            @{
                if (Model.Perm7 == true)
                { 
                    <input type="hidden" id="profile_perm_7" name="profile_perm_7" value="1" />
                }
                else
                { 
                    <input type="hidden" id="profile_perm_7" name="profile_perm_7" value="0" />
                }
            }

            @{
                if (Model.Perm8 == true)
                { 
                    <input type="hidden" id="profile_perm_8" name="profile_perm_8" value="1" />
                }
                else
                { 
                    <input type="hidden" id="profile_perm_8" name="profile_perm_8" value="0" />
                }
            }

            @{
                if (Model.Perm9 == true)
                { 
                    <input type="hidden" id="profile_perm_9" name="profile_perm_9" value="1" />
                }
                else
                { 
                    <input type="hidden" id="profile_perm_9" name="profile_perm_9" value="0" />
                }
            }

            <div id="profile-data-edit-perms-info">
                <div id="profile-data-edit-perm-2" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm2Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICAR_MIS_KITS_AUTOMATICAMENTE_EN_TWITTER</div>
                <div id="profile-data-edit-perm-3" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm3Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICAR_MIS_KITS_AUTOMATICAMENTE_EN_FACEBOOK</div>
                <div id="profile-data-edit-perm-4" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm4Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECIBIR_UN_CORREO_CUANDO_ALGUIEN_COMENTA_UNOS_DE_TUS_KITS</div>
                <div id="profile-data-edit-perm-5" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm5Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECIBIR_UN_CORREO_CUANDO_ALGUIEN_HACE_UN_LIKE_DE_UNO_DE_TUS_KITS</div>
                <div id="profile-data-edit-perm-6" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm6Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECIBIR_UN_CORREO_CUANDO_ALGUIEN_HACE_UN_REKIT_DE_UNO_DE_TUS_KITS</div>
                <div id="profile-data-edit-perm-7" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm7Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECIBIR_UN_CORREO_CUANDO_UNA_NUEVA_PERSONA_TE_SIGUE</div>
                <div id="profile-data-edit-perm-8" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm8Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECIBIR_UN_CORREO_CON_RECOMENDACIONES_DE_LIKEKIT_DE_ACUERDO_CON_TUS_PREFERENCIAS</div>
                <div id="profile-data-edit-perm-9" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm9Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECIBIR_UN_CORREO_CON_NOTIFICACIONES_Y_ACTUALIZACIONES_OCASIONALES_DE_LIKEKIT</div>
                <div id="profile-data-edit-perm-1" class="profile-data-edit-perm @Html.DisplayTextFor(m => m.Perm1Css)">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NO_RECIBIR_NOTIFICACIONES_DE_CORREO_ELECTRONICO</div>
            </div>

            <div class="profile-data-edit-container-bottom">
                <div class="profile-data-edit-label-down" id="profile-data-edit-widget-down">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_WIDGET</div>
            </div>

            <div id="profile-data-edit-widget-info">
                <div class="profile-data-edit-widget-info-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SI_TIENES_UN_BLOG_Y_TE_APETECE_COMPARTIR_TUS_KITS_AQUI_TIENES_EL_CODIGO_HTML_DEL_WIDGET_DE_LIKEKIT</div>
                <div class="profile-data-edit-widget-info-url">&lt;iframe src="@Html.DisplayTextFor(m => m.WidgetURL)" width="312px" height="448px" align="center"&gt;&lt;/iframe&gt;</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--<div class="profile-to-top">
        <div class="to-top"><a href="#main"><img src="/Content/images/to-top.png" /></a></div>
    </div>-->
</div><!-- fi profile-container -->
<div id="timeline-copyright" class="timeline-copyright-edit-profile">Copyright &copy; Likekit</div>
