﻿@model String
           
@{
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Title = "Likekit";
    ViewBag.Css = "timeline.css";
    ViewBag.MenuFilter = true;
    ViewBag.Js = "timeline.js";
    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";    
}

		<div id="timeline" class="timeline-margin-top">
            @Html.Partial("KitForm")
            @Html.Partial("SearchNoResult")
            @Html.Partial("AdvancedFilter")    
            <div id="timeline-kits-container">
            @Html.DisplayTextFor(m => m)
            </div> <!-- Alerta : No posem el div, ja que tanquem a dins el resultat-->
            <div id="timeline-copyright" class="timeline-copyright-timeline">Copyright &copy; Likekit</div>
		</div><!-- end timeline -->
        

	<!--<script type="text/javascript">
	    var $timeline = $('#timeline');

	    $timeline.imagesLoaded(function () {
	        $timeline.masonry({
	            itemSelector: '.timeline-entry',
	            columnWidth: 240,
		        isAnimated: !Modernizr.csstransitions
	        });
	    });
	</script>-->




    <script type="text/javascript">

        LoadRecommendedTagsAdvancedFilter();

        //var $timeline = $('#timeline');

        var $timeline = $('#timeline-kits-container');
        $timeline.imagesLoaded(function () {
            $timeline.masonry({
                itemSelector: '.timeline-entry',
                columnWidth: 252,
                isAnimated: !Modernizr.csstransitions
            });
        });

        $timeline.infinitescroll({
            navSelector: '#page-nav',    // selector for the paged navigation 
            nextSelector: '#page-nav a:last',  // selector for the NEXT link (to page 2)
            itemSelector: '.timeline-entry',     // selector for all items you'll retrieve
            dataType: 'html',
            //behavior: 'twitter',
            loading: {
                finishedMsg: '',
                img: ''
            }/*,
	        errorCallback: function () { alert('Error'); }*/
        },
        // trigger Masonry as a callback
        function (newElements) {

            //alert(newElements);

            // hide new items while they are loading
            var $newElems = $(newElements).css({ opacity: 0 });
            // ensure that images load before adding to masonry layout
            $newElems.imagesLoaded(function () {

                // show elems now they're ready
                $newElems.animate({ opacity: 1 });
                $timeline.masonry('appended', $newElems, true);
            });
        });



	</script>
