﻿@model String

@{
    ViewBag.Title = "Tus interacciones";
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Css = "interactions.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "interactions.js";
    ViewBag.Interactions = true;

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INTERACCIONES; 
}

<div id="interactions-container">
    @Html.Partial("KitForm")
    <div id="interactions-main-container">
        <div id="interactions-main-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INTERACCIONES</div>
        @Html.DisplayTextFor(m => m)
    </div>  
</div><!-- fi interactions-container -->
<div id="timeline-copyright" class="timeline-copyright-interactions">Copyright &copy; Likekit</div>