﻿@model LikeKitWebsite.Models.Invite

@{
    ViewBag.Title = "Invitar";
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Css = "invite.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "invite.js";
    ViewBag.InviteHeader = true;
    ViewBag.Invite = " selected";

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR_MIN; 
}

@{
    if (HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null)
    {
        ViewBag.InviteDisplayName = HttpContext.Current.Session[LikeKitWebsite.Globals.SessionFirstName].ToString() + " " + HttpContext.Current.Session[LikeKitWebsite.Globals.SessionLastName].ToString();
    }
}
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ca_ES/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
</script>
<div id="invite-container">
    @Html.Partial("KitForm")

    <div id="invite-main-container">
        <div id="invite-main-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR_MIN</div>
        @{
            if (Model.Show == true)
            {
                <div id="invite-contacts-results">
                    <div class="invite-contacts-type">
                    @{
                if (Model.Type == LikeKitWebsite.Models.InviteType.Gmail)
                { 
                            <img src="/Content/images/gmail_on.png" width="70" />
                }
                else if (Model.Type == LikeKitWebsite.Models.InviteType.Yahoo)
                { 
                            <img src="/Content/images/yahoo_on.png" width="95" />
                }
                else if (Model.Type == LikeKitWebsite.Models.InviteType.Msn)
                { 
                            <img src="/Content/images/msn_on.png" width="70" />
                }
                else if (Model.Type == LikeKitWebsite.Models.InviteType.Facebook)
                { 
                            <img src="/Content/images/facebook_on.png" width="95" />
                }
                    }
                    </div>
                    <div class="invite-contacts-container">
                        <div class="invite-contacts-container-header">@ViewBag.InviteDisplayName</div>
                        <div class="invite-contacts-container-data">
                            @Html.DisplayTextFor(m => m.HtmlOutput)
                            
                            @{
                                if (Model.Type == LikeKitWebsite.Models.InviteType.Facebook)
                                {
                                                <div class="fb-send" data-href="http://www.likekit.com" style="margin-top:30px;"></div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="invite-intro-text">
                    @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SI_ESTAS_DISFRUTANDO_CON_LIKEKIT_PUEDES_INVITAR_A_TUS_AMIGOS <br />
                    @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SELECCIONA_TU_CORREO_ELECTRONICO_Y_ESOJE_A_QUIEN_QUIERES_INVITAR_ES_MUY_FACIL<span class="orange">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ESCOJE</span> @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_A_QUIEN_QUIERES_INVITAR_ES_MUY_FACIL


                    <!--Selecciona tu plataforma de correo electrónico y <span class="orange">escoje</span> a quien quieres invitar. Es muy fácil.-->
                </div>
            }
            
        }

        <div class="invite-mail-logos">
            <div id="invite-gmail"></div>
            <div id="invite-yahoo"></div>
            <!--<div id="invite-msn"></div>-->
            <div id="invite-facebook"></div>
        </div>

        <div class="invite-col-1">
            <div id="invite-col-1-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SI_LO_PREFIERES_PUEDES_ENVIAR_UNA_INVITACION_DIRECTAMENTE</div>
            <div id="invite-col-1-subtitle">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INTRODUCE_LAS_DIRECCIONES_DE_CORREO_SEPARADAS_POR_COMAS</div>
        </div>

        <div class="invite-col-2">
            <div id="invite-col-2-input"><input type="text" id="invite-direct" name="invite-direct" /></div>
            <div id="invite-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ENVIAR_INVITACION</div>
        </div>
    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" class="timeline-copyright-invite">Copyright &copy; Likekit</div>