﻿@model LikeKitWebsite.Models.Kit

@{
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Title = "Kit";
    ViewBag.Css = "kit-view.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "kit_view.js";
    ViewBag.MetaTitle = Model.CategoryName + "-" + Model.Product.Name + "-" + "LikeKit.com";
    ViewBag.MetaKeywords = Model.CategoryName + "," + Model.StringTags;
    ViewBag.MetaDescription = Model.Product.Name + " de " + Model.User.FirstName + " " + Model.User.LastName + " en la categoria " + Model.CategoryName;
    ViewBag.MainH1Title = Model.Product.Name; 
}
@Html.DisplayTextFor(m => m.LoquieroHTML)
<div id="kit-view-container">
    @Html.Partial("KitForm")
    @Html.Partial("SocialForm")
    <div id="twitter-social-kit-modal" class="social-kit-modal modal">
        <div class="social-kit-container">
            <div class="social-kit-header">
                <div class="social-kit-title-container">
                    <div class="social-kit-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_ESTE_KIT_EN_TWITTER</div>
                    <div id="twitter-social-kit-close" class="social-kit-close"></div>
                </div>
            </div>

            <div class="social-kit-text-container">
                <div class="social-kit-text-input">
                    <div class="social-kit-text-input-container">
                        @{
                            if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) == Model.User.ID)
                            {
                        <textarea id="twitter-social-text" name="twitter-social-text" >@Html.DisplayTextFor(m => m.TwitterText)</textarea>
                            }
                            else
                            { 
                        <textarea id="twitter-social-text" name="twitter-social-text" >@Html.DisplayTextFor(m => m.TwitterText)</textarea>                                
                            }
                        }
                    </div>
                    <div id="social-kit-text-counter">140</div>
                </div>
                <div id="twitter-social-kit-button" class="social-kit-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_EN_TWITTER</div>
            </div>
        </div>
    </div>

    <div id="facebook-social-kit-modal" class="social-kit-modal modal">
        <div class="social-kit-container">
            <div class="social-kit-header">
                <div class="social-kit-title-container">
                    <div class="social-kit-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_ESTE_KIT_EN_FACEBOOK</div>
                    <div id="facebook-social-kit-close" class="social-kit-close"></div>
                </div>
            </div>

            <div class="social-kit-text-container">

                <div class="social-kit-text-input">
                    @{
                        if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) == Model.User.ID)
                        {
                        <textarea id="facebook-social-text" name="facebook-social-text" >@Html.DisplayTextFor(m => m.FacebookText)</textarea>
                        }
                        else
                        { 
                        <textarea id="facebook-social-text" name="facebook-social-text" >@Html.DisplayTextFor(m => m.FacebookText)</textarea>
                        }
                    }
                </div>

                <div id="facebook-social-kit-button" class="social-kit-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_EN_FACEBOOK</div>

            </div>
        </div>
    </div>


    <div id="mail-social-kit-modal" class="social-kit-modal modal">
        <div class="social-kit-container">
            <div class="social-kit-header">
                <div class="social-kit-title-container">
                    <div class="social-kit-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ENVIA_ESTE_KIT_POR_CORREO</div>
                    <div id="mail-social-kit-close" class="social-kit-close"></div>
                </div>
            </div>

            <div class="social-kit-text-container">
                
                <div class="social-kit-text-input-mail">
                    <input type="text" id="kit-social-mail" name="kit-social-mail" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DIRECCION_E_MAIL" />
                </div>
                <div id="kit-social-tip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARECE_QUE_LA_DIRECCION_NO_ES_VALIDA</div>    

                <div class="social-kit-text-input">
                    <textarea id="mail-social-text" name="mail-social-text" >@Html.DisplayTextFor(m => m.MailText)</textarea>
                </div>

                <div id="mail-social-kit-button" class="social-kit-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ENVIA</div>

            </div>
        </div>
    </div>


    <div id="kit-view-container-data">
        <div id="kit-view-container-data-col1">
            <input type="hidden" id="kit-id" name="kit-id" value="@Html.DisplayTextFor(m => m.ID)" />
            @{
                if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) != Model.User.ID)
                {

                    if (Model.isLike == true)
                    {
                    <div id="kit-view-like" class="kit-view-dislike" onclick="KitViewDisLike(@Html.DisplayTextFor(m => m.ID))">Dislike</div>
                    }
                    else
                    {
                    <div id="kit-view-like" class="kit-view-like" onclick="KitViewLike(@Html.DisplayTextFor(m => m.ID));">Like</div>
                    }
                }
            }
            <div class="kit-view-comment">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTAR</div>
            <div class="kit-view-kitit" onclick="ReKit(event,@Html.DisplayTextFor(m => m.ID));">ReKit</div>
            <div class="kit-view-wishlist" onclick="AddToWishList(@Html.DisplayTextFor(m => m.Product.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ANADIR_A_LA_WISHLIST</div>


            @{
                if (Model.canTwitterPublish == true)
                {
                    <div class="kit-view-tweet" onclick="Tweet(@Html.DisplayTextFor(m => m.ID));">Tweet</div>
                }
                else
                {
                    <div class="kit-view-tweet" onclick="ConnectToTweet(@Html.DisplayTextFor(m => m.ID));">Tweet</div>
                }
            }

            @{
                if (Model.canFacebookPublish == true)
                {
                    <div class="kit-view-share" onclick="FacebookShare(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMPARTIR</div>
                }
                else
                {
                    <div class="kit-view-share" onclick="ConnectToFacebookShare(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMPARTIR</div>
                }
            }
            
            <div class="kit-view-mail" onclick="KitMail();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAIL</div>

            <div class="kit-view-valoration-container" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div class="kit-view-valoration-container-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_VALORACION_PERSONAL</div>

                @{
                    if (Model.Valoration == 5)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_IMPRESCINDIBLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-5"></div>
                    }
                    else if (Model.Valoration == 4)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUY_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-4"></div>
                    }
                    else if (Model.Valoration == 3)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-3"></div>
                    }
                    else if (Model.Valoration == 2)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_POCO_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-2"></div>
                    }
                    else
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NADA_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-1"></div>
                    }                                        
                }

                <div class="kit-view-valoration-container-title margin-top-15">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_VALORACION_MEDIA</div>
                <div class="kit-view-valoration-container-title">@Html.DisplayTextFor(m => m.NumKitsMidValoration) Kits</div>


                @{
                    if (Model.MidValoration == 5)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_IMPRESCINDIBLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-5"></div>
                    }
                    else if (Model.MidValoration == 4)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUY_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-4"></div>
                    }
                    else if (Model.MidValoration == 3)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-3"></div>
                    }
                    else if (Model.MidValoration == 2)
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_POCO_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-2"></div>
                    }
                    else
                    {
                        <div class="kit-view-valoration-container-value-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NADA_RECOMENDABLE</div>
                        <div class="kit-view-valoration-container-value kit-view-valoration-container-value-1"></div>
                    }                                        
                }

                <!--<div class="kit-view-valoration-container-value-text">Muy recomendable</div>
                <div class="kit-view-valoration-container-value kit-view-valoration-container-value-2"></div>-->
            </div>

        </div>
        <div id="kit-view-container-data-col2">
            <div id="kit-view-title">@Html.DisplayTextFor(m => m.Product.Name)</div>
            <div id="kit-view-author">@Html.DisplayTextFor(m => m.Product.Author)</div>
			<div class="kit-view-options">
                <div class="kit-view-options-likes"><span class="kit-view-options-number" id="kit-view-options-likes-value">@Html.DisplayTextFor(m => m.NumLikes)</span> Likes</div>
                <div class="kit-view-options-comments"><span class="kit-view-options-number" id="kit-view-options-comments-values">@Html.DisplayTextFor(m => m.NumComments)</span> @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTARIOS</div>
                <div class="kit-view-options-kits"><span class="kit-view-options-number" id="kit-view-options-kits-values">@Html.DisplayTextFor(m => m.NumKits)</span> ReKits</div>
                <div class="kit-view-options-productkits"><span class="kit-view-options-number" id="kit-view-options-productkits-values">@Html.DisplayTextFor(m => m.NumProductKits)</span> Kits</div>
			</div>
        
            <div id="kit-view-image">
                <img src="@Html.DisplayTextFor(m => m.Product.Image)" alt="@Html.DisplayTextFor(m => m.Product.Name)" title="@Html.DisplayTextFor(m => m.Product.Name)" width="300px"/>
            </div>

            <div id="kit-user" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div id="kit-user-image" onclick="Profile(@Html.DisplayTextFor(m => m.User.ID));"><img src="@Html.DisplayTextFor(m => m.User.HtmlPicture)" width="28px"/>
                
                @{
                    if (Model.User.iUserType == 1)
                    {
                         <div class="user-trender-small-kit-view">
                            <img src="/Content/images/trender.png" width="28" height="28" />
                         </div>
                    }
                }
                
                
                </div>
                <div id="kit-user-name">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_POR<br /><span class="kit-user-name-name" onclick="Profile(@Html.DisplayTextFor(m => m.User.ID));">@Html.DisplayTextFor(m => m.User.FirstName) @Html.DisplayTextFor(m => m.User.LastName)</span></div>
                <div id="kit-user-published">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICADO<br /> @Html.DisplayTextFor(m => m.TimeDifference)</div>
                <div id="kit-user-comment">@Html.DisplayTextFor(m => m.Comment)</div>

                @{
                    if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) == Model.User.ID)
                    {
                        <div id="opcions-kit">
                            <div id="opcions-kit-edit-delete">
                                <div id="kit-user-edit" onclick="EditKit(event,@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EDITA_TU_KIT</div>
                                <div id="kit-user-delete">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ELIMINA_KIT</div>
                            </div>
                        </div>
                    
                        <div id="emergent-missatge-esborrat-kit">
                            <div id="div-missatge-confirmacio">
                                <div id="emergent-missatge-esborrat-kit-close-1"> </div>
                                <div id="missatge-pregunta-esborrar-kit">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ESTAS_SEGURO_QUE_QUIERES_ELIMINAR_EL_KIT</div>
                                <div id="botons-opcions-missatge-pregunta-esborrar-kit">
                                    <div id="boto-si-missatge-pregunta-esborrar-kit" onclick="DeleteKit(@Html.DisplayTextFor(m => m.ID));">Sí</div>
                                    <div id="boto-no-missatge-pregunta-esborrar-kit">No</div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <!--@{
                    if (Model.Product.PartnerUrl != "")
                    {
                        <div id="kit-user-loquiero"><a href="@Html.DisplayTextFor(m => m.Product.PartnerUrl)" target="_blank" onclick="LoQuiero(@Html.DisplayTextFor(m => m.Product.ID),'@Html.DisplayTextFor(m => m.Product.PartnerUrl)');">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LO_QUIERO !</a></div>
                    }
                }-->
                <div id="kit-user-loquiero" onclick=LoQuieroDialog();"">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LO_QUIERO !</div>
            </div>

        </div>
        <div id="kit-view-container-data-col3">
        
            <div id="kit-view-menu-info">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAS_INFORMACION</div>

			<div id="kit-view-menu-info-content">
                <div class="kit-view-menu-content-text"><span class="color-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ANO_EDICION</span>@Html.DisplayTextFor(m => m.Product.Year)</div>
                <!-- <div class="kit-view-menu-content-text"><span class="color-title">Metrage.</span>125 mins</div>-->
                @{
                    if ((Model.Product.Description != String.Empty) && (Model.Product.Description != ""))
                    {
                <div class="kit-view-menu-content-text"><span class="color-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DESCRIPCION</span><br />
                    <div class="kit-view-menu-content-text-description">@Html.DisplayTextFor(m => m.Product.Description)</div>
                </div>
                    }
                    else
                    {
                <div class="kit-view-menu-content-text"><span class="color-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DESCRIPCION</span><br />
                    <div class="kit-view-menu-content-text-description">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NO_HAY_NINGUNA_DISPONIBLE</div>
                </div>                    
                    }
                }
			</div>
			<div id="kit-view-menu-tags">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ETIQUETAS_ASIGNADAS</div>
			<div id="kit-view-menu-tags-content">
                @Html.DisplayTextFor(m => m.HtmlTags)
			</div>
        </div>
        <div class="clear"></div>
        <div style="clear: both"></div>
    </div>
    <div id="emergent-sha-eliminat-correctament">
        <div id="emergent-missatge-esborrat-kit-close-2"> </div>
        <div id="missatge-esborrat-kit">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EL_KIT_SE_HA_ELIMINADO_CORRECTAMENTE</div>
        <div id="boto-aceptar-esborrat-kit">Aceptar</div>
    </div>
    <div id="kit-view-container-comments">
        <div id="kit-view-container-comments-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTARIOS_MAY</div>
        <div id="kit-view-container-comments-masonry">
            @Html.DisplayTextFor(m => m.HtmlComments)
        </div>
        <div style="clear:both;"></div>
    </div>
    <div id="kit-view-container-comment-entry">
        <div id="kit-view-container-comment-entry-container">
            <textarea id="add_kit_comment" name="add_kit_comment" >@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTA_TU_TAMBIEN_ESTA_PUBLICACION</textarea>
        </div>
        <div id="kit-view-container-comment-button" onclick="AddKitComment(@Html.DisplayTextFor(m => m.ID));">
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICAR_COMENTARIO
        </div>
        <div style="clear:both;"></div>
    </div>
    <div id="kit-view-container-users">
        <div id="kit-view-container-users-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TAMBIEN_HICIERON_KIT</div>    
        <div id="kit-view-container-users-container">
            @Html.DisplayTextFor(m => m.HtmlOtherKits)
        </div>
        <div style="clear:both;"></div>    
    </div>
    <div style="clear: both"></div>
</div>
<div class="timeline-copyright-container">
    <div id="timeline-copyright" class="timeline-copyright-item">Copyright &copy; Likekit</div>
</div>
    
<script type="text/javascript">
	/*var $kits = $('#kit-view-container-comments-masonry');

	$kits.imagesLoaded(function () {
	    $kits.masonry({
	        itemSelector: '.kit-view-container-comments-entry',
	        columnWidth: 240
	    });
	});*/
</script>
