﻿@model LikeKitWebsite.Models.UserLike
           
@{
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Title = "Likes";
    ViewBag.Css = "likes.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "likes.js";
    ViewBag.Likes = true;
    ViewBag.LikesHeaderUserImage = Model.HtmlHeaderUserImage;
    ViewBag.LikesHeaderUserName = Model.HtmlHeaderUserName;

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LIKES_DE_MIN + "  " + Model.HtmlHeaderUserName; 
}

	<div id="likes">
        @Html.Partial("KitForm")
        <div id="likes-entry-container">
        @Html.DisplayTextFor(m => m.HtmlOutput)
        <div class=""></div>
        </div>
        <div id="timeline-copyright" class="timeline-copyright-likes">Copyright &copy; Likekit</div>
	</div><!-- end timeline -->
	<script type="text/javascript">
	    var $likes = $('#likes-entry-container');

	    $likes.imagesLoaded(function () {
	        $likes.masonry({
	            itemSelector: '.timeline-entry',
	            columnWidth: 252,
	            isAnimated: !Modernizr.csstransitions
	        });
	    });
	</script>
