﻿@model String

@{
    ViewBag.Title = "Media Kit";
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Css = "about.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "about.js";
    ViewBag.About = true;
    ViewBag.MediaKit = " selected";
}

<div id="about-container">
    @Html.Partial("KitForm")
    <div id="about-main-container">
        <div id="about-main-image"><img src="/Content/images/Mediakit.jpg" width="700" /></div>
        <div id="about-main-mediakit-title">Media Kit</div>
        <div id="about-main-mediakit-social-title">Síguenos</div>
        <div id="about-main-mediakit-column">
            <div id="about-main-mediakit-text">
                ¿Quieres escribir sobre nosotros? En este apartado ponemos a tu disposición material gráfico para apoyar tus artículos.<br />
                Esperamos que te sea útil.<br /><br />
                Si no encuentras lo que estás buscando, por favor ponte en contacto con nosotros sin dudarlo.
            </div>
            <div id="about-main-mediakit-btn">Descargar</div>
        </div>
        <div id="about-main-mediakit-social">
            <div id="about-main-mediakit-social-twitter"></div>
            <div id="about-main-mediakit-social-facebook"></div>
            <div id="about-main-mediakit-social-tumblr"></div>
        </div>
    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" style="margin-left:160px;">Copyright &copy; 2012 Likekit</div>