﻿@model LikeKitWebsite.Models.UserStatus
           
@{
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Title = "Likekit";
    ViewBag.Css = "nowwith.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "nowwith.js";
    ViewBag.NowWith = true;
    ViewBag.HeaderUserImage = Model.HtmlHeaderUserImage;
    ViewBag.HeaderTitle = Model.HtmlHeaderTitle;

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = Model.HtmlHeaderTitle; 
}

		<div id="nowwith">
            @Html.Partial("KitForm")
            @Html.Partial("NowWithForm")
            <div id="nowwith-kits-container">
            @Html.DisplayTextFor(m => m.HtmlOutput)
            </div>
            <div id="timeline-copyright" class="timeline-copyright-now-with">Copyright &copy; Likekit</div>
		</div><!-- end timeline -->
	<script type="text/javascript">
	    var $nowwith = $('#nowwith');

	    $nowwith.imagesLoaded(function () {
	        $nowwith.masonry({
	            itemSelector: '.nowwith-entry',
	            columnWidth: 252,
	            isAnimated: !Modernizr.csstransitions
	        });
	    });
	</script>