﻿@model LikeKitWebsite.Models.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Css = "profile.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "profile.js";

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = Model.FirstName + " " + Model.LastName;        
}

<div id="emergent-registrat">
    <div id="emergent-registrat-top"></div>
    <div id="emergent-registrat-center">
        <div id="emergent-registrat-close"></div>
        <div id="text-emergent-registrat">
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DEBES_SER_USUARIO_DE_LIKEKIT
        </div>
        <div id="botons-emergent-registrat">
            <div id="enllac_registrat-emergent-registrat">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INCIA_SESION</div>
            <div id="boto_uneixte-emergent-registrat">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_UNETE_A_LIKEKIT</div>
        </div>
    </div>
    <div id="emergent-registrat-bottom"></div>
</div>
<div id="profile-container">
    @Html.Partial("KitForm")
    @Html.Partial("NowWithForm")
    <div id="profile-data">
        <input type="hidden" id="profile-user-id" name="profile-user-id" value="@Html.DisplayTextFor(m => m.ID)" />
        <div id="profile-data-photo">

                @{
                    if (Model.Picture != "")
                    {
                        <img src="/Content/files/@Html.DisplayTextFor(m => m.Picture)" width="220" height="220" alt="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)" title="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)"/>
                    }
                    else
                    {
                        <img src="/Content/images/default_user.png" width="220" height="220" alt="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)" title="@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)"/>
                    }
                 }
             @{
                 if (Model.iUserType == 1)
                 {
                     <div class="profile-trender">
                        <img src="/Content/images/trender.png" width="220" height="220" />
                     </div>
                 }
             }


        </div>
        <div id="profile-data-col1">
            <div class="profile-data-name">@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)</div>
            <div class="profile-data-about">@Html.DisplayTextFor(m => m.About)</div>

             @{
                 if (Model.iUserType == 1)
                 {
            <div class="profile-data-trender">TRENDER</div>
                 }
             }

            <div class="profile-data-separator"></div>
            <div class="profile-data-web">@Html.DisplayTextFor(m => m.HtmlWeb)</div>

            @{
                if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) == Model.ID)
                {
                    <div class="profile-data-wishlist" onclick="GoToWishlist(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EDITA_TU_WISHLIST</div>
                }
                else
                {
                    <div class="profile-data-wishlist" onclick="GoToWishlist(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_WISHLIST_DE_MIN @Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)</div>
                }
            }
            
        </div>


        
        @{
            if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) == Model.ID)
            {
        <div id="profile-data-col2">
            <div class="profile-data-wellcome">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HOLA_MIN @Html.DisplayTextFor(m => m.FirstName)</div>
            <div class="profile-data-right-menu-option" onclick="EditProfile(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EDITA_TU_PERFIL</div>
            <div class="profile-data-right-menu-option" onclick="Interactions(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INTERACCIONES</div>
            <div class="profile-data-right-menu-option" onclick="parent.location.href= SUBDOMAIN_PATH + '/Timeline/SearchPeople';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_PERSONAS_MIN</div>
            <!--<div class="profile-data-right-menu-option" onclick="parent.location.href='/Timeline/Invite';">Invitar</div>-->
            <div class="profile-data-right-menu-option" id="logout-profile">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SALIR</div>
            <div id="profile-data-invite" class="profile-data-invite" onclick="parent.location.href= SUBDOMAIN_PATH + '/Timeline/Invite';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR_MIN</div>
        </div>
            }
            else
            {
            <div id="profile-data-col2" class="profile-data-col2-other"></div>
            }
         
        }            
        

        @{
            if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) == Model.ID)
            {
            <div class="profile-stats" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">
                <div class="profile-stats-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_PERFIL_ESTA_A_UN @Html.DisplayTextFor(m => m.ProfilePercentage)%</div>
                <div class="profile-stats-gauge">
                    <div class="profile-stats-gauge-value" style="width:@Html.DisplayTextFor(m => m.ProfilePercentageWidth)px;"></div>
                </div>
                @{
                                                                   if (Model.UserName == "")
                                                                   {
                    <div id="profile-stats-tip" class="profile-stats-tip-line" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ANADIR_TU_CORREO_ELECTRONICO</div>
                                                                   }
                                                                   else if (Model.FirstName == "")
                                                                   {
                    <div id="profile-stats-tip" class="profile-stats-tip-line" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ANADIR_TU_NOMBRE</div>
                                                                   }
                                                                   else if (Model.LastName == "")
                                                                   {
                    <div id="profile-stats-tip" class="profile-stats-tip-line" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ANADIR_TUS_APELLIDOS</div>
                                                                   }
                                                                   else if (Model.Gender == 0)
                                                                   {
                    <div id="profile-stats-tip" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ANADIR_SI_ERES_HOMBRE_O_MUJER @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TUS_DATOS_PERSONALES_NO_SE_MOSTRARAN_EN_TU_PERFIL_PUBLICO</div>
                                                                   }
                                                                   else if (Model.BirthdayString == "01/01/0001")
                                                                   {
                    <div id="profile-stats-tip" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ANADIR_TU_FECHA_DE_NACIMIENTO @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TUS_DATOS_PERSONALES_NO_SE_MOSTRARAN_EN_TU_PERFIL_PUBLICO</div>
                                                                   }
                                                                   else if (Model.Address == "")
                                                                   {
                    <div id="profile-stats-tip" class="profile-stats-tip-line" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ANADIR_TU_LOCALIZACION</div>
                                                                   }
                                                                   else if (Model.Web == "")
                                                                   {
                    <div id="profile-stats-tip" class="profile-stats-tip-line" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ANADIR_TU_WEB_BLOG</div>
                                                                   }
                                                                   else if (Model.About == "")
                                                                   {
                    <div id="profile-stats-tip" class="profile-stats-tip-line" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_COMPLETAR_TU_PERFIL_PUEDES_ESCRIBIR_ALGO_SOBRE_TI</div>
                                                                   }
                                                                   else
                                                                   {
                    <div id="profile-stats-tip" class="profile-stats-tip-line" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/EditProfile/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_FELICIDADES_TU_PERFIL_ESTA_COMPLETO</div>
                                                                   }
                }
            </div>
            }
            else
            {
                if (Model.isFollowing)
                {
                    <div id="main-profile-follow-btn" class="profile-following-btn left20 top4" onclick="MainProfileUnFollow(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SIGUIENDO_MIN</div>
                }
                else
                {
                    <div id="main-profile-follow-btn" class="profile-follow-btn left20 top4" onclick="MainProfileFollow(@Html.DisplayTextFor(m => m.ID));">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SEGUIR</div>
                }
            }
        }
        <div id="profile-follow-kits-menu">
            <div id="profile-kits-menu" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/Likes/@Html.DisplayTextFor(m => m.ID)';"><span class="follow-kits-num">@Html.DisplayTextFor(m => m.NumLikes)</span> Likes</div>
            <div id="profile-following-menu"><span class="follow-kits-num" id="profile-num-followings">@Html.DisplayTextFor(m => m.NumFollowings)</span> @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SIGUIENDO_MIN</div>
            <div id="profile-followers-menu"><span class="follow-kits-num" id="profile-num-followers">@Html.DisplayTextFor(m => m.NumFollowers)</span> @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SEGUIDORES</div>
        </div>

        <div id="profile-following-container">
            @Html.DisplayTextFor(m => m.ProfileFollowings)
        </div>
        <div id="profile-followers-container">
            @Html.DisplayTextFor(m => m.ProfileFollowers)
        </div>
    </div>

    <div id="profile-kits">
        @Html.DisplayTextFor(m => m.ProfileCategoryKits)

        <div class="profile-kits-counter">
            <div class="profile-kits-counter-content">
                <div class="profile-kits-counter-content-data">
                    <div class="profile-kits-counter-content-data-text">Kits</div>
                    <div class="profile-kits-counter-content-data-value">@Html.DisplayTextFor(m => m.NumKits)</div>
                </div>
                <div class="profile-kits-counter-content-data">
                    <div class="profile-kits-counter-content-data-text">ReKits</div>
                    <div class="profile-kits-counter-content-data-value">@Html.DisplayTextFor(m => m.NumReKitsToUser)</div>
                </div>
                <div class="profile-kits-counter-content-data">
                    <div class="profile-kits-counter-content-data-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTARIOS</div>
                    <div class="profile-kits-counter-content-data-value">@Html.DisplayTextFor(m => m.NumCommentsToUser)</div>
                </div>
                <div class="profile-kits-counter-content-data">
                    <div class="profile-kits-counter-content-data-text">Likes</div>
                    <div class="profile-kits-counter-content-data-value">@Html.DisplayTextFor(m => m.NumLikesToUser)</div>
                </div>
            </div>
        </div>

        <div class="profile-kits-counter">
            <div class="profile-kits-counter-content margin-top-293">
                <div class="profile-kits-counter-content-data">
                    <div class="profile-kits-counter-content-data-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUNTOS_TOTALES</div>
                    <div class="profile-kits-counter-content-data-value"><span class="text-orange">@Html.DisplayTextFor(m => m.NumUserPoints)</span></div>
                </div>
                <div class="profile-kits-counter-content-data">
                    <div class="profile-kits-counter-content-data-text"></div>
                    <div class="profile-kits-counter-content-data-value"></div>
                </div>
                <div class="profile-kits-counter-content-data">
                    <div class="profile-kits-counter-content-data-text">Trenders</div>
                    <div class="profile-kits-counter-content-data-value"><span class="text-orange">> @Html.DisplayTextFor(m => m.NumTrenderPoints) @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUNTOS</span></div>
                </div>
            </div>
        </div>
    </div>

    <div id="profile-now-with">
        @Html.DisplayTextFor(m => m.ProfileNowWith)
        <div class="profile-now-with-footer" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline/NowWith/@Html.DisplayTextFor(m => m.ID)';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AHORA_ESTOY_CON ...</div>
    </div>

    <div id="profile-users">
        
        @{
            if ((HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null) && (Int64.Parse(HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString())) == Model.ID)
            {
                <div id="profile-users-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARECIDOS_A_TI</div>
            }
            else
            {
                <div id="profile-users-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARECIDOS_A @Html.DisplayTextFor(m => m.FirstNameUpper)</div>
            }
        }

        @Html.DisplayTextFor(m => m.ProfileUsersLikeUser)
    </div>
<div id="timeline-copyright" class="timeline-copyright-profile">Copyright &copy; Likekit</div>
</div><!-- fi profile-container -->
