﻿@model String

@{
    ViewBag.Title = "Sobre LikeKit";
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Css = "search-people.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "search-people.js";
    ViewBag.SearchPeopleHeader = true;
    ViewBag.SearchPeople = " selected";

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_PERSONAS_MIN;    
}

<div id="search-people-container">
    @Html.Partial("KitForm")

    <div id="search-people-noresult-modal" class="modal">
        <div class="search-people-noresult-modal-container">
            <div class="search-people-noresult-text">
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DISCULPA_NO_HEMOS_ENCONTRADO_NINGUNA_PERSONA_QUE_COINCIDA_CON_TU_BUSQUEDA<br />
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMPRUEBA_QUE_SU_NOMBRE_ESTE_ESCRITO_CORRECTAMENTE_O_ANIMATE_A_BUSCAR_OTRAS_PERSONAS
            </div>
            <div id="search-people-noresult-close" class="search-people-noresult-close">
            </div>
        </div>
    </div>

    <div id="search-people-main-container">
        <div id="search-people-main-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_PERSONAS_MIN</div>
        <div class="search-people-col-1">
            <div id="search-people-label">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ENCUENTRA_OTRAS_PERSONAS_QUE_YA_FORMAN_PARTE_DE_LIKEKIT</div>
            <div id="search-people-input-container"><input type="text" id="search-people-input" name="search-people-input" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUIEN_QUIERES_ENCONTRAR" /></div>
            <div id="search-people-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR</div>
        </div>

        <div class="search-people-col-2">
            <div id="search-people-result-container">
            </div>
        </div>

        <div class="search-people-recommended-users">
            <div class="search-people-recommended-users-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TE_RECOMENDAMOS</div>
            <div class="search-people-recommended-users-container">
                @Html.DisplayTextFor(m => m)
            </div>
        </div>

    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" class="timeline-copyright-search-people">Copyright &copy; Likekit</div>