﻿@model LikeKitWebsite.Models.WishList
           
@{
    Layout = "~/Views/Shared/_TimelineLayout.cshtml";
    ViewBag.Title = "Wishlist";
    ViewBag.Css = "wishlist.css";
    ViewBag.MenuFilter = false;
    //ViewBag.DefaultFilter = "TRENDERS";
    ViewBag.Js = "wishlist.js";
    ViewBag.Wishlist = true;
    ViewBag.WishlistHeaderUserImage = Model.HtmlHeaderUserImage;
    ViewBag.WishlistHeaderUserName = Model.HtmlHeaderUserName;
    
    //ViewBag.DisplayName =   HttpContext.Current.Session[LikeKitWebsite.Globals.SessionFirstName].ToString() + " " +  HttpContext.Current.Session[LikeKitWebsite.Globals.SessionLastName].ToString();

    ViewBag.MetaTitle = "Likekit";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.";
    ViewBag.MainH1Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_WISHLIST_DE_MIN + " " + ViewBag.WishlistHeaderUserName;      
}

	<div id="wishlist">
        @Html.Partial("KitForm")
        @Html.Partial("WishListForm")

        <div id="kit-user-loquiero-container">
            <div id="kit-user-loquiero-container-top"></div>
            <div id="kit-user-loquiero-container-center">
                <div id="kit-user-loquiero-container-close"></div>
            </div>
            <div id="kit-user-loquiero-container-bottom"></div>
        </div>

        <div id="wishlist-entry-container">
        @Html.DisplayTextFor(m => m.HtmlOutput)
        </div>
        <div id="timeline-copyright" class="timeline-copyright-wishlist">Copyright &copy; Likekit</div>
	</div><!-- end timeline -->
	<script type="text/javascript">
	    var $wishlist = $('#wishlist');

	    $wishlist.imagesLoaded(function () {
	        $wishlist.masonry({
	            itemSelector: '.wishlist-entry',
	            columnWidth: 240,
	            isAnimated: !Modernizr.csstransitions
	        });
	    });
	</script>
