﻿@model ControlPanel.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created)
            @Html.ValidationMessageFor(model => model.Created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modified)
            @Html.ValidationMessageFor(model => model.Modified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserLevel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserLevel)
            @Html.ValidationMessageFor(model => model.UserLevel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Picture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Picture)
            @Html.ValidationMessageFor(model => model.Picture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastLogin)
            @Html.ValidationMessageFor(model => model.LastLogin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activated)
            @Html.ValidationMessageFor(model => model.Activated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.About)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.About)
            @Html.ValidationMessageFor(model => model.About)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityID, "City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", String.Empty)
            @Html.ValidationMessageFor(model => model.CityID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryID, "Country")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountryID", String.Empty)
            @Html.ValidationMessageFor(model => model.CountryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Web)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Web)
            @Html.ValidationMessageFor(model => model.Web)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Picsquare)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Picsquare)
            @Html.ValidationMessageFor(model => model.Picsquare)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserType)
            @Html.ValidationMessageFor(model => model.UserType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacebookAccessToken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacebookAccessToken)
            @Html.ValidationMessageFor(model => model.FacebookAccessToken)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacebookID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacebookID)
            @Html.ValidationMessageFor(model => model.FacebookID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacebookExpires)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacebookExpires)
            @Html.ValidationMessageFor(model => model.FacebookExpires)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TwitterAccessToken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TwitterAccessToken)
            @Html.ValidationMessageFor(model => model.TwitterAccessToken)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TwitterID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TwitterID)
            @Html.ValidationMessageFor(model => model.TwitterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalPicture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginalPicture)
            @Html.ValidationMessageFor(model => model.OriginalPicture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegisterType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegisterType)
            @Html.ValidationMessageFor(model => model.RegisterType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Perms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Perms)
            @Html.ValidationMessageFor(model => model.Perms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorID, "Vendor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VendorID", String.Empty)
            @Html.ValidationMessageFor(model => model.VendorID)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
