﻿@model ControlPanel.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">Modified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified)
    </div>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">UserLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserLevel)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Picture</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Picture)
    </div>

    <div class="display-label">LastLogin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLogin)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">Activated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activated)
    </div>

    <div class="display-label">About</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.About)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.Name)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country.Name)
    </div>

    <div class="display-label">Web</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Web)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Picsquare</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Picsquare)
    </div>

    <div class="display-label">Gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">Birthday</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

    <div class="display-label">UserType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserType)
    </div>

    <div class="display-label">FacebookAccessToken</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacebookAccessToken)
    </div>

    <div class="display-label">FacebookID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacebookID)
    </div>

    <div class="display-label">FacebookExpires</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacebookExpires)
    </div>

    <div class="display-label">TwitterAccessToken</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TwitterAccessToken)
    </div>

    <div class="display-label">TwitterID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TwitterID)
    </div>

    <div class="display-label">OriginalPicture</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalPicture)
    </div>

    <div class="display-label">RegisterType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegisterType)
    </div>

    <div class="display-label">Perms</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Perms)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
