﻿@model PagedList.IPagedList<ControlPanel.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table>

@using (Html.BeginForm()) 
{ 
    <p> 
        Find by name: @Html.TextBox("SearchString")   
        <input type="submit" value="Search" /></p> 
}
    <tr>

        <th> 
            @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th> 
        <th>
            @Html.ActionLink("FirstName", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th>
        <th>
            @Html.ActionLink("LastName", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th>
        <th>
            @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th>
        <th>
             @Html.ActionLink("LastLogin", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th>
        <th>
            @Html.ActionLink("Active", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th>
        <th>
            @Html.ActionLink("Activated", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activated)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div> 
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 
    of @Model.PageCount 
      
    @if (Model.HasPreviousPage) 
    { 
        @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
        @Html.Raw(" "); 
        @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
    } 
    else 
    { 
        @:<< 
        @Html.Raw(" "); 
        @:< Prev 
    } 
      
    @if (Model.HasNextPage) 
    { 
        @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
        @Html.Raw(" "); 
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
    } 
    else 
    { 
        @:Next > 
        @Html.Raw(" ") 
        @:>> 
    } 
</div>


