﻿@model IEnumerable<ControlPanel.Models.ProductVendor>
@{
    ViewBag.Title = "Product Vendors";
}

<h2>Vendors</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct", new { id = ViewBag.ProductID })
</p>

<table>

@using (Html.BeginForm()) 
{ 
    
}
    <tr>
        <th> 
            @Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th> 
        <th> 
            @Html.ActionLink("Vendor", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th> 
        <th> 
            @Html.ActionLink("Url", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th> 
        <th>
            @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.NameSortParm }) 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
