﻿@model String
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="Description" content="Likekit es una red de recomendaciones de libros, música, cine y series de televisión.">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png?v=05102012")" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css?v=2702201312")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js?v=270220131")" type="text/javascript"></script>
    @{
        ViewBag.Css = "Site.css";
        ViewBag.Css = "wishlist.css";
    }
</head>
<body class="ErrorBody">
    <div class="ErrorHeader"></div>
    <div class="ErrorContainer">
        <div class="ErrorContainerText1">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ERROR_TEXT_1</div>
        <div class="ErrorContainerText2">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ERROR_TEXT_2</div>
        <div class="ErrorContainerText3">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ERROR_TEXT_3</div>
        <div class="ErrorContainerText4">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ERROR_TEXT_4</div>
        <div class="ErrorText">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DISCULPA_LAS_MOLESTIAS_LO_ARREGLAMOS_PRONTO</div>
        <div class="ErrorLink"><a href="/Timeline">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INICIO</a></div>
    </div>
    <div class="ErrorCopyright">Copyright &copy; Likekit</div>
    @RenderBody()
    @Html.DisplayTextFor(m => m)
</body>
</html>
