﻿@{
    ViewBag.Language = "es";

    if (HttpContext.Current.Session["culture"] != null)
    {
        if (HttpContext.Current.Session["culture"].ToString() == "es")
        {
            ViewBag.Language = "es";
        }
        else if (HttpContext.Current.Session["culture"].ToString() == "ca")
        {
            ViewBag.Language = "ca";
        }
    }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:og="http://ogp.me/ns#"
     xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.MetaTitle</title>
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta property="og:image" content="http://www.likekit.com/Content/images/avatar.jpg"/>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png?v=05102012")" />
    <link href="@Url.Content("~/Content/images/apple-touch-icon-precomposed.png?v=05102012")" type="image/x-icon" rel="apple-touch-icon" />
	<link href="@Url.Content("~/Content/images/apple-touch-icon-precomposed-72.png?v=05102012")" type="image/x-icon" rel="apple-touch-icon" sizes="72x72" />
	<link href="@Url.Content("~/Content/images/apple-touch-icon-precomposed-114.png?v=05102012")" type="image/x-icon" rel="apple-touch-icon" sizes="114x114" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css?v=28032013211")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/")@ViewBag.Css?v=28032013211">
    <link rel="stylesheet" href="@Url.Content("~/Content/kit-form.css?v=2803201321")">
    <link rel="stylesheet" href="@Url.Content("~/Content/advanced-filter.css?v=2803201321")">
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.Jcrop.css")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.BetterGrow.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GetJs.aspx?js=main.js?v=2803201321")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.masonry.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ajaxupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.infinitescroll.js?v=28032013212")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/new_likekit.css?v=2803201321")" rel="stylesheet" type="text/css" />
    <!--<link href="@Url.Content("~/Content/Site_2.css?v=2803201321")" rel="stylesheet" type="text/css" />

    @if (ViewBag.Css == "timeline.css")
    { 
        <link href="@Url.Content("~/Content/timeline_2.css?v=2803201321")" rel="stylesheet" type="text/css" />
    }-->

    @if (ViewBag.About == true)
    {
        <script src="@Url.Content("~/Scripts/GetJs.aspx?js=home.js?v=2803201321")" type="text/javascript"></script>
    }
    <script src="@Url.Content("~/Scripts/GetJs.aspx?js=")@ViewBag.Js?v=2803201321" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Home.css?v=2803201321")" rel="stylesheet" type="text/css" />
    <!--<link href="@Url.Content("~/Content/jquery.mobile.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.mobile.min.js?v=2803201321")" type="text/javascript"></script>    
    <script>
        page_popup_bubble = "#index";
    </script>
    <script src="@Url.Content("~/Scripts/bookmark_bubble.js?v=2803201321")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/add_bookmark.js?v=2803201321")" type="text/javascript"></script>-->
</head>
<body>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
    <div id="top-header-shadow"></div>
    <div id="top-header-wide">
        <div id="top-header-content">
            <div id="top-header-wide-logo" onclick="parent.location.href= SUBDOMAIN_PATH + '/Home';"></div>
            <div id="top-header-wide-language">
                @if (ViewBag.Language == "ca")
                {
                    @Html.ActionLink("Cat", "SetLanguage", new { controller = "Home", lang = "ca" }, new { @class = "language-link" })
                }
                else
                {
                    @Html.ActionLink("Cat", "SetLanguage", new { controller = "Home", lang = "ca" }, new { @class = "language-link selected-language" })
                }
                    | 
                @if (ViewBag.Language == "es")
                {
                    @Html.ActionLink("Cast", "SetLanguage", new { controller = "Home", lang = "es" }, new { @class = "language-link" })
                }
                else
                {
                    @Html.ActionLink("Cast", "SetLanguage", new { controller = "Home", lang = "es" }, new { @class = "language-link selected-language" })
                }
            </div>
            <div id="top-header-wide-login" onclick="parent.location.href = SUBDOMAIN_PATH + '/Account/LogOn';">
                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INCIA_SESION
            </div>
        </div>
    </div>

    @{
        if (ViewBag.Profile == true)
        {
            <div id="top-header-filter-wide">
                <div id="top-header-filter-container"><h1>@ViewBag.MainH1Title</h1></div>
            </div>        
        }
    }

	<div id="main">
		<!--<div id="header">
			<div id="top-header">
                <div id="top-header-filter">
                    <table>
                        <tr>
                            <td>
				                <div id="top-header-filter-1" class="top-header-filter-container">
                                    <div class="top-header-filter-text">
                                        <div id="home-twitter"></div>
                                        <div id="home-facebook"></div>
                                        <div id="home-tumblr"></div>
                                        <div id="home-language">

                                        @if (ViewBag.Language == "ca")
                                        {
                                            @Html.ActionLink("Cat", "SetLanguage", new { controller = "Home", lang = "ca" }, new { @class = "language-link selected-language" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Cat", "SetLanguage", new { controller = "Home", lang = "ca" }, new { @class = "language-link" })
                                        }
                                            | 
                                        @if (ViewBag.Language == "es")
                                        {
                                            @Html.ActionLink("Cast", "SetLanguage", new { controller = "Home", lang = "es" }, new { @class = "language-link selected-language" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Cast", "SetLanguage", new { controller = "Home", lang = "es" }, new { @class = "language-link" })
                                        }
                                        </div>
                                    </div>
				                </div>
                            </td>
                            <td>
				                <div id="top-header-filter-2" class="top-header-filter-container">
				                </div>
                            </td>
                            <td>
				                <div id="top-header-filter-3" class="top-header-filter-container">
				                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                @if (ViewBag.MenuFilter == true)
                {
                <div id="top-search"><input type="text" id="timeline-search" name="timeline-search" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_RECOMENDACIONES" /></div>
                }
                <div id="top-fb"><div class="fb-like" data-href="http://www.facebook.com/Likekit" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="verdana"></div></div>
				<div class="clear"></div>
			</div>
		</div>-->
		<div class="clear"></div>
		<!--<div id="left_menu">
			<div id="logo-vertical-home"></div>
			<div class="left-menu-separation-long"></div>-->


            @if (ViewBag.About == true)
            {
			<!-- <div id="sobre-likekit" class="menu-left-section-selected">Sobre Likekit</div>
			<div id="sobre-likekit-content" style="display:block;">
				<div class="sub-menu-content-text @ViewBag.Help" onclick="parent.location.href='/Home/About/1';">Ayuda</div>
				<div class="sub-menu-content-text @ViewBag.MediaKit" onclick="parent.location.href='/Home/About/2';">Media Kit</div>
				<div class="sub-menu-content-text" onclick="Blog();">Blog</div>
				<div class="sub-menu-content-text @ViewBag.Legal" onclick="parent.location.href='/Home/About/4';">Legal</div>
			</div> -->
            }
            else
            {
			<!-- <div id="sobre-likekit">Sobre Likekit</div>
			<div id="sobre-likekit-content">
				<div class="sub-menu-content-text @ViewBag.Help" onclick="parent.location.href='/Home/About/1';">Ayuda</div>
				<div class="sub-menu-content-text @ViewBag.MediaKit" onclick="parent.location.href='/Home/About/2';">Media Kit</div>
				<div class="sub-menu-content-text" onclick="Blog();">Blog</div>
				<div class="sub-menu-content-text @ViewBag.Legal" onclick="parent.location.href='/Home/About/4';">Legal</div>
			</div> -->
            }

            <!--<div id="que-es-likekit-content">
                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUE_ES_LIKEKIT
            </div>

            <div id="home-login-button">
                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ENTRAR
            </div>

            <div id="home-register-button">
                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REGISTRATE
            </div>

            <div class="left-menu-separation-long"></div>

            <div class="home-copyright">Copyright &copy; 2012 Likekit</div>
            <div id="sobre-likekit-separator"></div>
		</div>-->
        @RenderBody()

        <div class="timeline-to-top">
            <div class="to-top"><a href="#main"><img src="/Content/images/to-top.png" /></a></div>
        </div>

    </div>
     @if (ViewBag.MenuFilter == true)
     {
        <div id="footer-wide" style="display:none;">
            <div id="footer-wide-content">
                <!--<input type="hidden" id="type" name="type" value=0 />-->
                <input type="hidden" id="end" name="end" value=0 />
                <div class="footer-wide-content-link footer-wide-content-link-first"><a href="/kits/cine">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CINE_MIN</a></div>
                <div class="footer-wide-content-link-sep"></div>
                <div class="footer-wide-content-link"><a href="/kits/libros">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LIBROS_MIN</a></div>
                <div class="footer-wide-content-link-sep"></div>
                <div class="footer-wide-content-link"><a href="/kits/musica">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUSICA_MIN</a></div>
                <div class="footer-wide-content-link-sep"></div>
                <div class="footer-wide-content-link"><a href="/kits/series">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SERIES_MIN</a></div>
                <div class="footer-wide-content-link-sep"></div>
                <div class="footer-wide-content-link"><a href="/kits/trenders">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TRENDERS_MIN</a></div>
                <div class="footer-wide-content-link-sep"></div>
                <div class="footer-wide-content-link"><a href="/kits/cartelera">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CARTELERA_MIN</a></div>
                <div class="footer-wide-content-link-sep"></div>
                <div class="footer-wide-content-link"><a href="http://www.likekit.com/blog/" target="_blank">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BLOG</a></div>
            </div>
        </div>
     }
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31927708-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <div id="div_UserVoice">
        <script src="@Url.Content("~/Scripts/UserVoice.js")" type="text/javascript"></script>
    </div>
</body>
</html>