﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Likekit</title>
    <meta name="Description" content="Likekit es una red de recomendaciones culturales: libros, música, cine y series de televisión.">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/landing.js")" type="text/javascript"></script>
</head>
<body class="landing-body">
    <img class="bg" src="@Url.Content("~/Content/images/landing.jpg")" />
        <div id="landing-content">
            <div class="landing-logo"></div>
            <div class="landing-separator"></div>
            <div class="landing-options">
                <div id="landing-option-1" class="landing-option-1">SOLICITA TU INVITACIÓN</div>

                <div id="landing-content-form">
                    <div class="landing-content-mail"><input type="text" id="beta-mail" name="beta-mail" value="Tu dirección e-mail"/></div>
                    <div class="landing-content-separator"></div>
                    <div id="landing-content-button">Envía la petición</div>
                    <div id="landing-content-msg"></div>
                </div>

                <div class="landing-option-separator"></div>
                <!--<div id="landing-option-2" class="landing-option-2">YA LA TENGO!</div>

                <div id="landing-login-form">
                    <div class="landing-login-mail"><input type="text" id="username" name="username" value="Dirección e-mail"/></div>
                    <div class="landing-content-separator"></div>
                    <div class="landing-login-password"><input type="text" id="password" name="password" value="Contraseña"/></div>
                    <div class="landing-content-separator"></div>
                    <div id="landing-login-button">Log in</div>
                    <div id="landing-login-content-msg"></div>
                </div>-->

                <div class="landing-social">
                    <div id="landing-social-twitter" class="landing-social-twitter"></div>
                    <div id="landing-social-facebook" class="landing-social-facebook"></div>
                    <div id="landing-social-t" class="landing-social-t"></div>
                </div>
            </div>
            <div class="landing-likekit-phrase">
                <h1>Likekit es una red de recomendaciones</h1>
            </div>
            <div class="landing-bottom">
                <div class="landing-bottom-text landing-bottom-text-1">
                    <div class="bottom-title"><h2>RECOMIENDA</h2></div>
                    <div class="bottom-text">Tus libros, música, cine y series de televisión.</div>
                </div>
                <div class="landing-bottom-text landing-bottom-text-2">
                    <div class="bottom-title"><h2>DESCUBRE</h2></div>
                    <div class="bottom-text">Las mejores recomendaciones.</div>
                </div>            
                <div class="landing-bottom-text landing-bottom-text-3">
                    <div class="bottom-title"><h2>DISFRUTA</h2></div>
                    <div class="bottom-text">Cada minuto de tu tiempo libre.</div>
                </div>            
            </div>
            <div class="landing-likekit-copyright">
                Copyright &copy; 2012 Likekit
            </div>


        </div>
        <!--
            @RenderBody()
        -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31927708-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
