﻿@{
    if (HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID] != null)
    {

        //ViewBag.DisplayName = HttpContext.Current.Session[LikeKitWebsite.Globals.SessionFirstName].ToString() + " " + HttpContext.Current.Session[LikeKitWebsite.Globals.SessionLastName].ToString();
        ViewBag.DisplayName = HttpContext.Current.Session[LikeKitWebsite.Globals.SessionFirstName].ToString();
        ViewBag.UserID = HttpContext.Current.Session[LikeKitWebsite.Globals.SessionUserID].ToString();
        ViewBag.NumInteractions = HttpContext.Current.Session[LikeKitWebsite.Globals.SessionNumInteractions].ToString();
    }
    else
    {
        Response.Redirect("/Home/Index");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.MetaTitle</title>
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <meta name="description" content="@ViewBag.MetaDescription">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png?v=05102012")" />
    <link href="@Url.Content("~/Content/images/apple-touch-icon-precomposed.png?v=05102012")" type="image/x-icon" rel="apple-touch-icon" />
	<link href="@Url.Content("~/Content/images/apple-touch-icon-precomposed-72.png?v=05102012")" type="image/x-icon" rel="apple-touch-icon" sizes="72x72" />
	<link href="@Url.Content("~/Content/images/apple-touch-icon-precomposed-114.png?v=05102012")" type="image/x-icon" rel="apple-touch-icon" sizes="114x114" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css?v=0504201321")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/")@ViewBag.Css?v=0504201321">
    <link rel="stylesheet" href="@Url.Content("~/Content/kit-form.css?v=0504201321")">
    <link rel="stylesheet" href="@Url.Content("~/Content/advanced-filter.css?v=0504201321")">
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.Jcrop.css")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.BetterGrow.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GetJs.aspx?js=main.js?v=0504201321")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.masonry.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ajaxupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.endless-scroll.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.timer.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.infinitescroll-timeline.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GetJs.aspx?js=")@ViewBag.Js?v=0504201321" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/new_likekit.css?v=0504201321")" rel="stylesheet" type="text/css" />
    <!--<link href="@Url.Content("~/Content/Site_2.css?v=0504201321")" rel="stylesheet" type="text/css" />-->

    <!--@if (ViewBag.Css == "profile.css")
    { 
        <link href="@Url.Content("~/Content/profile_2.css?v=0504201321")" rel="stylesheet" type="text/css" />
    }
     
    @if (ViewBag.Css == "timeline.css")
    { 
        <link href="@Url.Content("~/Content/timeline_2.css?v=0504201321")" rel="stylesheet" type="text/css" />
    }-->


    @if (ViewBag.MenuFilter == false)
    {
        <script src="@Url.Content("~/Scripts/GetJs.aspx?js=search.js?v=0504201321")" type="text/javascript"></script>
    }
    <!--<link href="@Url.Content("~/Content/jquery.mobile.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.mobile.min.js?v=0504201321")" type="text/javascript"></script>    
    <script>
        page_popup_bubble = "#index";
    </script>
    <script src="@Url.Content("~/Scripts/bookmark_bubble.js?v=0504201321")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/add_bookmark.js?v=0504201321")" type="text/javascript"></script>-->
</head>
<body>
    <div id="fb-root"></div>
    <script>        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>

    <div id="top-header-shadow"></div>
    <div id="top-header-wide">
        <div id="top-header-content">
            <div id="top-header-wide-logo" onclick="parent.location.href= SUBDOMAIN_PATH + '/Timeline';"></div>

                @if (ViewBag.MenuFilter == true)
                {
                    <div id="top-header-wide-search">
                        <div id="top-header-wide-search-input"><input type="text" id="timeline-search" name="timeline-search" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_RECOMENDACIONES" /></div>
                        <div id="top-header-wide-search-button"></div>
                    </div>
                    
                    
                <!--<div id="top-search">
                    <div id="top-search-input"><input type="text" id="timeline-search" name="timeline-search" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_RECOMENDACIONES" /></div>
                    <div id="top-search-lupa"></div>
                </div>
                <div id="top-search-separator"></div>    -->
                }
                
            @{
                if (ViewBag.MenuFilter == true)
                {
                    <div id="top-header-kit-button"><h1>@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECOMENDAR</h1></div>
                }
                else
                {
                    <div id="top-header-kit-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECOMENDAR</div>
                }
            }

            <div id="menu-user-interactions">
                <div id="menu-user-interactions-value" onclick="Interactions(@ViewBag.UserID);">@ViewBag.NumInteractions</div>
            </div>
            <div id="top-header-menu-user">@ViewBag.DisplayName
                <div id="top-header-user-menu">
                    <div class="sub-menu-content-text" onclick="Profile(@ViewBag.UserID);">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PERFIL</div>
				    <div class="sub-menu-content-text" onclick="EditProfile(@ViewBag.UserID);">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EDITA_TU_PERFIL</div>
				    <div class="sub-menu-content-text" onclick="Interactions(@ViewBag.UserID);">
                        <!--<div id="menu-user-interactions-text">-->
                            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INTERACCIONES
                        <!--</div>-->
                        <div id="menu-user-interactions-inside" onclick="Interactions(@ViewBag.UserID);">
                            <div id="menu-user-interactions-inside-value">@ViewBag.NumInteractions</div>
                        </div>
                    </div>
				    <div class="sub-menu-content-text" onclick="SearchPeopleLink();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_PERSONAS_MIN</div>
				    <div class="sub-menu-content-text" onclick="InviteLink();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR_MIN</div>
				    <div class="sub-menu-content-text" id="logout">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SALIR</div>
                </div>
            </div>
            <div class="top-header-menu-separator">|</div>
            <div id="top-header-menu-likekit">Likekit
                <div id="top-header-likekit-menu">
                    <div class="sub-menu-content-text @ViewBag.Help" onclick="Help();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AYUDA</div>
				    <div class="sub-menu-content-text @ViewBag.MediaKit" onclick="MediaKit();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MEDIA_KIT</div>
				    <div class="sub-menu-content-text" onclick="Blog();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BLOG</div>
				    <div class="sub-menu-content-text @ViewBag.Legal" onclick="Legal();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LEGAL</div>
                    <div class="sub-menu-content-text"><a href="http://youtu.be/oD7h53ZWfe4" target="_blank" id="link_legal">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUE_ES_LIKEKIT</a></div>
                    <!--<div class="sub-menu-content-text" onclick="Video();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUE_ES_LIKEKIT</div>-->
                </div>
            </div>
            <div class="top-header-menu-separator">|</div>
            <div id="top-header-menu-inicio" onclick="parent.location.href=SUBDOMAIN_PATH + '/Timeline';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INICIO</div>
        </div>
    </div>
    @{
        if (ViewBag.MenuFilter == true)
        {
        <div id="top-header-filter-wide">
            <div id="top-header-filter-container">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_FILTROS</div>
            <div id="top-header-filter-tooltip-container">
                <div id="top-header-filter-tooltip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_APLICA_FILTROS_A_LAS_RECOMENDACIONES_PARA_ENCONTRAR_LO_QUE_TE_INTERESA</div>
            </div>
        </div>
        }
        else
        {
            <div id="top-header-filter-wide">
                <div id="top-header-filter-container"><h1>@ViewBag.MainH1Title</h1></div>
            </div>        
        }
    }
	<div id="main">
		<!--<div id="header">
			<div id="top-header">
                @{
                    if (ViewBag.Wishlist == true)
                    {
                        <div class="top-header-wishlist">
                            <div id="wishlist-header-image"><img src="/Content/files/@ViewBag.WishlistHeaderUserImage" width="27px"/></div>
                            <div id="wishlist-header-username">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_WISHLIST_DE<br/>@ViewBag.WishlistHeaderUserName</div>
                        </div>
                    }
                    else if (ViewBag.Likes == true)
                    {
                        <div class="top-header-wishlist">
                            <div id="wishlist-header-image"><img src="/Content/files/@ViewBag.LikesHeaderUserImage" width="27px"/></div>
                            <div id="wishlist-header-username">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LIKES_DE<br/>@ViewBag.LikesHeaderUserName</div>
                        </div>
                    }
                    else if (ViewBag.CategoryKits == true)
                    {
                        <div class="top-header-category-kits">
                            <div id="category-kits-header-image"><img src="/Content/files/@ViewBag.CategoryHeaderUserImage" width="27px"/></div>
                            <div id="category-kits-header-username">@ViewBag.CategoryKitsCategoryHeader <br /> @ViewBag.CategoryKitsHeader</div>
                        </div>
                    }
                    else if (ViewBag.NowWith == true)
                    {
                        <div class="top-header-wishlist">
                            <div id="wishlist-header-image"><img src="/Content/files/@ViewBag.HeaderUserImage" width="27px"/></div>
                            <div id="wishlist-header-username">@ViewBag.HeaderTitle</div>
                        </div>
                    }
                    else if (ViewBag.Interactions == true)
                    {
                    <div id="top-header-filter">
                        <table>
                            <tr>
                                <td>
				                    <div id="top-header-filter-1" class="top-header-filter-container">
                                        <div class="top-header-filter-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TUS_INTERACCIONES</div>
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-2" class="top-header-filter-container">
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-3" class="top-header-filter-container">
				                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    }
                    else if (ViewBag.About == true)
                    {
                    <div id="top-header-filter">
                        <table>
                            <tr>
                                <td>
				                    <div id="top-header-filter-1" class="top-header-filter-container">
                                        <div class="top-header-filter-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SOBRE_LIKEKIT</div>
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-2" class="top-header-filter-container">
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-3" class="top-header-filter-container">
				                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    }
                    else if (ViewBag.SearchPeopleHeader == true)
                    {
                    <div id="top-header-filter">
                        <table>
                            <tr>
                                <td>
				                    <div id="top-header-filter-1" class="top-header-filter-container">
                                        <div class="top-header-filter-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_PERSONAS</div>
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-2" class="top-header-filter-container">
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-3" class="top-header-filter-container">
				                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    }
                    else if (ViewBag.InviteHeader == true)
                    {
                    <div id="top-header-filter">
                        <table>
                            <tr>
                                <td>
				                    <div id="top-header-filter-1" class="top-header-filter-container">
                                        <div class="top-header-filter-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR</div>
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-2" class="top-header-filter-container">
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-3" class="top-header-filter-container">
				                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    }
                    else
                    {
                    <div id="top-header-filter">
                        <table>
                            <tr>
                                <td>
				                    <div id="top-header-filter-1" class="top-header-filter-container">
                                        @if (ViewBag.MenuFilter == true)
                                        {
                                        <div class="top-header-filter-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SIGUIENDO</div>
                                        }
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-2" class="top-header-filter-container">
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-3" class="top-header-filter-container">
				                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div id="top-header-filter-adavanced">
                        <table>
                            <tr>
                                <td>
				                    <div id="top-header-filter-1" class="top-header-filter-container">
                                        <div class="top-header-filter-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AVANZADO</div>
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-2" class="top-header-filter-container">
				                    </div>
                                </td>
                                <td>
				                    <div id="top-header-filter-3" class="top-header-filter-container">
				                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    
                    
                    }
                }
                
                @if (ViewBag.MenuFilter == true)
                {
                <div id="top-search">
                    <div id="top-search-input"><input type="text" id="timeline-search" name="timeline-search" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_RECOMENDACIONES" /></div>
                    <div id="top-search-lupa"></div>
                </div>
                <div id="top-search-separator"></div>    
                }
                
                <div id="top-kit-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECOMENDAR</div>

				<div class="clear"></div>
			</div>
        </div>-->
		<div id="left_menu">


            @if (ViewBag.MenuFilter == true)
            {
                <div id="top-header-filter">
				    <div id="top-header-filter-1" class="top-header-filter-container">
                        @if (ViewBag.MenuFilter == true)
                        {
                        <!--<div class="top-header-filter-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SIGUIENDO_MIN</div>-->
                        }
				    </div>
				    <div id="top-header-filter-2" class="top-header-filter-container">
				    </div>
				    <div id="top-header-filter-3" class="top-header-filter-container">
				    </div>
                </div>

            }


			<!--<div id="logo-vertical"></div>
			<div class="left-menu-separation"></div>
			
            <div id="menu-inicio" onclick="parent.location.href='/Timeline';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INICIO</div>

			<div id="menu-user">@ViewBag.DisplayName</div>
            <div id="menu-user-interactions">
                <div id="menu-user-interactions-value" onclick="Interactions(@ViewBag.UserID);">@ViewBag.NumInteractions</div>
            </div>
			<div id="menu-user-content">
				<div class="sub-menu-content-text" onclick="Profile(@ViewBag.UserID);">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PERFIL</div>
				<div class="sub-menu-content-text" onclick="EditProfile(@ViewBag.UserID);">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EDITA_TU_PERFIL</div>
				<div class="sub-menu-content-text">
                    <div class="menu-user-interactions-text" onclick="Interactions(@ViewBag.UserID);">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INTERACCIONES</div>
                    <div id="menu-user-interactions-inside" onclick="Interactions(@ViewBag.UserID);">
                        <div id="menu-user-interactions-inside-value">@ViewBag.NumInteractions</div>
                    </div>
                </div>
				<div class="sub-menu-content-text" onclick="parent.location.href='/Timeline/SearchPeople';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR_PERSONAS_MIN</div>
				<div class="sub-menu-content-text" onclick="parent.location.href='/Timeline/Invite';">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR_MIN</div>
				<div class="sub-menu-content-text" id="logout">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SALIR</div>
			</div>


            @if (ViewBag.About == true)
            {
			<div id="sobre-likekit" class="menu-left-section-selected">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SOBRE_LIKEKIT_MIN</div>
			<div id="sobre-likekit-content" style="display:block;">
				<div class="sub-menu-content-text @ViewBag.Help" onclick="Help();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AYUDA</div>
				<div class="sub-menu-content-text @ViewBag.MediaKit" onclick="MediaKit();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MEDIA_KIT</div>
				<div class="sub-menu-content-text" onclick="Blog();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BLOG</div>
				<div class="sub-menu-content-text @ViewBag.Legal" onclick="Legal();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LEGAL</div>
                <div class="sub-menu-content-text" onclick="Video();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUE_ES_LIKEKIT</div>
			</div>
            }
            else
            {
			<div id="sobre-likekit">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SOBRE_LIKEKIT_MIN</div>
			<div id="sobre-likekit-content">
				<div class="sub-menu-content-text @ViewBag.Help" onclick="Help();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AYUDA</div>
				<div class="sub-menu-content-text @ViewBag.MediaKit" onclick="MediaKit();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MEDIA_KIT</div>
				<div class="sub-menu-content-text" onclick="Blog();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BLOG</div>
				<div class="sub-menu-content-text @ViewBag.Legal" onclick="Legal();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LEGAL</div>
                <div class="sub-menu-content-text" onclick="Video();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUE_ES_LIKEKIT</div>
			</div>
            }
            <div id="sobre-likekit-separator"></div>

            @if (ViewBag.MenuFilter == true)
            {
            <div id="filter-likekit">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_FILTROS</div>
			<div id="filter-likekit-content">
                <div id="menu-left-option-1" onclick="Filter(1);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TRENDERS_MIN</div>
			    <div id="menu-left-option-2" onclick="Filter(2);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SIGUIENDO_MIN</div>
			    <div id="menu-left-option-3" onclick="Filter(3);" class="menu-left-option menu-left-option-active">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TODOS_MIN</div>

			    <div class="left-menu-separation"></div>
			
			    <div id="menu-left-option-4" onclick="Filter(4);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LIBROS_MIN</div>
			    <div id="menu-left-option-5" onclick="Filter(5);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CINE_MIN</div>
			    <div id="menu-left-option-6" onclick="Filter(6);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SERIES_MIN</div>			
			    <div id="menu-left-option-7" onclick="Filter(7);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUSICA_MIN</div>
			    <div id="menu-left-option-8" onclick="Filter(8);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TODOS_MIN</div>
			
			    <div class="left-menu-separation"></div>			

			    <div id="menu-left-option-9" onclick="Filter(9);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAS_COMENTADO_MIN</div>
			    <div id="menu-left-option-10" onclick="Filter(10);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAS_RECOMENDADO_MIN</div>
			    <div id="menu-left-option-11" onclick="Filter(11);" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TODOS_MIN</div>			

			    <div class="left-menu-separation"></div>			
			
			    <div id="menu-left-option-12" class="menu-left-option">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AVANZADO_MIN</div>


            </div>
            }
            
            <div id="filter-likekit-separator"></div>			

            <div id="timeline-left-social">
                <div id="timeline-social-twitter"></div>
                <div id="timeline-facebook"></div>
                <div id="timeline-tumblr"></div>
            </div>

            <div id="timeline-left-fb">
                <div class="fb-like" data-href="http://www.facebook.com/Likekit" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="verdana"></div>
            </div>

            <div style="clear:both;"></div>-->
		</div>

        @RenderBody()

        <div class="timeline-to-top">
            <div class="to-top"><a href="#main"><img src="/Content/images/to-top.png" /></a></div>
        </div>

        <div id="timeline-counter">
            <div id="timeline-counter-value"></div>
        </div>

        <!--<div id="timeline-copyright">Copyright &copy; 2012 Likekit</div>-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31927708-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <div id="div_UserVoice">
        <script src="@Url.Content("~/Scripts/UserVoice.js")" type="text/javascript"></script>
    </div>
</body>
</html>
