﻿            
            
            
            <div id="timeline-advanced-filter-modal" class="modal">
                <div id="timeline-advanced-filter-container">
                    
                    <div id="timeline-advanced-noresult-modal">
                        <div class="timeline-advanced-noresult-modal-container">
                            <div class="timeline-advanced-noresult-text">
                                @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_KIT_SEARCH_NORESULT
                            </div>
                            <div id="timeline-advanced-noresult-close" class="timeline-advanced-noresult-close">
                            </div>
                        </div>
                    </div>
                    
                    <div id="timeline-advanced-filter-header">
                        <div id="timeline-advanced-filter-title-container">
                            <div id="timeline-advanced-filter-close"></div>
                        </div>
                    </div>
                    <input type="hidden" id="filter-age" name="filter-age" />
                    <input type="hidden" id="filter-genere" name="filter-genere" />

                    <div id="timeline-advanced-filter-values">
                        <div class="timeline-advanced-filter-column-1">
                            <div class="timeline-advanced-filter-column-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BASICOS</div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-1" onclick="AdvFilter(1);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">Trenders</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-2" onclick="AdvFilter(2);">
                                <div class="timeline-advanced-filter-column-fitler-option-round timeline-advanced-filter-column-fitler-option-round-active"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text timeline-advanced-filter-column-fitler-option-text-active">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SIGUIENDO_MIN</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-3" onclick="AdvFilter(3);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TODOS_MIN</div>
                            </div>
                            
                            <div class="timeline-advanced-filter-column-fitler-option margin-top-advanced-filter-option" id="timeline-advanced-filter-4" onclick="AdvFilter(4);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LIBROS_MIN</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-5" onclick="AdvFilter(5);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CINE_MIN</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-6" onclick="AdvFilter(6);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SERIES_MIN</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-7" onclick="AdvFilter(7);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUSICA_MIN</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-8" onclick="AdvFilter(8);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TODOS_MIN</div>
                            </div>

                            <div class="timeline-advanced-filter-column-fitler-option margin-top-advanced-filter-option" id="timeline-advanced-filter-9" onclick="AdvFilter(9);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAS_COMENTADO_MIN</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-10" onclick="AdvFilter(10);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAS_RECOMENDADO_MIN</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-11" onclick="AdvFilter(11);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TODOS_MIN</div>
                            </div>
                        
                        </div>
                        <input type="hidden" id="recommended_tags" name="recommended_tags" value="" />
                        <div class="timeline-advanced-filter-column-2">
                            <div class="timeline-advanced-filter-column-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ETIQUETAS</div>
                            <div class="timeline-advanced-filter-column-fitler-input">
                                <input type="text" id="timeline-advanced-filter-tags" name="timeline-advanced-filter-tags" value="" />
                            </div>
                            
                            <div class="timeline-advanced-filter-column-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ETIQUETAS_RECOMENDADAS</div>
                            <div id="timeline-advanced-filter-recommended-tags-container">
                                <!--<div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-recommeded-tag-1" onclick="AdvFilterRecommendedTag(1);">
                                    <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                    <div class="timeline-advanced-filter-column-fitler-option-text">Aventuras</div>
                                </div>
                                <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-recommeded-tag-2" onclick="AdvFilterRecommendedTag(2);">
                                    <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                    <div class="timeline-advanced-filter-column-fitler-option-text">Ficción</div>
                                </div>
                                <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-recommeded-tag-3" onclick="AdvFilterRecommendedTag(3);">
                                    <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                    <div class="timeline-advanced-filter-column-fitler-option-text">Pop</div>
                                </div>
                                <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-recommeded-tag-4" onclick="AdvFilterRecommendedTag(4);">
                                    <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                    <div class="timeline-advanced-filter-column-fitler-option-text">Musical</div>
                                </div>
                                <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-recommeded-tag-5" onclick="AdvFilterRecommendedTag(5);">
                                    <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                    <div class="timeline-advanced-filter-column-fitler-option-text">Rock</div>
                                </div>
                                <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-recommeded-tag-6" onclick="AdvFilterRecommendedTag(6);">
                                    <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                    <div class="timeline-advanced-filter-column-fitler-option-text">Novela</div>
                                </div>-->
                            </div>
                        </div>
                        <div class="timeline-advanced-filter-column-3">
                            <div class="timeline-advanced-filter-column-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_EDAD</div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-12" onclick="AdvFilter(12);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-age-1" class="timeline-advanced-filter-column-fitler-option-text">16-25</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-13" onclick="AdvFilter(13);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-age-2" class="timeline-advanced-filter-column-fitler-option-text">26-35</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-14" onclick="AdvFilter(14);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-age-3" class="timeline-advanced-filter-column-fitler-option-text">36-45</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-15" onclick="AdvFilter(15);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-age-4" class="timeline-advanced-filter-column-fitler-option-text">46-55</div>
                            </div>                        
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-16" onclick="AdvFilter(16);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-age-5" class="timeline-advanced-filter-column-fitler-option-text">56-65</div>
                            </div>                        
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-17" onclick="AdvFilter(17);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-age-6" class="timeline-advanced-filter-column-fitler-option-text">65</div>
                            </div>
                            <!--<div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-18" onclick="AdvFilter(18);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-age-7" class="timeline-advanced-filter-column-fitler-option-text">>65</div>
                            </div>-->
                        </div>
                        <div class="timeline-advanced-filter-column-4">
                            <div class="timeline-advanced-filter-column-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SEXO</div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-18" onclick="AdvFilter(18);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-men" class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HOMBRES</div>
                            </div>
                            <div class="timeline-advanced-filter-column-fitler-option" id="timeline-advanced-filter-19" onclick="AdvFilter(19);">
                                <div class="timeline-advanced-filter-column-fitler-option-round"></div>
                                <div id="timeline-advanced-filter-women" class="timeline-advanced-filter-column-fitler-option-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MUJERES</div>
                            </div>                        
                        </div>
                        <div id="timeline-advanced-filter-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_APLICAR</div>
                    </div>

                </div>
            </div>