﻿<div id="home-video-modal">
    <!--<div class="home-video-modal-container">
        <div class="home-video-object">
            <!--<iframe id="home-video-src" src="http://player.vimeo.com/video/50758737?autoplay=1" width="700" height="393" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
            <!--<iframe id="home-video-src" width="660" height="393" src="https://www.youtube.com/embed/oD7h53ZWfe4?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="home-video-close">
        </div>
    </div>-->
</div>