﻿            <div id="timeline-kit-modal" class="modal">
                <div id="timeline-kit-container">
                    <div id="timeline-kit-header">
                        <div id="timeline-kit-title-container">
                            <div id="timeline-kit-back"></div>
                            <div id="timeline-kit-close"></div>
                            <div id="timeline-kit-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICAR_UN_KIT</div>
                        </div>
                    </div>

                    <div id="timeline-kit-search">
                        
                        <input type="hidden" id="kit-product-categories" name="kit-product-categories" value="" />

                        <div id="timeline-kit-search-container-categories">
                            <div id="timeline-kit-search-container-category-books">
                            </div>
                            <div id="timeline-kit-search-container-category-series">
                            </div>
                            <div id="timeline-kit-search-container-category-music">
                            </div>
                            <div id="timeline-kit-search-container-category-cinema">
                            </div>
                        </div>

                        <div id="timeline-kit-search-container-categories-borders">
                            <div id="timeline-kit-search-container-category-books-border">
                            </div>
                            <div id="timeline-kit-search-container-category-series-border">
                            </div>
                            <div id="timeline-kit-search-container-category-music-border">
                            </div>
                            <div id="timeline-kit-search-container-category-cinema-border">
                            </div>
                        </div>

                        <div id="timeline-kit-search-container">
                            <input type="text" id="kit-product-search" name="kit-product-search" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUE_QUIERES_RECOMENDAR" />
                        </div>

                        <div id="timeline-kit-seach-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR</div>

                        <div id="timeline-kit-search-result-container">
                        </div>

                        <div id="timeline-kit-webservice-search">
                            <div id="timeline-kit-webservice-search-loader"></div>
                            <div id="timeline-kit-webservice-search-text"></div>
                        </div>
                        
                    </div>

                    <div id="timeline-kit-form">
                        <div id="timeline-kit-button2">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICAR</div>
                        <div id="timeline-kit-form-product-data">
                        </div>
                        <div id="timeline-kit-comment">
                            <div class="timeline-kit-comment-input"><textarea id="kit-form-comment" name="kit-form-comment">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_RECOMENDACION</textarea></div>
                            <div id="timeline-kit-comment-counter">1000</div>
                        </div>
                        <div id="timeline-kit-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICAR</div>
                    </div>

                    <div id="timeline-kit-form-loading-publish">
                            <div id="timeline-kit-webservice-search-publish">
                            <div id="timeline-kit-webservice-search-loader-publish"></div>
                            <div id="timeline-kit-webservice-search-text-publish"></div>
                        </div>
                    </div>

                    <div id="timeline-kit-published">
                        <input type="hidden" name="published_kit_id" id="published_kit_id" value=""/>
                        <div id="timeline-kit-published-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_KIT_SE_HA_PUBLICADO_CORRECTAMENTE</div>
                        <div id="timeline-kit-published-buttons">
                            <div id="timeline-kit-published-button-view" class="timeline-kit-published-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ECHAR_UN_VISTAZO</div>
                            <div id="timeline-kit-published-button-facebook" class="timeline-kit-published-button">
                                <div id="timeline-kit-published-button-facebook-img">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMPARTIR_EN_FACEBOOK</div>
                            </div>
                            <div id="timeline-kit-published-button-twitter" class="timeline-kit-published-button">
                                <div id="timeline-kit-published-button-twitter-img">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMPARTIR_EN_TWITTER</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("SocialForm")

            <div id="twitter-social-kit-published-modal" class="social-kit-published-modal modal">
                <div class="social-kit-published-container">
                    <div class="social-kit-published-header">
                        <div class="social-kit-published-title-container">
                            <div class="social-kit-published-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_ESTE_KIT_EN_TWITTER</div>
                            <div id="twitter-social-kit-published-close" class="social-kit-published-close"></div>
                        </div>
                    </div>

                    <div class="social-kit-published-text-container">
                        <div class="social-kit-published-text-input">
                            <div class="social-kit-published-text-input-container">
                                <textarea id="twitter-social-kit-published-text" name="twitter-social-kit-published-text" ></textarea>                                
                            </div>
                            <div id="social-kit-published-text-counter">140</div>
                        </div>
                        <div id="twitter-social-kit-published-button" class="social-kit-published-button social-kit-published-button-on">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_EN_TWITTER</div>
                    </div>
                </div>
            </div>

            <div id="facebook-social-kit-published-modal" class="social-kit-published-modal modal">
                <div class="social-kit-published-container">
                    <div class="social-kit-published-header">
                        <div class="social-kit-published-title-container">
                            <div class="social-kit-published-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_ESTE_KIT_EN_FACEBOOK</div>
                            <div id="facebook-social-kit-published-close" class="social-kit-published-close"></div>
                        </div>
                    </div>
                    <div class="social-kit-published-text-container">
                        <div class="social-kit-published-text-input">
                                <textarea id="facebook-social-kit-published-text" name="facebook-social-kit-published-text" ></textarea>
                        </div>
                        <div id="facebook-social-kit-published-button" class="social-kit-published-button social-kit-published-button-on">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICA_EN_FACEBOOK</div>
                    </div>
                </div>
            </div>

            @Html.Partial("HomeVideo")