﻿@model LikeKitWebsite.Models.Product
<h3>Realitzar una recomanació</h3>
<script type="text/javascript">
    $('#kit-add-tags').tagsInput();
    $('#kit-add-suggested-tags').tagsInput();
    
</script>
<div class="kit-add-image"><img src="@Html.DisplayTextFor(m => m.Image)" width="50"/></div>
<div class="kit-add-name">@Html.DisplayTextFor(m => m.Name)</div>
<div class="kit-add-year-author">(@Html.DisplayTextFor(m => m.Year)) @Html.DisplayTextFor(m => m.Author)</div>
<div class="kit-add-description">@Html.DisplayTextFor(m => m.Description)</div>
<div class="kit-add-kit"><textarea cols="54" rows="1"></textarea></div>
<div class="kit-add-tags-container"><input id="kit-add-tags" size="80" name="kit-add-tags"/></div>

<div class="kit-add-recommended-tags"><input id="kit-add-suggested-tags" size="80" name="kit-add-suggested-tags"  value="llibre,Dan brown,thriller"/></textarea></div>


<span class="close">Tancar</span>
<span id="kit-step-btn-2" class="kit-next">Següent</span>