﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png?v=09102012")" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css?v=27022013")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/")@ViewBag.Css?v=270220132">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GetJs.aspx?js=main.js?v=27022013")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GetJs.aspx?js=")@ViewBag.Js?v=270220132" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/new_likekit.css?v=27022013")" rel="stylesheet" type="text/css" />
    <script src="http://connect.facebook.net/es_ES/all.js"></script>
</head>
<body class="login-body">
<div id="fb-root"></div>
    <div id="top-header-wide">
        <div id="top-header-content">
            <div id="top-header-wide-logo" onclick="parent.location.href='/Home';"></div>
            <div id="top-header-wide-language">
                <!-- 
                @if(ViewBag.Language == "ca")
                {
                    @Html.ActionLink("Cat", "SetLanguage", new { controller = "Home", lang = "ca" }, new { @class = "language-link selected-language" })
                }
                else
                {
                    @Html.ActionLink("Cat", "SetLanguage", new { controller = "Home", lang = "ca" }, new { @class = "language-link" })
                }
                    | 
                @if(ViewBag.Language == "es")
                {
                    @Html.ActionLink("Cast", "SetLanguage", new { controller = "Home", lang = "es" }, new { @class = "language-link selected-language" })
                }
                else
                {
                    @Html.ActionLink("Cast", "SetLanguage", new { controller = "Home", lang = "es" }, new { @class = "language-link" })
                }
                -->
            </div>
        </div>
    </div>


    <div id="login-content">
        <header>

        </header>
        <section id="main-login">
            @RenderBody()
        </section>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31927708-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
