﻿            <div id="timeline-now-with-modal" class="modal">
                <div id="timeline-now-with-container">
                    <div id="timeline-now-with-header">
                        <div id="timeline-now-with-title-container">
                            <div id="timeline-now-with-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AHORA_ESTOY_CON ...</div>
                            <div id="timeline-now-with-close"></div>
                        </div>
                    </div>

                    <div id="timeline-now-with-search">

                        <input type="hidden" id="now-with-product-categories" name="now-with-product-categories" value="" />

                        <div id="timeline-now-with-search-container-categories">
                            <div id="timeline-now-with-search-container-category-books">
                            </div>
                            <div id="timeline-now-with-search-container-category-series">
                            </div>
                            <div id="timeline-now-with-search-container-category-music">
                            </div>
                            <div id="timeline-now-with-search-container-category-cinema">
                            </div>
                        </div>

                        <div id="timeline-kit-search-container-categories-borders">
                            <div id="timeline-kit-search-container-category-books-border">
                            </div>
                            <div id="timeline-kit-search-container-category-series-border">
                            </div>
                            <div id="timeline-kit-search-container-category-music-border">
                            </div>
                            <div id="timeline-kit-search-container-category-cinema-border">
                            </div>
                        </div>

                        <div id="timeline-now-with-search-container">
                            <input type="text" id="now-with-product-search" name="now-with-product-search" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_AHORA_ESTOY_CON_MIN" />
                        </div>

                        <div id="timeline-now-with-seach-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR</div>

                        <div id="timeline-now-with-search-result-container">
                        </div>

                        <div id="timeline-now-with-webservice-search">
                            <div id="timeline-now-with-webservice-search-loader"></div>
                            <div id="timeline-now-with-webservice-search-text"></div>
                        </div>
                    </div>
                </div>
            </div>