﻿            <div id="profile-delete-modal" class="modal">
                <div id="profile-delete-container">
                    
                    <div id="profile-delete-header">
                        <div id="profile-delete-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_QUIERES_ELIMINAR_TU_CUENTA</div>
                        <div id="profile-delete-close"></div>
                    </div>
                    <div id="profile-delete-subheader">
                        @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SI_ESCOGES_LA_OPCION_ELIMINAR_TU_CUENTA_Y_TODAS_TUS_PUBLICACIONES_EN_LIKEKIT_SE_ELIMINARAN
                    </div>
                    <div id="profile-delete-buttons">
                        <div id="profile-delete-button-yes" class="profile-delete-button">
                            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ELIMINAR                            
                        </div>

                        <div id="profile-delete-button-no" class="profile-delete-button">
                            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NO_ELIMINAR
                        </div>
                    </div>
                </div>
            </div>