﻿            <div id="profile-crop-image-modal" class="modal">
                <div id="profile-crop-image-container">
                    <div id="profile-crop-image-close"></div>
                    <div id="profile-crop-image-area">
                        <img id="profile-crop-image-img" name="profile-crop-image-img" src="/Content/files/1b7a14541063f14a9b8601e6b58cd614.jpg" width="350"/>
                    </div>
                    <div id="profile-crop-image-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SELECCIONA_LA_IMAGEN_QUE_QUIERES_MOSTRAR_EN_TU_AVATAR</div>
                    <div id="profile-crop-image-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ACEPTAR</div>
                </div>
            </div>