﻿            <div id="timeline-noresult-modal" class="modal">
                <div class="timeline-noresult-modal-container">
                    <div class="timeline-noresult-text">
                        @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARECE_QUE_NADIE_LO_HA_RECOMENDADO_AUN_ANIMATE_A_SER_EL_PRIMERO
                    </div>
                    <div id="timeline-noresult-close" class="timeline-noresult-close">
                    </div>
                </div>
            </div>