﻿            <div id="twitter-connect-kit-modal" class="social-kit-published-modal modal">
                <div class="social-kit-published-container">
                    <div class="social-kit-published-header">
                        <div class="social-kit-published-title-container">
                            <div class="social-connect-kit-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_PODER_COMPARTIR_UN_KIT_DEBES_CONECTAR_TU_CUENTA_DE_LIKEKIT_CON_TWITTER</div>
                            <div id="twitter-connect-kit-close" class="social-kit-published-close"></div>
                        </div>
                    </div>
                    <div class="social-connect-button-container">
                        
                        <div id="twitter-connect-kit-button-container" onclick="SocialTwitterConnect();" class="social-connect-kit-button">
                            <div id="twitter-connect-kit-button" class="social-connect-button-twitter">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTAR_CON_TWITTER</div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="facebook-connect-kit-modal" class="social-kit-published-modal modal">
                <div class="social-kit-published-container">
                    <div class="social-kit-published-header">
                        <div class="social-kit-published-title-container">
                            <div class="social-connect-kit-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_PODER_COMPARTIR_UN_KIT_DEBES_CONECTAR_TU_CUENTA_DE_LIKEKIT_CON_FACEBOOK</div>
                            <div id="facebook-connect-kit-close" class="social-kit-published-close"></div>
                        </div>
                    </div>
                    <div class="social-connect-button-container">
                        
                        <div id="facebook-connect-kit-button-container" onclick="SocialFacebookConnect();" class="social-connect-kit-button">
                            <div id="facebook-connect-kit-button" class="social-connect-button-facebook">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONECTAR_CON_FACEBOOK</div>
                        </div>

                    </div>
                </div>
            </div>