﻿            <div id="timeline-wishlist-modal" class="modal">
                <div id="timeline-wishlist-container">
                    <div id="timeline-wishlist-header">
                        <div id="timeline-wishlist-title-container">
                            <div id="timeline-wishlist-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ANADIR_AL_WISHLIST_MAJ ...</div>
                            <div id="timeline-wishlist-close"></div>
                        </div>
                    </div>

                    <div id="timeline-wishlist-search">

                        <input type="hidden" id="wishlist-product-categories" name="wishlist-product-categories" value="" />

                        <div id="timeline-wishlist-search-container-categories">
                            <div id="timeline-wishlist-search-container-category-books">
                            </div>
                            <div id="timeline-wishlist-search-container-category-series">
                            </div>
                            <div id="timeline-wishlist-search-container-category-music">
                            </div>
                            <div id="timeline-wishlist-search-container-category-cinema">
                            </div>
                        </div>

                        <div id="timeline-kit-search-container-categories-borders">
                            <div id="timeline-kit-search-container-category-books-border">
                            </div>
                            <div id="timeline-kit-search-container-category-series-border">
                            </div>
                            <div id="timeline-kit-search-container-category-music-border">
                            </div>
                            <div id="timeline-kit-search-container-category-cinema-border">
                            </div>
                        </div>

                        <div id="timeline-wishlist-search-container">
                            <input type="text" id="wishlist-product-search" name="wishlist-product-search" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ANADIR_A_LA_WISHLIST ..." />
                        </div>

                        <div id="timeline-wishlist-seach-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_BUSCAR</div>

                        <div id="timeline-wishlist-search-result-container">
                        </div>

                        <div id="timeline-wishlist-webservice-search">
                            <div id="timeline-wishlist-webservice-search-loader"></div>
                            <div id="timeline-wishlist-webservice-search-text"></div>
                        </div>
                    </div>
                </div>
            </div>