﻿@model ControlPanel.Models.StaticPage

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>StaticPage</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">

            @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor", @id = "text-details" })

            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeoTitle)
            @Html.ValidationMessageFor(model => model.SeoTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeoDescription)
            @Html.ValidationMessageFor(model => model.SeoDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoKeywords)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeoKeywords)
            @Html.ValidationMessageFor(model => model.SeoKeywords)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
