﻿@model IEnumerable<ControlPanel.Models.StaticPage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Order
        </th>
        <th>
            Created
        </th>
        <th>
            Modified
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

<div class="static-pages-mediakit-upload-file-container">
    <form id="frmMediaKit" name="frmMediaKit" method="post" enctype="multipart/form-data">
        <label for="mediakit_file">Fichero mediakit :</label>
        <input type="file" id="mediakit_file" name="mediakit_file" />
        <input type="submit" value="Enviar"/>
    </form>
</div>
