﻿/**
    ABOUT
**/
	
#about-container
{
    position:relative;
	float:left;
	width:700px;
	margin-left:108px;
	margin-top:76px;
	/*height:100%;*/
    min-height: 200px;
	height: auto !important;
	height: 200px;	
	z-index:1;
	background-color:#fff;/*#EBEBEB;*/
	border-bottom:1px solid #F15B27;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
	padding-bottom:14px;
}

.height_1100
{
    height:1100px !important;    
}

#about-main-container
{
    position:relative;
	float:left;
	width:700px;
	height:100%;
	z-index:1;
	/*background-color:#EBEBEB;*/    
}


#about-main-image
{
    float:left;
    width:700px;
    min-height: 300px;
	height: auto !important;
	height: 300px;    
}

#about-main-title
{
    float:left;
    width:650px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    margin-left:14px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:16px;
    color:#363636;
    text-align:left;
	border-bottom:1px solid #F15B27;
}

#about-main-section-title
{
    float:left;
    width:650px;
    height:18px;
    line-height:18px;
    margin-top:10px;
    margin-left:14px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;
    text-align:left;
}

#about-main-section-text
{
    float:left;
    width:650px;
    line-height:15px;
    margin-top:10px;
    margin-left:14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    text-align:left;
    padding-bottom:10px;
	border-bottom:1px dotted #F15B27;    
}

#about-main-section-text-noborder
{
    float:left;
    width:650px;
    line-height:15px;
    margin-top:10px;
    margin-left:14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    text-align:left;
    padding-bottom:10px;
}

/**
   ABOUT
**/

/**

    MEDIA KIT

**/

#about-main-mediakit-title
{
    float:left;
    width:387px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    margin-left:14px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px;
    color:#363636;
    text-align:left;
	border-bottom:1px solid #F15B27;    
}

#about-main-mediakit-social-title
{
    float:left;
    width:206px;
    height:30px;
    line-height:30px;
    margin-top:20px;
    margin-left:80px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px;
    color:#363636;
    text-align:left;
	border-bottom:1px solid #F15B27;    
}

#about-main-mediakit-column
{
    float:left;
    width:387px;
    margin-left:14px;    
}

#about-main-mediakit-text
{
    float:left;
    width:387px;
    line-height:15px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    text-align:left;
    padding-bottom:10px;
}

#about-main-mediakit-btn
{
    float:left;
    width:140px;
    margin-top:8px;
    line-height:30px;    
    height:30px;
    cursor:pointer;
    color:White;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background-image: url(images/bt.png);
    text-align:center;
}

.about-main-mediakit-btn-on
{
    background-image: url(images/bt_on.png) !important;
}


#about-main-mediakit-social
{
    float:left;
    width:206px;
    margin-top:20px;
    margin-left:80px;   
}

#about-main-mediakit-social-twitter
{
    float:left;
    width:20px;
    height:13px;
    margin-top:1px;
    cursor:pointer;
    background-image: url(images/login-social-twitter.png);
}

.about-main-mediakit-social-twitter-on
{
    background-image: url(images/login-social-twitter-on.png) !important;
}

#about-main-mediakit-social-facebook
{
    float:left;
    width:9px;
    height:14px;
    margin-left:13px;
    cursor:pointer;
    background-image: url(images/login-social-facebook.png);    
}

.about-main-mediakit-social-facebook-on
{
    background-image: url(images/login-social-facebook-on.png) !important;
}

#about-main-mediakit-social-tumblr
{
    float:left;
    width:8px;
    height:14px;
    margin-left:15px;
    cursor:pointer;
    background-image: url(images/login-social-t.png);  
}

.about-main-mediakit-social-tumblr-on
{
    background-image: url(images/login-social-t-on.png) !important;
}

/**

    FI MEDIA KIT

**/

/**

    LEGAL

**/

#about-main-legal-bottom
{
    float:left;
    width:650px;
    margin-top:10px;
    margin-left:14px;
    border-top:1px solid #F15B27;
}

#about-main-legal-mail
{
    float:left;
    width:163px;
    margin-top:10px;
}

#about-main-legal-mail a, #about-main-legal-mail a:link, #about-main-legal-mail a:active, #about-main-legal-mail a:visited, #about-main-legal-mail a:hover
{
    color:#363636;
}

#about-main-legal-address
{
    float:left;
    width:274px;
    margin-top:10px;    
    color:#363636;
}

#about-main-legal-social
{
    float:left;
    width:66px;
    margin-top:10px;
    margin-left:24px;
}

/**

    FI LEGAL

**/

/**

    TEAM

**/

#about-main-team-bottom
{
    float:left;
    width:672px; 
    height:18px;
    line-height:18px;
    font-size:12px;
    margin-left:14px;
    color:#F15B27; 
    padding-bottom:10px;  
    border-bottom:1px solid #F15B27; 
}

.about-main-team-bottom-section
{
    float:left;
    width:672px; 
    margin-left:14px;
}
.about-main-team-bottom-section-title
{
    float:left;
    width:672px; 
    height:18px;
    line-height:18px; font-size:16px;
    margin-top:27px;
    color:#F15B27; 
    padding-bottom:10px;  
    font-family: Arial, Helvetica, sans-serif;
}
.about-main-team-entry
{
    float:left;
    width:672px; 
    min-height: 88px;
	height: auto !important;
	height: 88px;	
    line-height:18px;
    font-size:12px;
    margin-bottom:27px;
    color:#363636; 
    font-family: Arial, Helvetica, sans-serif;    
}
.about-main-team-entry-image
{
    float:left;
    width:88px; 
    height:88px;
    background-color:#FFFFFF;
}
.about-main-team-entry-text
{
    float:left;
    width:572px; 
    min-height: 88px;
	height: auto !important;
	height: 88px;	
	margin-left:12px;
    line-height:18px;
    font-size:12px;
    color:#363636; 
    font-family: Arial, Helvetica, sans-serif;     
}

.about-main-team-bottom-section-separator
{
    float:left;
    width:672px;
    margin-left:14px;
    border-bottom:1px dotted #F15B27;
}

.width_672
{
    width:672px !important;    
}

#about-main-section-text a, #about-main-section-text a:link, #about-main-section-text a:active, #about-main-section-text a:visited, #about-main-section-text a:hover
{
    text-decoration:underline;
    color:#F15B27;
}

.team_title
{
    font-family: Arial, Helvetica, sans-serif; font-weight:bold; !important;
}

.about-main-team-entry-text a, .about-main-team-entry-text a:link, .about-main-team-entry-text a:active, .about-main-team-entry-text a:visited, .about-main-team-entry-text a:hover
{
    text-decoration:underline;
    color:#F15B27;
}

/**

    FI TEAM

**/

/**

	OVERRIDES

**/

#timeline-kit-modal {width:702px !important;}
#timeline-kit-container{width:702px !important;}
#timeline-kit-header{width:702px !important;}
#timeline-kit-title-container {width:702px !important;}
#timeline-kit-title{width:656px !important;}
#timeline-kit-search{width:702px !important;}
#timeline-kit-search-result-container{width:702px !important;}
#timeline-kit-search-container{width:530px !important;}
#timeline-kit-search-container input{width:520px !important;}
#timeline-kit-form{width:702px !important;}
#timeline-kit-form-product-data{width:702px !important;}
#timeline-kit-form-loading-publish{width:702px !important;}
#timeline-kit-published {width:702px !important;}
#timeline-kit-published-buttons{width:672px !important;}
#timeline-kit-published-button-facebook{margin-left:43px !important;}
#timeline-kit-webservice-search-publish{width:702px !important;}
#timeline-kit-webservice-search-text-publish{width:629px !important;}