﻿/**

    ADVANCED FILTER

**/

#timeline-advanced-filter-modal
{
    /*position:absolute;*/
    float:left;
    position:fixed;
    top:66px;
    /*left:0;*/
    bottom:0px;
    width:750px;
    z-index:60;
    display:none;
}

.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
#timeline-advanced-filter-container
{
    float:left;
    width:750px;
    height:500px;
}

#timeline-advanced-filter-header
{
    float:left;
    width:750px;
    height:33px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;    
}

#timeline-advanced-filter-title-container
{
    float:left;
    width:750px;
    height:30px;
    line-height:33px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#FFFFFF;    
}

#timeline-advanced-filter-title
{
    float:left;
    width:714px;
    text-align:center;
}

#timeline-advanced-filter-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

#timeline-advanced-filter-values
{
    float:left;
    width:750px;
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

.timeline-advanced-filter-column-1
{
    float:left;
    width:148px;
    height:255px;
    margin-top:14px;
    margin-left:12px;
}

.timeline-advanced-filter-column-2
{
    float:left;
    width:265px;
    height:255px;
    margin-top:14px;
    margin-left:20px;
}

.timeline-advanced-filter-column-3
{
    float:left;
    width:89px;
    height:220px;
    margin-top:14px;
    margin-left:20px;
}

.timeline-advanced-filter-column-4
{
    float:left;
    width:89px;
    height:220px;
    margin-top:14px;
    margin-left:20px;
}

.timeline-advanced-filter-column-title
{
    float:left;
    width:126px;
    height:18px;
    margin-left:14px; 
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-size:12px;	
	color:#363636;
	text-align:left;    
}

.timeline-advanced-filter-column-fitler-option
{
    float:left;
    width:148px;
    height:18px;
    margin-left:14px; 
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-size:12px;	
	color:#363636;
	text-align:left;
	cursor:pointer;
}

.timeline-advanced-filter-column-2 .timeline-advanced-filter-column-title
{
    width:200px !important;
    margin-top:22px !important;
}

.timeline-advanced-filter-column-3 .timeline-advanced-filter-column-title, .timeline-advanced-filter-column-4 .timeline-advanced-filter-column-title
{
    width:75px !important;
}

.timeline-advanced-filter-column-3 .timeline-advanced-filter-column-fitler-option, .timeline-advanced-filter-column-4 .timeline-advanced-filter-column-fitler-option
{
    width:89px;
}


.timeline-advanced-filter-column-fitler-option-round
{
    float:left;
    width:14px;
    height:18px;
	background-image:url('images/advanced-option.png');
	background-repeat:no-repeat;
	background-position: 2px 7px;    
}

.timeline-advanced-filter-column-fitler-option-round-selected
{
    background-image:url('images/advanced-option-selected.png') !important;
}

.timeline-advanced-filter-column-fitler-option-round-active
{
    background-image:url('images/advanced-option-selected.png') !important;
}

.timeline-advanced-filter-column-fitler-option-text
{
    float:left;
    width:126px;
    height:18px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-size:12px;	
	color:#363636;
	text-align:left;
	border-bottom:1px dotted #FFFFFF;
}

.timeline-advanced-filter-column-3 .timeline-advanced-filter-column-fitler-option-text, .timeline-advanced-filter-column-4 .timeline-advanced-filter-column-fitler-option-text
{
    width:75px !important;
}

.timeline-advanced-filter-column-fitler-option-text-selected
{
    color:#FFFFFF !important;
}

.timeline-advanced-filter-column-fitler-option-text-active
{
    color:#FFFFFF !important;
}

.margin-top-advanced-filter-option
{
    margin-top:14px;    
}

#timeline-advanced-filter-btn
{
    float:right;
    width:194px;
    height:30px;
    margin-right:20px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url('images/kit-form-button.png'); font-size:12px;	
	color:#FFFFFF;
    text-align:center;
    cursor:pointer;
}

.timeline-advanced-filter-btn-on
{
    background-image:url('images/kit-form-button-on.png') !important;
}

.timeline-advanced-filter-column-fitler-input
{
    float:left;
    width:236px;
    height:23px;
    margin-top:8px;
    margin-left:14px;
    line-height:23px;
	background-image:url('images/advanced_filter_input.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;     
}

.timeline-advanced-filter-column-fitler-input input
{
    width:226px;
    background:none;
    border:0;
    border-color:transparent; font-size:12px;
    margin-left:4px;
}

#timeline-advanced-noresult-modal
{
    float:left;
    width:700px;
    z-index:60;
    display:none;
}

.timeline-advanced-noresult-modal-container
{
    width:750px;
	min-height: 85px;
	height: auto !important;
	height: 85px;    
    z-index:60;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:27px;
}

.timeline-advanced-noresult-text
{
    float:left;
    width:635px;
    margin-top:27px;
    margin-left:30px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-size:12px;
    color:#FFFFFF;
    text-align:center;
}

.timeline-advanced-noresult-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:23px;
    margin-right:18px;
    background-image: url(images/advanced-filter-noresult-arrow.png);
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
}


/**

    FI ADVANCED FILTER

**/