﻿/**

    CATEGORY KITS

**/

.top-header-category-kits
{
    float:left;
    width:300px;
}

#category-kits-header-image
{
    float:left;
    width:28px;
    height:28px;
    overflow:hidden;    
}

#category-kits-header-username
{
    float:left;
    width:255px;
    height:30px;
    margin-left:15px;
    line-height:15px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#F15B27;
    text-align:left;    
}
	
#category-kits
{
    position:relative;
	float:left;
	width:760px;
	min-height: 480px;
	height: auto !important;
	height: 480px;  
	margin-top:90px;
    padding-bottom:20px;
    /*border-bottom:1px dotted #F15B27;*/
	margin-left:108px;
	height:100%;
	z-index:1;
	/*background-color:#BAB4B3;*/
}

#category-kits-container
{
    float:left;
    width:760px;
	min-height: 480px;
	height: auto !important;
	height: 480px;        
   /* background-color:#BAB4B3;*/
}

#category-kits-main-header
{
    position:fixed;
	float:left;
	width:720px;
	height:40px;
	line-height:40px;
	padding-left:15px;
	/*background-color:#D7D3D2;*/
	color:#7F807F;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;	
    margin-top:0px;
    z-index:50;
	background-color: rgb(255, 255, 255); box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;
}

#category-kits-main-header-count
{
	float:left;
	width:65px;
	height:40px;
	line-height:40px;	
}

#category-kits-main-header-1
{
    float:right;
	height:40px;
	line-height:40px;    
    padding-left:10px;
    padding-right:5px;
    color:#363636;
    cursor:pointer;
}

#category-kits-main-header-2
{
    float:right;
	height:40px;
	line-height:40px;    
    padding-left:5px;
    padding-right:5px;
    color:#363636;
    cursor:pointer;
}

#category-kits-main-header-3
{
    float:right;
	height:40px;
	line-height:40px;    
    padding-left:5px;
    padding-right:5px;
    color:#363636;
    cursor:pointer;
}

#category-kits-main-header-4
{
    float:right;
	height:40px;
	line-height:40px;    
    padding-left:5px;
    padding-right:5px;
    color:#363636;
    cursor:pointer;
}

#category-kits-main-header-5
{
    float:right;
	height:40px;
	line-height:40px;    
    padding-left:5px;
    padding-right:10px;
    color:#363636;
    cursor:pointer;
}

.category-kits-main-header-on
{
    color:#F15B27 !important;
}

.category-kits-main-header-selected
{
    color:#F15B27 !important;
}

.category-kits-header
{
    float:left;
	width:685px; 
	height:28px;
	line-height:28px;
	/*background-color:#D8D8D8;*/
	color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
	padding-left:15px;
	
	/*background-image:url('images/menu-left-avall.png');
	background-repeat:no-repeat;
	background-position: 671px 10px;*/
	margin-bottom:8px;
	cursor:pointer;
}

.category-kits-header-on
{
	background-image:url('images/menu-left-amunt.png');
}


.category-kits-container
{
   width: 760px; height: 100%; float: left; position: relative; z-index: 1;
}

.timeline-entry{
	margin: 20px 3px 0px 0px; padding: 0px; width: 230px; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;
}

.timeline-entry-info
{
   left: -5px; top: -5px; width: 206px; bottom: 0px; padding-top: 20px; padding-right: 12px; padding-left: 12px; display: none; position: absolute; z-index: 50; background-image: url("images/timeline-entry-transparent.png"); background-repeat: repeat;
}
	
.timeline-entry-image{
   width: 220px; height: auto !important; padding-bottom: 12px; margin-top: 5px; margin-left: 5px; float: left; position: relative; z-index: 1; cursor: pointer; min-height: 235px;
}
	
.timeline-entry-options{
	width: 230px; height: 22px; color: rgb(133,133,133); line-height: 22px; font-family:Arial, Helvetica, sans-serif; font-size: 12px; float: left; background-color: rgb(231, 231, 231);
}
	
.timeline-entry-footer
{
    width: 230px; height: 0px; float: left; background-color: rgb(255, 255, 255);
}	
	
.timeline-entry-info-title
{
    width: 196px; color: rgb(0, 0, 0); line-height: 18px; font-family:Arial, Helvetica, sans-serif;  font-size: 16px; float: left;
}	

.timeline-entry-info-user
{
    width: 230px; height: 34px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: left; background-color: rgb(231, 231, 231);
}

.timeline-entry-info-user-image
{
    padding: 3px 3px 0px; width: 28px; height: 28px; overflow: hidden; margin-bottom: 3px; float: left; position: relative; cursor: pointer;
}	

.timeline-entry-info-username
{
    width: 155px; height: 34px; color: rgb(0,0,0); line-height: 34px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; font-weight:bold; margin-left: 3px; float: left; cursor: pointer;
}	

.timeline-entry-info-user-comment
{
    padding: 5px; width: 220px; color: rgb(133,133,133); line-height: 14px; font-family:Arial, Helvetica, sans-serif;  font-size: 11px; border-bottom-color: white; border-bottom-width: 1px; border-bottom-style: solid; float: left; cursor: pointer; background-color: rgb(231,231,231);
}	

.timeline-entry-info-user-comment-text
{
    width: 220px; line-height: 14px; float: left;
}	

.timeline-entry-info-user-comment-img
{
   width: 58px; height: 7px; margin-top: 3px; float: right;
}	

.timeline-entry-info-user-comment-img img
{
    float: left; display: block;
}

.timeline-entry-info-category-image
{
   width: 21px; height: 34px; margin-right: 7px; float: right;
}	

.book-category-image
{
    background-image:url('images/kit-book.png');
	background-repeat:no-repeat;
	background-position:center center;
}
.book-serie-image
{
    background-image:url('images/kit-serie.png');
	background-repeat:no-repeat;
	background-position:center center;    
}
.book-cinema-image
{
    background-image:url('images/kit-cinema.png');
	background-repeat:no-repeat;
	background-position:center center;        
}
.book-music-image
{
    background-image:url('images/kit-music.png');
	background-repeat:no-repeat;
	background-position:center center;        
}

.timeline-entry-info-kit-link-container
{
    width: 196px; padding-top: 5%; padding-bottom: 8%; float: left;
}

.timeline-entry-info-kit-link-container-border
{
    width: 196px; padding-top: 6px; padding-bottom: 6px; margin-top: 10px; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted; float: left;
}

.timeline-entry-info-kit-link
{
    width: 196px; height: 18px; color: rgb(0, 0, 0); line-height: 18px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; float: left;
}

.timeline-entry-info-kit-link-on
{
    color:#FFFFFF !important;
}

.timeline-entry-info-like-link
{
    background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 8px; float: left; background-image: url("images/kit-entry-like.png"); background-repeat: no-repeat;
}

.timeline-entry-info-like-link-on
{
	background-image:url('images/like_on.png') !important;
	color:#FFFFFF !important;
}

.timeline-entry-info-dislike-link
{
    background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 8px; float: left; background-image: url("images/dislike.png"); background-repeat: no-repeat;
}

.timeline-entry-info-dislike-link-on
{
	background-image:url('images/dislike_on.png') !important;
	color:#FFFFFF !important;
}

.timeline-entry-info-comment-link
{
    background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 16px; float: left; background-image: url("images/kit-entry-comment.png"); background-repeat: no-repeat;
}

.timeline-entry-info-comment-link-on
{
	background-image:url('images/kit-entry-comment-on.png') !important;
	color:#FFFFFF !important;
}

.timeline-entry-info-rekit-link
{
    background-position: left; width: 172px; height: 13px; color: rgb(0, 0, 0); line-height: 13px; padding-left: 24px; font-family:Arial, Helvetica, sans-serif;  font-size: 12px; margin-top: 16px; float: left; background-image: url("images/kit-entry-rekit.png"); background-repeat: no-repeat;
}

.timeline-entry-info-rekit-link-on
{
	background-image:url('images/kit-entry-rekit-on.png') !important;
	color:#FFFFFF !important;
}

.timeline-entry-options-likes
{
    width: 59px; height: 22px; text-align: center; line-height: 22px; float: left;
}

.timeline-entry-options-comments
{
    width: 102px; height: 22px; text-align: center; line-height: 22px; float: left; cursor: pointer;
}

.timeline-entry-options-kits
{
   width: 58px; height: 22px; text-align: center; line-height: 22px; float: left;
}

.timeline-entry-options-number
{
    color: rgb(133,133,133); font-weight:bold;
}

.timeline-to-top
{
   width: 700px; bottom: 10px; margin-bottom: 10px; float: left; display: none; position: fixed; background-color: transparent;
}

.to-top
{
    width: 15px; height: 12px; right: -35px; bottom: -10px; position: absolute; z-index: 30; cursor: pointer;
}

.to-top img
{
    border:none;
}

.show{display:block !important;}
.hide{display:none !important;}

/**

   FI CATEGORY KITS

**/

#timeline-kit-modal
{
    top: 84px !important;
}