﻿/**
    VIEW KIT
**/
	
#kit-view-container
{
    position:relative;
	float:left;
	width:700px;
	margin-left:108px;
	/*margin-top:60px;*/
	margin-top:160px;
	/*height:100%;*/
	z-index:1;
	background-color:#fff;/*#EBEBEB;*/
	border-bottom:1px solid #F15B27;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
	/*overflow:auto;*/
}
	
#kit-view-container-data
{
    float:left;
	width:700px;
	min-height: 657px;
	height: auto !important;
	height: 657px;
	/*height:1005;*/
	/*height:100%;*/
	/*overflow:hidden;*/
	/*background-color:#EBEBEB;*/
	background-color:#fff;/*#EBEBEB;*/
	/*border-bottom:1px solid #F15B27;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    */
}

#kit-view-container-data-col1{float:left;width:200px;margin-top:164px;color:#666666;font-family: Arial, Helvetica, sans-serif; font-weight:bold;font-size:12px;color:#666666;}
#kit-view-container-data-col2{float:left;width:300px;}
#kit-view-container-data-col3{float:left;width:200px;}

.kit-view-like{float:left;width:40px;height:13px;line-height:13px;margin-top:8px;margin-left:13px;background-image:url('images/kit-entry-like.png');background-repeat:no-repeat;background-position:3px 0px;padding-left:25px;cursor:pointer;margin-right:100px;}
.kit-view-dislike{float:left;width:40px;height:13px;line-height:13px;margin-top:8px;margin-left:13px;background-image:url('images/dislike.png');background-repeat:no-repeat;background-position:3px 0px;padding-left:25px;cursor:pointer;margin-right:100px;}
.kit-view-comment{float:left;width:70px;height:13px;line-height:13px;margin-top:25px;margin-left:13px;background-image:url('images/kit-entry-comment.png');background-repeat:no-repeat;background-position:3px 0px;padding-left:25px;cursor:pointer;margin-right:80px;}
.kit-view-kitit{float:left;width:45px;height:13px;line-height:13px;margin-top:19px;margin-left:13px;background-image:url('images/kit-entry-rekit.png');background-repeat:no-repeat;background-position:2px 0px;padding-left:25px;cursor:pointer;margin-right:100px;}
.kit-view-wishlist{float:left;width:156px;height:13px;line-height:13px;margin-top:40px;margin-left:13px;background-image:url('images/kit-entry-wishlist.png');background-repeat:no-repeat;background-position:5px 0px;padding-left:25px;cursor:pointer;}
.kit-view-tweet{float:left;width:45px;height:13px;line-height:13px;margin-top:40px;margin-left:13px;background-image:url('images/kit-entry-twitter.png');background-repeat:no-repeat;background-position:left center;padding-left:25px;cursor:pointer;margin-right:100px;}
.kit-view-share{float:left;width:45px;height:13px;line-height:13px;margin-top:20px;margin-left:13px;background-image:url('images/kit-entry-share.png');background-repeat:no-repeat;background-position:5px 0px;padding-left:25px;cursor:pointer;margin-right:100px;}
.kit-view-mail{float:left;width:40px;height:13px;line-height:13px;margin-top:22px;margin-left:13px;background-image:url('images/kit-entry-mail.png');background-repeat:no-repeat;background-position:1px 0px;padding-left:25px;cursor:pointer;margin-right:100px;}
    
#kit-view-title
{
    float:left;
    width:300px;
	min-height: 18px;
	height: auto !important;
	height: 18px;    
    /*height:18px;*/
    margin-top:60px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    line-height:18px;
    color:#666666;
}

#kit-view-title h1
{
    font-family: Arial, Helvetica, sans-serif !important; 
    font-weight:bold !important;
    font-size:18px !important;
    line-height:18px !important;
    color:#666666 !important;
}

#kit-view-author
{
    float:left;
    width:300px;
    height:18px;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:18px;
    line-height:18px;
    color:#666666;
}
 
.kit-view-options{
	float:left;
	width: 300px;
	height:30px;
	margin-top:24px;
     font-family: Arial, Helvetica, sans-serif;
    font-size:12px;	
	color:#666666;	
} 
 
.kit-view-options-likes
{
    float:left;
    width:60px;
	height:13px;
	line-height:13px;
    text-align:left;
}

.kit-view-options-comments
{
    float:left;
    width:102px;
	height:13px;
	line-height:13px;
    text-align:center;       
}

.kit-view-options-kits
{
    float:left;
    width:70px;
	height:13px;
	line-height:13px;
    text-align:right;    
}   

.kit-view-options-productkits
{
    float:left;
    width:68px;
	height:13px;
	line-height:13px;
    text-align:right;    
}   
    
#kit-view-image
{
    float:left;
    width:300px;
    padding-top:17px;
    padding-bottom:17px;
    border-top:1px dotted #F15B27;    
    border-bottom:1px dotted #F15B27;    
}

#kit-user{float:left;width:300px;margin-top:16px; font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#666666;}
#kit-user-image{position:relative;float:left;width:28px;height:28px;cursor:pointer;overflow:hidden;}
#kit-user-name{float:left;width:161px;height:28px;margin-left:7px;line-height:14px;text-align:left;}
#kit-user-published{float:left;width:104px;height:28px;line-height:14px;text-align:right;color:#7F7F7F;}
    
.kit-user-name-name{font-family: Arial, Helvetica, sans-serif; font-weight:bold;cursor:pointer;}    
    
#kit-user-comment{float:left;width:300px;margin-top:26px; font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#666666;line-height:14px;min-height: 14px;height: auto !important;height: 14px;}

#kit-user-comment a, #kit-user-comment a:link, #kit-user-comment a:visited, #kit-user-comment a:active
{
    text-decoration:underline;    
    color:#F15B27;
}

#kit-user-comment a:hover
{
    text-decoration:underline;    
    color:#F15B27;
}

#opcions-kit{float:left; margin-top:7px;}

#opcions-kit-edit-delete{width:300px;font-family: Arial, Helvetica, sans-serif; font-weight:bold;font-size:12px;color:#666666;line-height:22px;height: 22px;border-top:1px dotted #F15B27;border-bottom:1px dotted #F15B27;}
#kit-user-edit{float:left;width:88px;margin-top:4px;font-family: Arial, Helvetica, sans-serif; font-weight:bold;font-size:12px;color:#666666;line-height:22px;height: 22px;border-top:1px;border-bottom:1px;cursor:pointer;}
#kit-user-delete{float:right;width:44px;margin-top:4px;font-family: Arial, Helvetica, sans-serif; font-weight:bold;font-size:12px;color:#666666;line-height:22px;height: 22px;border-top:1px;border-bottom:1p;cursor:pointer;text-align:right;}

#kit-user-loquiero{float:left;width:300px;height:30px;line-height:30px;margin-top:20px;font-family: Arial, Helvetica, sans-serif; font-weight:bold;font-size:12px;color:#FFFFFF;text-align:center;background-image:url('images/loquiero-button-sprite.png');cursor:pointer;background-position: 0px 0px;}
#kit-user-loquiero a{text-decoration:none;color:#FFFFFF;}

.kit-user-loquiero-selected{background-position: 0px -30px !important;}
    
#kit-view-container-comments
{
    float:left;
	width:700px;
	padding-top:78px;
	/*background-color:#EBEBEB;*/
}

#kit-view-container-comments-title
{
    float:left;
	width:672px;
	height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    line-height:18px;
    color:#F15B27;
	border-bottom:1px solid #F15B27;
	margin-left:14px;
	margin-right:14px;
}
   
#kit-view-container-comments-masonry
{
    float:left;
	width:720px;   
	/*height:107px;*/
	min-height: 10px;
	height: auto !important;
	height: 10px;		
	background-color:transparent;
}

.kit-comments-column
{
    float:left;    
	width: 214px;
    min-height: 10px;
	height: auto !important;
	height: 10px;		
	margin-left:14px;
}

#kit-view-container-comment-entry
{
    float:left;
	width:700px;
	height:162px;
	padding-top:50px;
	/*background-color:#EBEBEB;*/	
}

#kit-view-container-comment-entry-container
{
    float:left;
	width:672px;
	height:109px;
	margin-left:14px;
	background-color:#FFFFFF;
	background-image:url('images/kit-comment-textarea.png');
	background-repeat:no-repeat;
	background-position: right center;
	/*background-color:#EBEBEB;*/
}

#kit-view-container-comment-entry-container textarea
{
    float:left;
	width:638px;
	height:76px;
	margin-top:2px;
	margin-left:2px;
	background-color:#FFFFFF;
	border:none;
	border-color:transparent;
	padding:14px;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:18px;
    resize:none;
}

#kit-view-container-comment-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:23px;
    margin-left:14px;
    background-image:url('images/kit_view_comment_button.png');
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
}

.kit-view-container-comment-button-enabled
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:23px;
    margin-left:14px;
    background-image:url('images/kit_view_comment_button_enabled.png') !important;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
    cursor:pointer;    
}

.kit-view-container-comment-button-enabled-on
{
    background-image:url('images/kit_view_comment_button.png') !important;
}

.kit-view-container-comments-entry
{
	float: left;
	width: 214px;
	margin:0;
	margin-top:20px;
	padding:0;
	padding-bottom:16px;
	border-bottom:1px dotted #F15B27;
	 font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
}

.kit-comment-user-image{position:relative;float:left;width:28px;height:28px;cursor:pointer;overflow:hidden;}
.kit-comment-user-published{float:left;width:179px;height:14px;line-height:14px;margin-left:7px;text-align:left;color:#7F7F7F;font-family: Arial, Helvetica, sans-serif; font-style:italic;}
.kit-comment-user-name{float:left;width:179px;height:14px;line-height:14px;margin-left:7px;text-align:left;color:#666666;font-family: Arial, Helvetica, sans-serif; font-weight:bold;cursor:pointer;}
.kit-comment-text{float: left;width: 220px;line-height:14px;margin-top:6px;color:#666666;}

.kit-comment-delete
{
    float: left;width: 220px;line-height:14px;margin-top:6px;color:#666666;text-decoration:underline;display:none;font-family: Arial, Helvetica, sans-serif; font-weight:bold;cursor:pointer;  
}

.kit-comment-delete-on
{
    color:#F15B27 !important;  
}

#kit-view-container-users
{
	float:left;
	width:700px;
	/*background-color:#EBEBEB;*/
	padding-bottom:8px;
}
	
#kit-view-container-users-title
{
    float:left;
	width:672px;
	height:30px;
	margin-top:55px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    line-height:18px;
    color:#F15B27;
	border-bottom:1px solid #F15B27;
	margin-left:14px;
	margin-right:14px
}

#kit-view-container-users-container
{
    float:left;
	width:672px;
	min-height: 87px;
	height: auto !important;
	height: 87px;    	
	margin-top:35px;
	margin-left:14px;
	margin-right:14px;
}

.kit-view-container-users-entry
{
    float:left;
    position:relative;
	width:87px;
	height:87px;
	overflow:hidden;
	cursor:pointer;
}
	
.kit-view-container-users-entry-info
{
    position:absolute;
    top:0;
    left:0;
    width:87px;
    height:87px;
    background-image: url(images/timeline-entry-transparent.png); 
    background-repeat: repeat;
    z-index:90;
    display:none;
}

.kit-view-container-users-entry-info-profile
{
    float:left;
    width:87px;
    height:13px;
    margin-top:10px;
    line-height:13px;
    font-size:12px;
     font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    text-align:center;
}

.kit-view-container-users-entry-info-follow
{
    float:left;
    width:87px;
    height:13px;
    margin-top:10px;
    line-height:13px;
    font-size:12px;
     font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;    
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    text-align:center;    
}

.kit-view-container-users-entry-info-kit
{
    float:left;
    width:87px;
    height:13px;
    margin-top:10px;
    line-height:13px;
    font-size:12px;
     font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;    
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    text-align:center;    
}
	
.timeline-entry-options-number
{
    color:#7F7F7F;
}	
	
#kit-view-menu-info{
	float:right;
	/*width:120px;*/
	height:18px;
	line-height:18px;
	margin-top:164px;
	margin-right:13px;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	padding-right:12px;
	background-image:url('images/menu-left-avall.png');
	background-repeat:no-repeat;
	background-position: right center;	
	font-family: Arial, Helvetica, sans-serif; font-weight:bold;
	cursor:pointer;
	text-align:right;
}

#kit-view-menu-info-content{
	display:none;
	float:right;
	width:120px;
	 font-family: Arial, Helvetica, sans-serif;
	margin-right:13px;
}

.kit-view-menu-content-text{
	float:right;
	min-height: 18px;
	height: auto !important;
	height: 18px;	
	line-height:18px;
	width:124px;
	 font-family: Arial, Helvetica, sans-serif;
	margin-right:11px;
	color:#7F7F7F;
	border-bottom:1px dotted #F15B27;
	text-align:right;
	font-size:12px;
}

.kit-view-menu-content-text-description
{
	float:right;
	min-height: 18px;
	height: auto !important;
	height: 18px;	
	line-height:18px;
	width:124px;
	 font-family: Arial, Helvetica, sans-serif;
	color:#7F7F7F;
	text-align:right;
	font-size:12px;    
}

#kit-view-menu-tags{
	float:right;
	/*width:120px;*/
	height:18px;
	line-height:18px;
	margin-right:13px;
	font-size:12px;
    color:#000000;
	font-weight:bold;	
	margin-top:20px;
	/*margin-bottom:19px;*/
	padding-right:12px;
	background-image:url('images/menu-left-amunt.png');
	background-repeat:no-repeat;
	background-position: right center;
	font-family: Arial, Helvetica, sans-serif; font-weight:bold;
	cursor:pointer;	
	text-align:right;	
}	

.kit-view-menu-tags-hidden
{
	background-image:url('images/menu-left-avall.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
}

#kit-view-menu-tags-content{
	/*display:none;*/
	float:right;
	width:120px;
	height:100%;
	 font-family: Arial, Helvetica, sans-serif;
	margin-right:13px;
}
	
.color-title
{
    color:#666666;
}

.kit-view-options-number
{
    color:#666666;
	font-weight:bold;
}

.profile-to-top
{
    position:relative;
    float:left;
    width:700px;
    background-color:transparent;      
}

.to-top
{
    position:absolute;
    width:15px;
    height:12px;
    bottom:-10px;
    right:-35px;
    cursor:pointer;
    z-index:30;
}

.to-top img
{
    border:none;
}

.kit-view-valoration-container
{
    float: left;
    width: 168px;
    margin-top: 25px;
    margin-left:14px;
    color: #666666;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    border-top:1px dotted #F15B27;
    padding-top:14px;
}

.kit-view-valoration-container-title
{
    float: left;
    width: 168px;
    height:18px;
    line-height:18px;
    text-align:left;
}
.kit-view-valoration-container-value-text
{
    float: left;
    width: 110px;
    height:15px;
    margin-top:2px;
    line-height:18px;
    text-align:left;
    font-size:12px;
    color:#F15B27;
	font-weight:normal;
	font-style:italic;    
}

.kit-view-valoration-container-value
{
    float: left;
    width: 58px;
    height:18px;
}
.kit-view-valoration-container-value-1
{
	background-image:url('images/kit-view-valoration-1.png') !important;
	background-repeat:no-repeat;
	background-position: right center;    
}

.kit-view-valoration-container-value-2
{
	background-image:url('images/kit-view-valoration-2.png') !important;
	background-repeat:no-repeat;
	background-position: right center;    
}

.kit-view-valoration-container-value-3
{
    background-image:url('images/kit-view-valoration-3.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
}

.kit-view-valoration-container-value-4
{
    background-image:url('images/kit-view-valoration-4.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
}

.kit-view-valoration-container-value-5
{
    background-image:url('images/kit-view-valoration-5.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
}

.margin-top-15
{
    margin-top:15px;
}

#text-emergent-registrat
{
    margin-top:15px;
    font-size:14px;
}

#enllac_registrat-emergent-registrat
{   
    padding-right:auto;
    margin-top:35px;
    font-weight:bold;
    cursor:pointer;
    text-decoration:underline;
    width:80px;
}

#botons-emergent-registrat
{
    width:480px;
    height:55px;
    margin-left:130px;
}
    
#boto_uneixte-emergent-registrat
{
    width:132px;
    height:26px;
    border-radius: 4px;
    margin-top:-24px;
    margin-left:240px;
    margin-right:38px;
    /*background-image: url(images/facebook_button_versio2.png);*/
    background-color:#E2551C;
    background-position:center;
    color:#FFFFFF;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    padding-left:53px;
    padding-right:38px;
    padding-top:10px;
    background-repeat:no-repeat;
    float:right;
    
    /* Efecte ombra: */
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

/**
   FI VIEW KIT
**/


/**

    SOCIAL FORM

**/

.social-kit-modal
{
    /*position:absolute;*/
    float:left;
    position:fixed;
    top:45px;
    /*left:0;*/
    bottom:0px;
    width:700px;
    z-index:60;
    display:none;
}

.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
.social-kit-container
{
    float:left;
    width:700px;
    height:500px;
}

.social-kit-header
{
    float:left;
    width:700px;
    height:53px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;    
}

.social-kit-title-container
{
    float:left;
    width:700px;
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:16px;
    color:#FFFFFF;    
    text-align:left;
}

.social-kit-title
{
    float:left;
    width:652px;
    margin-left:12px;
    text-align:left;
}

.social-kit-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

.social-kit-text-container
{
    float:left;
    width:700px;
    /*height:70px;*/
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

.social-kit-text-input
{
    float:left;
    width:671px;
    height:108px;
    margin-top:24px;
    margin-left:14px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
    background-image: url(images/social-input.png);
}

.social-kit-text-input-container
{
    float:left;
	width:662px;
	height:76px;    
	margin-top:4px;
}

.social-kit-text-input textarea
{
    float:left;
	width:662px;
	height:76px;
	background-color:#FFFFFF;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;   
}

#mail-social-text
{
    margin-top:4px;    
}

#social-kit-text-counter
{
    float:right;
    width:50px;
    height:18px;
    margin-top:8px;
    margin-right:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#C0C0C0;     
    text-align:right;
}

.social-kit-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:18px;
    margin-left:15px;
    background-image:url('images/kit-form-button.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;	
}

.social-kit-button-on
{
 
    background-image:url('images/kit-form-button-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}


.social-connect-kit-title
{
    float:left;
    width:652px;
    margin-left:12px;
    text-align:center;    
}

#twitter-connect-kit-button
{
    float:left;
}

#facebook-connect-kit-button
{
    float:left;
    
}

.social-connect-button-container
{
    float:left;
    width:700px;
    height:44px;
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

.social-connect-kit-button
{
    float:left;
    width:192px;
    height:30px;   
    margin-top:14px;
    margin-left:252px;    
    line-height:30px; 
    background-image: url(images/register-social.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;
}

.social-connect-kit-button-on
{
    background-image: url(images/social-white.png) !important;
    color:#F15B27;
    cursor:pointer;
}

.social-connect-button-twitter
{
    background-image: url(images/register-button-twitter.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

.social-connect-button-facebook
{
    background-image: url(images/register-button-facebook.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:25px;
    text-align:left;
}

.social-connect-button-twitter-on
{
    background-image: url(images/login-social-twitter-on.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

.social-connect-button-facebook-on
{
    background-image: url(images/login-social-facebook-on.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:25px;
    text-align:left;
}

#kit-social-tip
{
    float:left;
    width:313px;
    height:26px;
    margin-top:32px;
    line-height:26px;
    background-image: url(images/register-usermail-tip.png);
    color:#7F7F7F;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    text-align:left;
    padding-top:0px;
    padding-left:12px;
    padding-right:6px;
    padding-bottom:0px;
    display:none;    
}


.social-kit-text-input-mail
{
    float:left;
    width:266px;
    height:36px;
    margin-top:28px;
    margin-left:15px;
    margin-right:0px;
    line-height:36px;
    background-image: url(images/password-recovery-input.png);
    padding-left:12px;
}

.social-kit-text-input-mail input
{
    float:left;
    width:254px;
 	border:none !important;
 	padding:0px;
 	margin:0px;
 	margin-top:8px;
 	font-size:14px;
 	color:#000000;
 	background-color:#FFFFFF;
     font-family: Arial, Helvetica, sans-serif;
	border-color:transparent !important;    
}

/**

   FI SOCIAL FORM

**/


/**

	OVERRIDES

**/

#timeline-kit-modal {width:702px !important;}
#timeline-kit-container{width:702px !important;}
#timeline-kit-header{width:702px !important;}
#timeline-kit-title-container {width:702px !important;}
#timeline-kit-title{width:656px !important;}
#timeline-kit-search{width:702px !important;}
#timeline-kit-search-result-container{width:702px !important;}
#timeline-kit-search-container{width:530px !important;}
#timeline-kit-search-container input{width:520px !important;}
#timeline-kit-form{width:702px !important;}
#timeline-kit-form-product-data{width:702px !important;}
#timeline-kit-form-loading-publish{width:702px !important;}
#timeline-kit-published {width:702px !important;}
#timeline-kit-published-buttons{width:672px !important;}
#timeline-kit-published-button-facebook{margin-left:43px !important;}
#timeline-kit-webservice-search-publish{width:702px !important;}
#timeline-kit-webservice-search-text-publish{width:629px !important;}


.social-kit-published-modal{top:76px !important;width:702px !important;}
.social-kit-published-container{width:629px !important;}
.social-kit-published-header{width:702px !important;}
.social-kit-published-title-container{width:702px !important; font-size:14px !important;}
.social-connect-kit-title{width:650px !important;}
.social-connect-button-container{width:702px !important;}


#emergent-missatge-esborrat-kit
{	
    display: none;
	background-color: #E8E7E7;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 8px #CFCFCF;
    height: 140px;
    left: 50%;
    margin-left: -347px;
    margin-top: 20px;
    position: fixed;
    top: 22%;
    width: 671px;
    z-index: 1000;
}

#missatge-pregunta-esborrar-kit
{
    margin-top:15px;
    font-size:18px;
    text-align: center;
}

#boto-si-missatge-pregunta-esborrar-kit
{
    background-color: #E2551C;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    height: 28px;
    margin-left: 140px;
    margin-top: 30px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 4px;
    text-align: center;
    width: 50px;
}
#boto-si-missatge-pregunta-esborrar-kit:hover
{
    background-color: #666666;
}
#boto-no-missatge-pregunta-esborrar-kit
{
    background-color: #E2551C;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    height: 28px;
    margin-right: 140px;
    margin-top: 30px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 4px;
    text-align: center;
    width: 50px;
}
#boto-no-missatge-pregunta-esborrar-kit:hover
{
    background-color: #666666;
}

#emergent-sha-eliminat-correctament
{
    display:none;
	
	background-color: #E8E7E7;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 8px #CFCFCF;
    height: 140px;
    left: 50%;
    margin-left: -347px;
    margin-top: 20px;
    position: fixed;
    top: 22%;
    width: 671px;
    z-index: 1000;
}

#emergent-missatge-esborrat-kit-close-2
{
    float:right;
    width:13px;
    height:15px;
    margin-right: 13px;
    margin-top: 13px;
    background-image: url(images/loquiero-close.png);
    clear:left;
    cursor:pointer;
    
    top: 0px;
    margin-top: 
    position: relative;
}
#emergent-missatge-esborrat-kit-close-1
{
    float:right;
    width:13px;
    height:15px;
    margin-right: 13px;
    margin-top: 13px;
    background-image: url(images/loquiero-close.png);
    clear:left;
    cursor:pointer;
    top: 0px;
    margin-top: 0px;
    position: relative;
    margin-top: -7;
}


#missatge-esborrat-kit
{
    text-align: center;
    margin-top: 15px;
    padding-left: 12px;
    
    font-size: 18px;
}

#boto-aceptar-esborrat-kit
{
    text-align: center;
    
    
    float:left;
    width:172px;
    height:28px;
    border-radius: 4px;
    margin-top:30px;
    margin-left:238px;
    /*background-image: url(images/facebook_button_versio2.png);*/
    background-color:#E2551C;
    background-position:center;
    color:#FFFFFF;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    padding-left:26px;
    padding-right:26px;
    padding-top:4px;
    background-repeat:no-repeat;
    text-align: center;
}
#boto-aceptar-esborrat-kit:hover
{
    background-color: #666666;
}