﻿/**
    PROFILE
**/
	
#profile-container
{
    position:relative;
	float:left;
	width:717px;
	margin-left:108px;
	margin-top:90px;
	/*height:100%;*/
	/*min-height: 700px;
	height: auto !important;
	height: 700px;*/
	z-index:1;
	/*background-color:#EBEBEB;*/
	
	
}

#profile-container:after {
    content:"";
    clear:both;
    display:block;
}

#profile-container { zoom:1; }

#profile-data{
	float:left;
	width:717px;
	/*margin-top:57px;*/

	min-height: 262px; /*272px;*/
	height: auto !important;
	height: 262px; /*272px;*/
	z-index:1;
	background-color:#fff;/*#EBEBEB;*/
	border-bottom:1px solid #F15B27;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
}

#profile-data-photo
{
    position:relative;
	float:left;
	width:205px;
	height:205px;
		padding-top:26px;
	z-index:1;
	overflow:hidden;
}

#profile-data-col1
{
	float:left;
	width:310px;
		margin-top:26px;
	height:172px;/* 182px;*/
	margin-left:53px;
}

.profile-data-name
{
    float:left;
    width:270px;
    height:20px;
    line-height:20px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#000000;
}

.profile-data-about
{
    float:left;
    width:270px;
	min-height: 20px;
	height: auto !important;
	height: 20px;    
    line-height:20px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:18px;
    color:#000000;
}

.profile-data-trender
{
    float:left;
    width:270px;
	height: 18px;    
    line-height:18px;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#F15B27;
}

.profile-data-separator
{
    float:left;
    width:60px;
    height:1px;
    margin-top:8px;
    margin-right:100px;
    background-color:#777777;
}

.profile-data-web
{
    float:left;
    width:270px;
    height:18px;
    margin-top:12px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#F15B27;    
}

.profile-data-web a,.profile-data-web a:link, .profile-data-web a:active, .profile-data-web a:visited, .profile-data-web a:hover
{
    text-decoration:underline;
    color:#F15B27;    
}

.profile-data-wishlist
{
    float:left;
    width:270px;
    height:18px;
    padding-right:10px;
    margin-top:10px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;  
    cursor:pointer;  
}

.profile-data-wishlist-on
{
    color:#F15B27 !important;  
}

#profile-data-invite
{
    float:left;
    width:120px;
    height:23px;
    margin-top:12px;
    line-height:23px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;  
    cursor:pointer;	   
    text-align:center;
}

.profile-data-invite
{
  
    background-image:url('images/profile-invite-button.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
}

.profile-data-invite-on
{
 	background-image:url('images/profile-invite-button.png') !important;
	background-repeat:no-repeat;
	background-position: 0px -23px !important;
}

#profile-data-col2
{
	float:left;
	width:121px;
	height:153px;
	margin-left:0px;
	background:#e8e7e7;   
}

.profile-data-col2-other{background:#FFFFFF !important;}

.profile-data-wellcome
{
    float:left;
    width:176px;
    /*height:18px;*/
    margin-left:8px;
	margin-top:26px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
    text-align:left;
	
}

.profile-data-right-menu-option
{
    float:left;
    width:176px;
    height:18px;
    margin-left:8px;
    line-height:18px;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    text-align:left;
    cursor:pointer;
	padding:4px 0;
	
}

.profile-data-right-menu-option-on{color:#F15B27 !important;}

.profile-follow-btn
{
    float:left;
    width:120px;
    height:23px;
    line-height:23px;
	background-image:url('images/profile-invite-button.png');
	background-repeat:no-repeat;
	background-position: 0px -23px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size:12px;
	color:#FFFFFF;	
	text-align:center;
	cursor:pointer;
	font-weight:bold;
}


#main-profile-follow-btn{margin-top:16px !important;margin-right:20px;margin-left:53px !important;}

.profile-following-btn
{
    float:left;
    width:120px;
    height:23px;
    line-height:23px;
	background-image:url('images/profile-invite-button.png');
	background-repeat:no-repeat;
	background-position: 0px -23px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size:12px;
	color:#FFFFFF;	
	text-align:center;
	cursor:pointer;
	font-weight:bold;
}

.profile-follow-btn-on
{
	/*background-image:url('images/download_on.png') !important;*/
	background-image:url('images/profile-invite-button.png') !important;
	background-repeat:no-repeat;
	background-position: 0px 0px !important;
}

.profile-follow-btn-disabled
{
	background-image:url('images/profile-invite-button.png') !important;
	background-repeat:no-repeat;
	background-position: 0px 0px !important;
	/*background-position: 0px -23px !important;*/
}

#profile-follow-kits-menu
{
    float:right;
    height:18px;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;	
	font-size:12px;
	color:#363636;
}

#profile-followers-menu
{
    float:right;
    height:18px;
    margin-right:10px;
	background-image:url('images/menu-left-avall.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
	padding-right:12px;
}

#profile-following-menu
{
    float:right;
    height:18px;
    margin-right:10px;
	background-image:url('images/menu-left-avall.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
	padding-right:12px;
}

#profile-kits-menu
{
    float:right;
    height:18px;
    margin-right:14px;
    cursor:pointer;
}

.follow-kits-num
{font-family: Arial, Helvetica, sans-serif;	
	font-size:12px;
    color:#7F7F7F;    
}

.left22
{
    margin-left:54px; /*22px; */   
}

.top4
{
    margin-top:4px;    
}

#profile-following-container
{
    float:left;
    width:700px;
    padding-top:40px;
    display:none;
}

#profile-followers-container
{
    float:left;
    width:700px;
    padding-top:40px;    
    display:none;    
}

.profile-following-follower-entry
{
    float:left;
    width:280px;
    width:312px;
    height:78px;
    margin-bottom:26px;    
    /*margin-left:80px;*/
}

.profile-following-follower-entry-photo
{
    position:relative;
    float:left;
    width:78px;
    height:78px;
    overflow:hidden;
    cursor:pointer;
}

.profile-following-follower-entry-name
{
    float:left;
    width:186px;
    height:18px;  
    line-height:18px;
    margin-left:14px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:12px;
	color:#363636;    
}
 
.profile-following-follower-entry-about
{
    float:left;
    width:186px;
    height:24px;
    margin-left:14px;
    margin-bottom:8px;
    line-height:12px;font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#363636;
	overflow:hidden;
}
 
.left14
{
    margin-left:14px;    
}

.left100
{
    margin-left:100px;    
}

.top29
{
    margin-left:14px;    
}

.profile-following-follower-close
{
    float:right;
    width:18px;
    height:18px;   
    margin-top:10px;
    margin-right:13px;
    margin-left:500px;
    margin-bottom:15px; 
	background-image:url('images/profile-followers-close.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}


#profile-kits
{
    float:left;
    width:717px;    
    /*background-color:#EBEBEB;*/
}

.profile-kits-section
{
    float:left;
    width:200px; /*220px;*/
    height:336px; /*366px;*/
    margin-top:30px;
		box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
}

.profile-kits-section-images
{
    float:left;
    width:200px;/*220px;*/
    height:300px; /*330px;*/    
}

.profile-kits-section-footer
{
    float:left;
    width:200px; /*220px;*/
    height:36px;        
    line-height:36px;
    background-color:#7F7F7F;
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    text-align:center;
    cursor:pointer;
}

.kits-number
{font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

.kits-number-view
{font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

.profile-kits-section-entry
{
    float:left;
    width:99px; /*109px;*/
    height:99px;/*109px;*/
    overflow:hidden;
    cursor:pointer;
}

.profile-kits-section-entry-right-bottom
{
    border-right:1px solid #787878;
    border-bottom:1px solid #787878;
}

.profile-kits-section-entry-left-bottom
{
    border-left:1px solid #787878;
    border-bottom:1px solid #787878;
}

.profile-kits-section-entry-right
{
    border-right:1px solid #787878;
}

.profile-kits-section-entry-left
{
    border-left:1px solid #787878;
}

.profile-kits-section-entry-empty
{
    float:left;
    width:99px; /*109px;*/
    height:99px;/*109px;*/
    background-color:#666666;
    text-align:center;         
	background-image:url('images/profile-now-with-add.png');
	background-repeat:no-repeat;
	background-position: center center;
	cursor:pointer;
}

.profile-kits-section-entry-empty-no-add
{
    float:left;
     width:99px; /*109px;*/
    height:99px;/*109px;*/
    background-color:#666666;
    text-align:center;         
}

.left20
{
    margin-left:20px;    
}

#profile-now-with
{
   float:left;
    width:704px; /*704px;*/
    height:123px;
    padding-top:70px;
	padding-left:4px;
   /* background-color:#EBEBEB;*/
   
}

.profile-now-with-images
{
    float:left;
    width:704px; /*704px;*/
    height:88px;
    background-color:#7F7F7F;
	 box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;   
	
}
    
.profile-now-with-images-entry
{
    float:left;
    position:relative;
    width:88px;
    height:88px;
    overflow:hidden;
    cursor:pointer;
}

.profile-now-with-images-entry-right
{
    border-right:1px solid #787878;
}

.profile-now-with-images-entry-left
{
    width:87px;
    border-left:1px solid #787878;
}

.profile-now-with-images-entry-img
{
    float:left;
    width:87px;
    height:87px;
    overflow:hidden;
}

.profile-now-with-footer
{
    float:left;
    width:704px;/* 704px;*/
    height:36px;    
    line-height:36px;
    background-color:#7F7F7F;
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    text-align:center;  
    cursor:pointer;
	 box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;   
}

#profile-users
{
    float:left;
    width:717px;/* 704px;*/
    /*background-color:#EBEBEB; */   
}

#profile-users-title
{
    float:left;
	width:704px;
	height:30px;
	margin-top:70px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    line-height:18px;
    color:#F15B27;
	border-bottom:1px solid #F15B27;    
}

.profile-users-section
{
    float:left;
    width:200px; /*220px;*/
    height:300px; /*325px;*/
    margin-top:30px;    
}
.profile-users-images
{
    float:left;
    width:200px;/* 220px;*/
    height:278px;     
}

.profile-users-entry
{
    float:left;
    width:100px; /*110px;*/
    height:100px; /*110px;*/
    overflow:hidden;
}

.profile-users-bigentry
{
    float:left;
    width:200px; /*220px;*/
    height:178px;
    overflow:hidden;
}

.profile-users-footer
{
    float:left;
    width:200px; /*220px;*/
    height:36px;        
    line-height:36px;
    background-color:#7F7F7F;
    color:#FFFFFF;
    font-size:12px;
    text-align:center;    
}

.profile-users-image
{
    position:relative;
    float:left;
    width:28px;
    height:28px;
    padding:4px;
    overflow:hidden;
    cursor:pointer;
}

.profile-users-name
{
    float:left;
    height:36px;
    margin-left:4px;
    line-height:36px;
    text-align:left;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;    
    color:#FFFFFF;
    cursor:pointer;
}

.profile-to-top
{
    position:relative;
    float:left;
    width:700px;
    background-color:transparent;      
}

.to-top
{
    position:absolute;
    width:15px;
    height:12px;
    bottom:-10px;
    right:-35px;
    cursor:pointer;
    z-index:30;
}

.to-top img
{
    border:none;
}

.profile-stats
{
    position:relative;
    float:left;
    width:145px;
    height:34px;
    margin-left:54px; /*20px;*/
    cursor:pointer;
}

.profile-stats-text
{
    float:left;
    width:150px;
    height:23px;    
    line-height:23px;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
}

.profile-stats-gauge
{
    float:left;
    width:140px;
    height:11px;    
    background-color:#7F7F7F;
}

.profile-stats-gauge-value
{
    float:left;
    height:11px;    
    background-color:#FF5900;    
}

#profile-stats-tip
{
    position:absolute;
    top:35px;
    width:350px;
    height:43px;
    line-height:18px;
    background-image:url('images/profile-status-tip.png');
    font-size:12px;
    color:#7F7F7F;font-family: Arial, Helvetica, sans-serif;
    padding-left:15px;
    padding-right:5px;
    padding-top:10px;
    cursor:pointer;
    display:none;
}

.profile-stats-tip-line
{
    line-height:38px !important;    
}

/* Al profile, afegim el color*/
.menu-left-section-selected
{
    color:#FF5900;
}

.profile-now-with-close
{
    position:absolute;
    top:0;
    left:0;
    width:87px;
    height:87px;
    background-image: url(images/timeline-entry-transparent.png); 
    background-repeat: repeat;
    z-index:50;
    display:none;   
    text-align:center;     
}

.profile-now-with-close img
{
    margin-top:34px;
}

.profile-now-with-tip
{
    position:absolute;
    top:52px;
    left:20px;
    width:65px;
    height:18px;
    padding-top:6px;
    line-height:18px;
    background-image: url(images/close-now-with-tip.png); 
    background-repeat: repeat;
    z-index:70;
    display:none;   
    text-align:center;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    text-align:center;
}


.profile-now-with-add
{
    float:left;
    width:87px;
    height:87px;
    z-index:50;
    background-color:#666666;
    text-align:center;         
}
.profile-now-with-add-img
{
    margin-top:31px;
}
.profile-now-with-tip-add
{
    position:absolute;
    top:52px;
    left:20px;
    width:65px;
    height:18px;
    padding-top:6px;
    line-height:18px;
    background-image: url(images/close-now-with-tip.png); 
    background-repeat: repeat;
    z-index:70;
    display:none;   
    text-align:center;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    text-align:center;    
}

.profile-trender
{
    position:absolute;
    top:0px;
    left:0px;
    width:220px;
    height:220px;
    z-index:70;
}

.profile-kits-counter
{
    float: left;
    width: 200px; /*220px;*/
    height: 336px; /*366px;*/
    margin-top: 30px;    
    margin-left:54px;/* 22px;*/
    background-color: #e8e7e7; /*#C4C4C5;*/
		box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
}

.profile-kits-counter-content
{
    float: left;
    width: 170px; /*190px;*/
    height: 90px;
    margin-top: 252px;/* 275px;*/        
    margin-left:15px;
    border-top:1px dotted #F15B27;
}

.profile-kits-counter-content-data
{
    float: left;
     width: 170px; /*190px;*/
    height: 16px;
    line-height:18px;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;    
    border-bottom:1px dotted #F15B27;    
}

.profile-kits-counter-content-data-text
{
    float: left;
    width: 75px; /*95px;*/
    height: 16px;
    text-align:left;
}

.profile-kits-counter-content-data-value
{
    float: left;
     width: 95px; /*95px;*/
    height: 16px;
    text-align:right;    
}

.text-orange
{
    color:#F15B27 !important;
}

.margin-top-293{
    margin-top: 270px; /*293px; */   
}

/**
   PROFILE
**/


/**

    NOW WITH

**/

#timeline-now-with-modal
{
    position:absolute;
    top:0;
    left:0;
    bottom:0px;
    width:717px;
    z-index:50;
    display:none;
}

.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
#timeline-now-with-container
{
    float:left;
    width:717px; /*704px;*/
    height:500px;
}

#timeline-now-with-header
{
    float:left;
   width:717px; /*704px;*/
    height:76px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;    
}

#timeline-now-with-title-container
{
    float:left;
    width:717px; /*704px;*/
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#FFFFFF;    
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-now-with-title
{
    float:left;
    width:668px;
    text-align:center;
}

#timeline-now-with-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

#timeline-now-with-search
{
    float:left;
    width:717px;
    /*height:70px;*/
    margin-top:0px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:24px;
}

#timeline-now-with-search-container
{
    float:left;
    width:525px;
    height:22px;
    margin-top:24px;
    margin-left:14px;
    line-height:22px;
    background-image:url('images/kit_proces_input.png');
	background-repeat:no-repeat;
	background-position: right center;    
    /*border-bottom:2px solid #FFFFFF;*/
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-now-with-search-container input
{
    float:left;
    width:520px;
    height:22px;
    line-height:22px;
    margin:0px;
    padding:0px;
    padding-left:5px;
	border:none;
	border-color:transparent;
	/*font-family: 'MinionProRegular';
	font-style: italic;*/
	font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background-repeat:no-repeat;
    background-color: transparent;    
}

#timeline-now-with-search-result-container
{
    float:left;
    width:772px;
    margin-top:12px;
    margin-left:14px;
    display:none;
}

.timeline-now-with-search-result
{
    float:left;
    width:452px;
    /*height:17px;*/
    line-height:17px;
    border-bottom:1px dotted #FFFFFF;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;	
}

.timeline-now-with-search-result-title
{
    float:left;
    width:395px;
    text-align:left;
}

.timeline-now-with-search-result-category
{
    float:right;
    width:53px;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
}

#timeline-now-with-form
{
    float:left;
    width:717px;
    padding-top:16px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:40px;
    display:none;
}

#timeline-now-with-form-product-data
{
    float:left;
    width:717px;
}

#timeline-now-with-product-image
{
    float:left;
    width:220px;
}

#timeline-now-with-product-info
{
    float:left;
    width:220px;
    margin-left:18px;    
}

#timeline-now-with-product-title
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#363636;
}

#timeline-now-with-product-author
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-now-with-product-year
{
    float:left;
    width:220px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#363636;
}

#timeline-now-with-product-moreinfo
{
    float:left;
    width:220px;
    padding-top:14px;
    padding-bottom:14px;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
}

#timeline-now-with-product-moreinfo-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-up-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;
}

.moreinfo-selected
{
	background-image:url('images/kit-down-arrow.png') !important;
}

#timeline-now-with-product-moreinfo-container
{
    float:left;
    width:220px;    
    display:none;
}
.timeline-now-with-product-moreinfo-text
{
    float:left;
    width:208px;
    line-height:18px;
    color:#FFFFFF;
}

.black
{
    color:#000000;    
}

.white
{
    color:#FFFFFF;    
}

#timeline-now-with-add-tags
{
    float:left;
    width:220px;
    height:18px;
    margin-top:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;
    cursor:pointer;
}

#timeline-now-with-add-tags-container
{
    float:left;
    width:220px;
    margin-top:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    font-size:12px;
    color:#00000;
    display:none;   
}

#timeline-now-with-add-tags-container textarea
{
    float:left;
	width:220px;
	height:18px;
	background-color:transparent;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;    
}

#timeline-now-with-recommended-tags
{
    float:left;
    width:220px;      
}

#timeline-now-with-recommended-tags-title
{
    float:left;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#363636;    
	padding-right:12px;
	background-image:url('images/kit-up-arrow.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align:left;
	cursor:pointer;    
}

#timeline-now-with-recommended-tags-container
{
    float:left;
    width:220px;      
    display:none;
    padding-bottom:8px;
}

.timeline-now-with-recommended-tags-text
{
    float:left;
    width:208px;
    height:18px;
    line-height:18px;
    color:#363636;
    background-image:url('images/kit-tags-plus.png');
	background-repeat:no-repeat;
	background-position: right center;
    border-bottom:1px dotted #FFFFFF;
    cursor:pointer;
    padding-right:12px;
    text-align:left;    
}

.timeline-now-with-recommended-selected
{
    color:#FFFFFF;
    background-image:url('images/kit-tags-minus.png');
}

#timeline-now-with-comment
{
    float:left;
    width:667px;
    height:72px;
    margin-top:14px;
    margin-left:16px;
    background-image:url('images/kit-form-comment.png');
	background-repeat:no-repeat;
	background-position: center center;
}

.timeline-now-with-comment-input
{
    float:left;
    margin-top:8px;
    margin-left:14px;
    line-height:16px;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    color:#363636;    
    width:639px;
    height:36px;
}

.timeline-now-with-comment-input textarea
{
    float:left;
	width:639px;
	height:32px;
	background-color:#FFFFFF;
	border:none;
	border-color:transparent;
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
    font-size:12px;
    line-height:16px;
    resize:none;
    overflow: auto;
}

#timeline-now-with-comment-counter
{
    float:right;
    width:50px;
    height:18px;
    margin-top:4px;
    margin-right:8px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#C0C0C0;     
    text-align:right;
}

#timeline-now-with-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:18px;
    margin-left:15px;
    background-image:url('images/kit-form-button.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;	
}

.timeline-now-with-button-on
{
 
    background-image:url('images/kit-form-button-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

.timeline-now-with-search-result-noresults-title
{
    float:left;
    width:672px;
    height:18px;
    line-height:18px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
}

.timeline-now-with-search-result-noresults-text
{
    float:left;
    width:672px;
    line-height:18px;
    margin-top:18px;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;     
}

#timeline-now-with-seach-button
{
    float:right;
    width:110px;
    height:22px;
    line-height:22px;
    margin-top:22px;
    margin-right:18px;
    background-image:url('images/kit-search.png');
	background-repeat:no-repeat;
	background-position: center center;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
    text-align:center;
    cursor:pointer;	
}

.timeline-now-with-seach-button-on
{
 
    background-image:url('images/kit-search-on.png') !important;
	background-repeat:no-repeat;
	background-position: center center;    
	cursor:pointer;
}

#timeline-now-with-webservice-search
{
    float:left;
    width:717px;
    height:74px;
    margin-top:12px;
    background-image:url('images/kit-search-webservice-llarg.png');
	background-repeat:no-repeat;
	background-position: center center;    
    display:none;
}

#timeline-now-with-webservice-search-loader
{
    float:left;
    width:36px;
    height:36px;
    margin-top:27px;
    margin-left:12px;
    background-image:url('images/likekit_loader.gif');
	background-repeat:no-repeat;
	background-position: center center;
}

#timeline-now-with-webservice-search-text
{
    float:left;
    width:627px;
    height:36px;
    margin-top:27px;
    margin-left:12px;    
    line-height:36px;
    text-align:left;
}

#timeline-now-with-search-container-categories
{
    float:left;
    width:660px;
    height:40px;
    margin-top:14px;
    margin-left:14px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-now-with-search-container-category-books
{
    float:left;
    width:30px;
    height:37px;
	background-image:url('images/kit-form-book.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-books-on
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-books-selected
{
	background-image:url('images/kit-form-book-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-now-with-search-container-category-series
{
    float:left;
    width:36px;
    height:33px;
    margin-left:20px;
	background-image:url('images/kit-form-serie.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-series-on
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-series-selected
{
	background-image:url('images/kit-form-serie-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-now-with-search-container-category-music
{
    float:left;
    width:40px;
    margin-top:5px;
    height:26px;
    margin-left:20px;
	background-image:url('images/kit-form-music.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-music-on
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-music-selected
{
	background-image:url('images/kit-form-music-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

#timeline-now-with-search-container-category-cinema
{
    float:left;
    width:40px;
    height:34px;
    margin-left:20px;
	background-image:url('images/kit-form-cinema.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.timeline-now-with-search-container-category-cinema-on
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

.timeline-now-with-search-container-category-cinema-selected
{
	background-image:url('images/kit-form-cinema-on.png') !important;
	background-repeat:no-repeat;
	background-position: right center;
	color:#FFFFFF !important;
}

/**

    FI NOW WITH

**/


/**

    EDIT PROFILE

**/

#edit-profile-data{
	float:left;
	position:relative;
	width:700px;
	margin-top:23px;
	min-height: 272px;
	height: auto !important;
	height: 272px;
	z-index:1;
	background-color:#fff;/*#EBEBEB;
	border-bottom:1px solid #F15B27;
	/*box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;     */
}

#edit-profile-data-title
{
	float:left;
	width:700px;
	height:18px;
	margin-left:15px;
	line-height:18px;
	font-size:18px;
    color:#F15B27;            
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
}

#edit-profile-data-subtitle
{
	float:left;
	width:700px;
	height:18px;
	margin-top:10px;
	margin-left:15px;
	line-height:18px;
	font-size:12px;font-family: Arial, Helvetica, sans-serif;    
    padding-bottom:7px;
}

#edit-profile-data-photo{
	float:left;
	position:relative;
	width:220px;
	height:220px;
	margin-top:10px;
	z-index:1;
	overflow:hidden;
}

#edit-profile-data-col-photo
{
	float:left;
	width:220px;    
}

#profile-data-edit-col1
{
	float:left;
	width:446px;
	min-height: 342px;
	height: auto !important;
	height: 342px;	
	margin-top:10px;
	margin-left:20px;
}

.profile-data-edit-container
{
    float:left;
    width:446px;
    height:18px;
    line-height:18px;    
    border-bottom:1px dotted #F15B27;
}

.profile-data-edit-label
{
    float:left;
    width:186px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    color:#363636;
	font-size:12px;
}

.profile-data-edit-input
{
    float:left;
    width:255px;
}

.margin-top-20
{
    margin-top:20px;    
}

.profile-data-edit-input input
{

    float:left;
    width:255px;
 	border:none !important;
 	padding:1px;
 	margin:0px;
 	font-size:12px;
 	color:#000000;
 	/*background-color:#EAEAEA;*/
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
	border-color:transparent !important; 
}

.edit-profile-stats
{
    float:left;
    width:150px;
    height:34px;
    margin-top:18px;
    margin-left:20px;
}

.profile-data-edit-social
{
   float:left;
   width:446px;
   height:40px;
   margin-top:20px;
}

.profile-data-edit-social-button
{
    float:left;
    width:192px;
    height:30px;   
    line-height:30px; 
    background-image: url(images/register-social.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;
}

.profile-data-edit-social-button-on
{
    float:left;
    width:192px;
    height:30px;   
    line-height:30px; 
    font-family: Arial, Helvetica, sans-serif; 
	font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;    
    background-image: url(images/register-social-on.png) !important;
}

#profile-data-edit-facebook
{
    margin-left:62px;   
}

#profile-data-edit-twitter
{
}

.profile-data-edit-social-button-facebook
{
    background-image: url(images/register-button-facebook.png);
    background-position: 4px 8px;
    background-repeat: no-repeat;
    padding-left:22px;
    text-align:left;
}

.profile-data-edit-social-button-twitter
{
    background-image: url(images/register-button-twitter.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

.profile-data-edit-social-button-disabled
{
    float:left;
    width:192px;
    height:30px;   
    line-height:30px; 
    font-family: Arial, Helvetica, sans-serif; 
	font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;    
    background-image: url(images/register-social-disabled.png) !important;
    background-repeat: no-repeat;
    text-align:center;
}

.profile-data-edit-social-button-twitter-disabled
{
    background-image: url(images/register-button-twitter.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    padding-left:39px;
    text-align:left;
}

.profile-data-edit-social-button-border
{
    float:left;
    width:192px;
    height:9px;
    border-bottom:1px dotted #F15B27;    
}

.profile-data-edit-private-personal-info
{
    float:left;
    width:446px;
    height:18px;
    margin-top:10px;
    line-height:18px;
    font-size:12px;font-family: Arial, Helvetica, sans-serif;
}

.profile-data-edit-label-down
{
    float:left;
    padding-right:10px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    color:#363636;
	background-image:url('images/menu-left-avall.png');
	background-repeat:no-repeat;
	background-position: right center;
	cursor:pointer;
}

.profile-data-edit-label-down-up
{
	background-image:url('images/menu-left-amunt.png') !important;
	background-repeat:no-repeat;
	background-position: right center;    
}

.profile-data-edit-input-right
{
    float:right;
    width:255px;
}

.profile-data-edit-input-right input
{
    float:left;
    width:255px;
 	border:none !important;
 	padding:1px;
 	margin:0px;
 	font-size:12px;
 	color:#000000;
 	/*background-color:#EAEAEA;*/
    font-family: Arial, Helvetica, sans-serif; /*font-style:italic;*/
	border-color:transparent !important; 
}

#profile-data-edit-gender
{
    float:left;
    width:446px;
    border-bottom:1px dotted #F15B27; 
    display:none;
}

.profile-data-edit-gender-option
{
    float:left;
	float:left;
	width:400px;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#000000;
	padding-left:13px;
	background-image:url('images/left-option.png');
	background-repeat:no-repeat;
	background-position: 3px 7px;
	cursor:pointer;        
}

.profile-data-edit-gender-option.selected
{
	float:left;
	width:400px;
	height:20px;
	line-height:20px;
	/*color:#F15B27;*/
	color:#000000;
	padding-left:13px;
	background-image:url('images/left-option-selected.png');
	background-repeat:no-repeat;
	background-position: 3px 7px;
	cursor:pointer;     
}

.profile-data-edit-gender-option.active
{
	float:left;
	width:400px;
	height:20px;
	line-height:20px;
	/*color:#F15B27;*/
	color:#000000;
	padding-left:13px;
	background-image:url('images/left-option-selected.png');
	background-repeat:no-repeat;
	background-position: 3px 7px;
	cursor:pointer;     
}

#edit-profile-data-bottom{
	float:left;
	position:relative;
	width:700px;
	min-height: 143px;
	height: auto !important;
	height: 143px;
	z-index:1;
	background-color:#FFFFFF;
}

.profile-edit-bottom-col-left
{
    float:left;
    width:208px;
    height:143px;    
}

.profile-edit-bottom-col-right
{
    float:left;
    width:446px;
	min-height: 143px;
	height: auto !important;
	height: 143px;    
}

#profile-edit-button
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:14px;
    margin-left:14px;
    background-image:url('images/kit_view_comment_button.png');
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
    cursor:pointer;
}

.profile-edit-button-enabled
{
    float:left;
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:14px;
    margin-left:14px;
    background-image:url('images/kit_view_comment_button_enabled.png') !important;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
    cursor:pointer;    
}

.profile-saved-button
{
    background-image:url('images/profile-saved.png') !important;
}
.profile-data-edit-container-bottom
{
    float:left;
    width:446px;
    height:18px;
    line-height:18px;
    margin-top:10px;
    margin-left:32px;
}

#profile-data-edit-perms-info
{
    float:left;
    width:446px;
    margin-left:18px;
    height:235px;
    display:none;  
}

.profile-data-edit-perm
{
    float:left;
	float:left;
	width:440px;
	line-height:20px;
	font-size:12px;
	color:#000000;
	padding-left:13px;
	background-image:url('images/left-option.png');
	background-repeat:no-repeat;
	background-position: 3px 7px;
	border-bottom:1px dotted #F15B27;
	cursor:pointer;        
}

.profile-data-edit-perm.selected
{
	float:left;
	width:440px;
	line-height:20px;
	/*color:#F15B27;*/
	color:#000000;
	padding-left:13px;
	background-image:url('images/left-option-selected.png');
	background-repeat:no-repeat;
	background-position: 3px 7px;
	border-bottom:1px dotted #F15B27;
	cursor:pointer;     
}

.profile-data-edit-perm.active
{
	float:left;
	width:440px;
	line-height:20px;
	/*color:#F15B27;*/
	color:#000000;
	padding-left:13px;
	background-image:url('images/left-option-selected.png');
	background-repeat:no-repeat;
	background-position: 3px 7px;
	border-bottom:1px dotted #F15B27;    
	cursor:pointer;     
}

#profile-data-edit-widget-info
{
    float:left;
    width:300px;
    margin-left:32px;
    height:130px;
    display:none;  
}

.profile-data-edit-widget-info-text
{
    float:left;
    width:300px;
    height:40px;
    margin-top:6px;
    line-height:18px;
    font-size:12px;font-family: Arial, Helvetica, sans-serif;
    color:#363636;
}

.profile-data-edit-widget-info-url
{
    float:left;
    /*width:300px;*/
    /*height:30px;    */
    margin-top:6px;
    background-color:#363636;
    color:#C0C0C0;
    line-height:18px;
    font-size:11px;font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding:10px;
}

#profile-edit-delete-button
{
    float:left;    
    width:194px;
    height:30px;
    line-height:30px;
    margin-top:40px;
    margin-left:14px;font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    text-align:left;
    cursor:pointer;    
}

.profile-edit-delete-button-active
{
    color:#F15B27 !important;
}


#profile-delete-modal
{
    position:absolute;
    top:0;
    left:0;
    bottom:0px;
    width:717px;
    z-index:60;
    display:none;
}

#profile-delete-container
{
    float:left;
    width:717px;
    height:167px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;        
}

#profile-delete-header
{
    float:left;
    width:717px;
    height:24px;
    margin-top:20px;
    line-height:18px;
    text-align:center;
    font-size:12px;
    color:#FFFFFF;
}

#profile-delete-title
{
    float:left;
    width:600px;
    margin-top:6px;
    margin-left:48px;
    text-align:center;    
}

#profile-delete-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;    
}

#profile-delete-subheader
{
    float:left;
    width:717px;
    height:18px;
    margin-top:20px;
    line-height:18px;
    text-align:center;
    font-size:12px;
    color:#FFFFFF;
}
                       
#profile-delete-buttons
{
    float:left;
    width:421px;
    height:32px;
    margin-top:18px;
    margin-left:190px;
    line-height:32px;
    text-align:center;
    font-size:12px;
    color:#FFFFFF;    
}

.profile-delete-button
{
    float:left;
    width:120px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;
	background-image:url('images/profile-delete-btn.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;    
}

#profile-delete-button-no
{
    margin-left:78px;
}

.profile-delete-button-on
{
	background-image:url('images/profile-delete-btn-on.png') !important;
	background-repeat:no-repeat;
	background-position: 0px 0px;
	color:#F15B27;
}

#edit-profile-data-photo-edit
{
    position:absolute;
    top:0;
    left:0;
    width:220px;
    height:220px;
    background-image: url(images/timeline-entry-transparent.png); 
    background-repeat: repeat;
    z-index:50;
    display:none;
}

#edit-profile-data-photo-change-image
{
    float:left;
    width:220px;
    height:30px;
    margin-top:80px;
    line-height:30px;
    font-size:12px;font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    border-top:1px dotted #FFFFFF;
    border-bottom:1px dotted #FFFFFF;
    text-align:center;
    cursor:pointer;
}

#edit-profile-data-photo-edit-image
{
    float:left;
    width:220px;
    height:30px;
    line-height:30px;
    font-size:12px;font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;    
    border-bottom:1px dotted #FFFFFF;
    text-align:center;    
    cursor:pointer;
}

#profile-crop-image-modal
{
    position:absolute;
    top:0;
    left:0;
    bottom:0px;
    width:719px;
    z-index:60;
    display:none;    
}

#profile-crop-image-container
{
    float:left;
    width:719px;
    min-height: 384px;
	height: auto !important;
	height: 384px;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
    padding-bottom:15px;
}

#profile-crop-image-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:23px;
    margin-right:15px;
    margin-left:600px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}
#profile-crop-image-area
{
    float:left;
    width:350px;
    min-height: 252px;
	height: auto !important;
	height: 252px;    
    margin-left:187px;
}

#profile-crop-image-text
{
    float:left;
    width:573px;
    height:18px;
    margin-top:38px;
    line-height:18px;
    font-size:12px;font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    text-align:right;    
}

#profile-crop-image-button
{
    float:left;
    width:102px;
    height:30px;
    margin-top:32px;
    margin-left:10px;
    line-height:30px;
    font-size:12px;font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    text-align:center;
    background-image: url(images/login-social.png);    
    cursor:pointer;
}

#edit-profile-data-photo-info
{
    float:left;
    width:220px;
    height:18px;
    margin-top:6px;
    line-height:18px;    
    font-size:12px;font-family: Arial, Helvetica, sans-serif;
    color:#363636;    
    text-align:center;
}

#edit-profile-language
{
    float:left;
    width:142px;
    height:18px;
    margin-top:10px;
    margin-left:20px;
    line-height:18px;    
}

#profile-data-edit-language
{
    float:left;
    width:142px;
    margin-top:10px;
    margin-left:20px;
    display:none;
    padding-bottom:5px;
}

.profile-data-edit-language-option
{
    color:#363636;
    cursor:pointer;    
}

.profile-data-edit-language-option.selected
{
	color:#F15B27;
	cursor:pointer;     
}

.profile-data-edit-language-option.active
{
	color:#F15B27 !important;
	cursor:pointer;     
}

/**

   FI EDIT PROFILE

**/


/* IMPORTANT PER MANTENIR L'AMPLADA*/
#top-header{width:704px !important;}


/**
    
    KIT FORM OVERRIDE

**/
    #timeline-kit-modal, #timeline-kit-container, #timeline-kit-header, #timeline-kit-title-container, #timeline-kit-search, #timeline-kit-form, #timeline-kit-webservice-search
    {
        width:718px !important;    
    }

/**

    FI KIT FORM OVERRIDE

**/

#timeline-kit-search-container-categories-borders
{
    float:left;
    width:660px;
    height:1px;
    margin-left:14px;
    margin-bottom:10px;
    line-height:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;      
}

#timeline-kit-search-container-category-books-border
{
	float:left;
	width:30px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-series-border
{
	float:left;
	width:36px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-music-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}

#timeline-kit-search-container-category-cinema-border
{
	float:left;
	width:40px;
	margin-left:20px;
	height:1px;
	border-bottom:1px dotted #FFFFFF;
}    

.edit-profile-container{background-color:#FFFFFF;box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid; }



#text-emergent-registrat
{
    margin-top:15px;
    font-size:14px;
}

#enllac_registrat-emergent-registrat
{   
    padding-right:auto;
    margin-top:35px;
    font-weight:bold;
    cursor:pointer;
    text-decoration:underline;
    width:80px;
}

#boto_entrar_facebook-emergent-registrat
{
    float:left;
    width:76px;
    height:52px;
    margin-top:-35px;
    margin-left:340px;
    background-image: url(images/emergentRegistrat-home-fb-button.png);
    background-repeat:no-repeat;
    background-size:150px 52px;
    color:#FFFFFF;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    line-height:52px;
    padding-left:72px;
    padding-bottom:0px;
}

#boto_uneixte-emergent-registrat
{
    width:132px;
    height:26px;
    border-radius: 4px;
    margin-top:-24px;
    margin-left:240px;
    margin-right:38px;
    /*background-image: url(images/facebook_button_versio2.png);*/
    background-color:#E2551C;
    background-position:center;
    color:#FFFFFF;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    padding-left:53px;
    padding-right:38px;
    padding-top:10px;
    background-repeat:no-repeat;
    float:right;
    
    /* Efecte ombra: */
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

#botons-emergent-registrat
{
    width:480px;
    height:55px;
    margin-left:130px;
}