﻿#main-login
{
    padding-bottom:0px;
    border-bottom:2px solid #F5824F;
    background-color:#EAEAEA;
    /*background-color:#EAEAEA;*/
}

#register-content 
{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 82px;
    /*position: relative;*/
    width: 783px;
    z-index: 1000;
    
}

.register-title
{
    float:left;
    width:768px;
    height:18px;
    margin-left:15px;
    margin-top:44px;
    line-height:18px;
    color:#F15B27;
}

.register-title h2
{
    font-size:18px;
    color:#F15B27;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    padding:0;
    margin:0;
}

.register-social
{
   float:left;
   width:768px;
   height:30px;
   margin-top:26px;
   margin-left:15px;
}

.register-social-button
{
    float:left;
    width:192px;
    height:30px;   
    line-height:30px; 
    /*background-image: url(images/register-social.png);*/
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;
}

.register-social-button-on
{
    /*background-image: url(images/register-social-on.png) !important;*/
}

#register-facebook{}

#register-twitter
{
    margin-left:18px;
}

.register-social-button-facebook
{
    float:left;
    width:182px;
    height:30px;    
    background-image: url(images/facebook-register.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding-right:10px;
    text-align:right;
}

.register-social-button-facebook-on
{
    background-image: url(images/facebook-register-on.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
}

.register-social-button-twitter
{
    float:left;
    width:182px;
    height:30px;    
    background-image: url(images/twitter-register.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding-right:10px;
    text-align:right;
}

.register-social-button-twitter-on
{
    background-image: url(images/twitter-register-on.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#register-step-0-form
{
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-top: 0px;
    box-shadow: 0 0 8px #CFCFCF;
    float: left;
    padding-bottom: 32px;
    width: 100%;
    height:180px;
    z-index: 10;
}

#container-fb-button
{
    float:left;
    width:250px;
    height:70px;
    margin-top:16px;
    margin-left:202px;
    background-image: url(images/facebook_button_versio2.png);
    background-position:center;
    color:#FFFFFF;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    line-height:70px;
    padding-left:123px;
    background-repeat:no-repeat;
}

#register-step-1-form
{
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-top: 0px;
    box-shadow: 0 0 8px #CFCFCF;
    float: left;
    padding-bottom: 32px;
    width: 100%;
    z-index: 10;
    display:none;
}

#form-register-title
{
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    width:auto;
    margin-left: 115px;
    color:#000000;
    margin-top: 36px;
    font-size: 18px;
}

.formulari
{
    float: left;
    margin-left: 100px;
    margin-top: 39px;
    width: 580px;
}

.register-editor-field-container
{
    float:left;
    width:562px;
    height:30px;
    margin-left:15px;
    margin-bottom:18px;
}

.register-editor-field
{
    float:left;
    width:340px;
    height:30px;
    line-height:30px;
    /*border-bottom:1px dotted #F15B27;*/
    background-color:#DCDDDE;
    background-position: center center;
    background-repeat: no-repeat;    
    margin-bottom:18px;
    margin-right:18px;
    border-radius:3px;
}

.register-editor-field-error
{
    float:left;
    width:192px !important;
    height:31px !important;
    line-height:31px !important;
    /*border-bottom:1px dotted #F15B27;*/
    background-image: url(images/register-input-error.png) !important;
    background-position: center center;
    background-repeat: no-repeat;    
    margin-bottom:18px;
    margin-right:18px;
}

.register-editor-field input
{
    float:left;
    width:182px;
 	border:none !important;
 	padding:0px;
 	padding-left:5px;
 	margin:0px;
 	margin-top:8px;
 	font-size:14px;
 	color:#000000;
 	background-color:transparent !important;
    font-family: Arial, Helvetica, sans-serif;
	border-color:transparent !important;       
}

.register-legal
{
    float:left;
    width:768px;
    height:18px;
    margin-top:24px;
    margin-left:15px;
}

#register-legal-check
{
    float:left;
    width:18px;
    height:18px;
    background-image: url(images/register-check.png);
    background-position: 0px 5px;
    background-repeat: no-repeat;    
    cursor:pointer;
}

.register-legal-check-on
{
    background-image: url(images/register-check-on.png) !important;
}

.register-legal-text
{
    float:left;
    width:290px;
    height:18px;    
    line-height:18px;
    text-align:left;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    color:#363636;
}

.register-legal-text a, .register-legal-text a:link, .register-legal-text a:active, .register-legal-text a:visited
{
    text-decoration:underline;
    color:#363636;  
}

.register-legal-text a:hover
{
    text-decoration:underline;
    color:#FF5900;      
}

.register-username-tip
{
    float:left;
    width:318px;
    height:34px;
    line-height:26px;
    background-image: url(images/register-usermail-tip.png);
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    color:#7F7F7F;
    padding-left:13px;
    display:none;
}

.register-tip-error
{
    float:left;
    width:336px !important;
    height:34px !important;
    line-height:30px !important;
    background-image: url(images/register-error.png) !important;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    color:#F15B27 !important;
    padding-left:13px;
    display:none;
}

.register-small-tip
{
    float:left;
    width:152px;
    height:30px;
    line-height:30px;
    background-image: url(images/register-small-tip.png);
    background-repeat: no-repeat;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    color:#7F7F7F;
    padding-left:13px;
    display:none;
}

.register-password-tip
{
    /*float:left;
    width:302px;
    height:26px;
    line-height:26px;
    background-image: url(images/register-password-tip.png);
    background-repeat: no-repeat;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    color:#7F7F7F;
    padding-left:13px;
    display:none;*/
    float:left;
    width:336px;
    height:34px;
    line-height:30px;
    background-image: url(images/register-error.png) !important;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    color:#F15B27;
    padding-left:13px;
    display:none;    
}

#register-step-1-btn
{
    float:left;
    width:192px;
    height:30px;
    margin-top:24px;
    margin-left:15px;
    line-height:30px; 
    background-image: url(images/register-social.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;  
    text-align:center; 
}

.register-step-1-btn-on
{
    background-image: url(images/register-social-on.png) !important;
}

#register-content-2
{
    position:relative;
    width: 783px;
    height:100%;
    margin-left: auto ;
    margin-right: auto ;
    z-index:1000;
    background-color:#EAEAEA;
    padding-bottom:32px;
    display:none;
}

#register-content-2.visible
{
    display:block;
}

.register-step-header
{
    float:left;
    width:700px;
    min-height: 18px;
	height: auto !important;
	height: 18px;
    margin-left:40px;
    margin-top:36px;
    padding-bottom:17px;
    line-height:18px;
    color:#F15B27;
    /*display:none;*/
    display:block;
}

.register-step-header-text
{
    float:left;
    width:700px;
    height:30px;
    line-height:30px;
    color:#000000;
    font-family: Arial;
    font-size:18px;
    font-weight:bold;
    /*display:none;*/
    display:block;
}

.register-step-header-subtitle-text
{
    float:left;
    width:700px;
    height:30px;
    line-height:30px;
    color:#000000;
    font-family: Arial;
    font-size:12px;
    font-weight:normal;
    
    display:block;
}

.register-step-header-pager
{
    float:right;
    width:100px;
    margin-right:15px;
    height:18px;
    line-height:18px;
 	background-color:#EAEAEA;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:14px;
    color:#363636;
    cursor:pointer;  
    text-align:right;
    /*display:none;*/
    display:block;
}

.register-pager-selected
{
   color:#FF5900; 
}

.register-category
{
    float:left;
    width:755px;
    margin-top:20px;
    /*border-bottom:1px solid #F5824F;*/
    background-color:#EAEAEA;
    padding-bottom:20px;
    padding-left:14px;
    padding-right:14px;
}

.register-category-title
{
    float:left;
    width:768px;
    height:18px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#FF5900;
    text-align:left;
    padding-bottom:7px;
}

.register-product
{
    float:left;
    width:208px;
    height:114px;
    margin-top:12px;
    margin-right:40px;
    border-bottom:1px dotted #FF5900;
}

.register-product-image
{
    position:relative;
    float:left;
    width:97px;
    height:97px;
    overflow:hidden;
    cursor:pointer;
    z-index:1;
}

.register-product-image-selection
{
    position:absolute;
    top:0;
    left:0;
    width:97px;
    height:97px;
    background-image:url('images/transparent-orange.png');
	background-repeat:repeat;
    display:none;
    z-index:1000;
}

.register-product-text
{
    float:left;
    width:98px;
    height:108px;
    line-height:16px;
    margin-left:13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#363636;    
}

.register-product-text-title
{
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
}

.register-category-separator
{
    float:left;
    width:783px;
    height:1px;
    background-color:#F5824F;       
}

#register-step-2-btn
{
    float:left;
    width:140px;
    height:30px;
    margin-top:2px;
    margin-left:15px;
    margin-bottom:32px;
    line-height:30px; 
    background-image: url(images/bt_on.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;  
    text-align:center; 
}

.register-step-2-btn-on
{
    background-image: url(images/bt.png) !important;
}

#register-content-3
{
    position:relative;
    width: 748px;
    height:557px;
    margin-left: auto ;
    margin-right: auto ;
	margin-top:67px;
    z-index:10;
    /*background-color:#EAEAEA;*/
    /*padding-bottom:32px;*/
    background-image: url(images/register-background-small.png) !important;
    display:none;
}

#register-content-3-retorn
{
    position:relative;
    width: 748px;
    height:557px;
    margin-left: auto ;
    margin-right: auto ;
	margin-top:67px;
    z-index:10;
    /*background-color:#EAEAEA;*/
    /*padding-bottom:32px;*/
    background-image: url(images/register-background-small.png) !important;
    display:block;
}

#register-check-invite
{
    float:left;
    width:15px;
    height:15px;
	background-image:url('images/register-checkbox.png') !important;
	cursor:pointer;
}

.register-check-invite-notchecked
{
    background-image:url('images/register-checkbox.png') !important;
	background-position: 0px -15px !important;
}

#register-check-invite-text
{
    float:left;
    height:15px;
    line-height:15px;
    margin-top:1px;
    margin-left:10px;
    font-size:12px;
    font-weight:normal;
    font-family:Arial;
    color:#000000;    
}


.register-users
{
    float:left;
    width:721px;
    margin-left:13px;
    padding-left:1px;
    padding-top:20px;
    padding-bottom:20px;    
    border-top:1px dotted #F15B27;
    border-bottom:1px dotted #F15B27;
    
    /*display:none;*/
}

.register-user-image
{
    float:left;
    width:89px;
    height:89px;
    margin-right:1px;
    margin-top:1px;
    overflow:hidden;
    display:block;
}

.margin-right-0
{
    margin-right:0px;    
}

.register-step-3-bottom-text
{
    float:left;
    width:500px;
    height:18px;
    margin-top:35px;
    margin-left:55px;
    line-height:18px;
    color:#000000;
    font-family: Arial;
    /*display:none;*/
    display:block;
}

#register-step-3-btn-social-register
{
    float:right;
    width:120px;
    height:23px;
    margin-top:44px;
    margin-right:40px;
    margin-bottom:58px;
    line-height:23px; 
    background-image: url(images/register-button-sprite.png);
    font-family: Arial;
    font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;  
    text-align:center;
    
    display:block;
}

.register-step-3-btn-social-register-on
{
    background-image: url(images/register-button-sprite.png) !important;
    background-position: 0px -23px !important;
}

.register-step-3-btn-on
{
    background-image: url(images/register-button-sprite.png) !important;
    background-position: 0px -23px !important;
}

#register-step-3-btn
{
    float:right;
    width:120px;
    height:23px;
    margin-top:44px;
    margin-right:40px;
    margin-bottom:58px;
    line-height:23px; 
    background-image: url(images/register-button-sprite.png);
    font-family: Arial;
    font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;  
    text-align:center;
    
    display:block;
}

#register-content-4
{
    position:relative;
    width: 783px;
    height:100%;
    margin-left: auto ;
    margin-right: auto ;
    z-index:1000;
    background-color:#EAEAEA;
    padding-bottom:32px;
    display:none;
}

#register-step-4-btn
{
    float:left;
    width:140px;
    height:30px;
    margin-top:30px;
    margin-left:15px;
    margin-bottom:58px;
    line-height:30px; 
    background-image: url(images/bt_on.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;  
    text-align:center; 
}

.register-step-4-btn-on
{
    background-image: url(images/bt.png) !important;
}

#register-content-social-data
{
    position:relative;
    width: 783px;
    height:100%;
    margin-left: auto ;
    margin-right: auto ;
    z-index:1000;
    background-color:#EAEAEA;
    padding-bottom:32px;
    display:none;
}

#register-content-social-data-container
{
    float:left;
    width: 780px;
    height:220px;
    margin-top:57px;
    padding-bottom:80px;
}

#register-content-social-data-img
{
    float:left;
    width:220px;
    height:220px;
	background-image:url('images/default_user.png');
	background-repeat:no-repeat;    
    overflow:hidden;
}

#register-content-social-data-input
{
    float:left;
    width:439px;
    height:24px;
    margin-top:10px;
    margin-left:20px;
    line-height:24px;
    font-size:12px;
	background-image:url('images/register-social-input.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;       
}

.margin-top-46
{
    margin-top:46px !important;
}

.width-240
{
    width:240px !important;    
}

#register-content-social-data-input input
{
    background:none;
    border:0;
    border-color:transparent;
    font-size:12px;
}

#register-content-social-data-mail-tip-container
{
    float:left;
    width:520px;    
    height:52px;
}

#register-content-social-data-tip
{
 	float:left;
	width:217px;
	height:48px;
	margin-left:18px;
	line-height:24px;
	padding-top:6px;
	background-image:url('images/landing-error.png');
	background-repeat:no-repeat;
	font-family: Arial, Helvetica, sans-serif; font-style:italic;
	font-size:11px;
	color:#7F7F7F;
	text-align:center;
	cursor:pointer;
	display:none;
}

#register-content-social-data-btn
{
    float:left;
    width:194px;
    height:30px;
    margin-left:20px;
    line-height:30px;
    background-image: url(images/kit-form-button.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;
    text-align:center;
}

.register-content-social-data-btn-on
{
    background-image: url(images/kit-form-button-on.png) !important;
}

/**

ACTIVATION

**/

#register-activation
{
    position:relative;
    width: 783px;
    height:100%;
    margin-left: auto ;
    margin-right: auto ;
    z-index:1000;
    background-color:#EAEAEA;
    padding-bottom:32px;
}

#register-activation-btn
{
    float:left;
    width:140px;
    height:30px;
    margin-top:30px;
    margin-left:15px;
    margin-bottom:58px;
    line-height:30px; 
    background-image: url(images/bt_on.png);
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    cursor:pointer;  
    text-align:center; 
}

.register-activation-on
{
    background-image: url(images/bt.png) !important;
}

.register-password-info
{
    float:left;
    width:290px;
    height:18px;
    margin-top:-5px;
    margin-left:15px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;        
    font-size:12px;
    color:#7F7F7F;
}

/**

FI ACTIVATION

**/


/**

    SIGNUP LEGAL

**/


#signup-legal-modal
{
    position:absolute;
    top:0;
    left:79;
    bottom:0px;
    width:784px;
    z-index:50;
    display:none;
}

.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
#signup-legal-container
{
    float:left;
    width:784px;
    height:500px;
    z-index:50;
}

#signup-legal-header
{
    float:left;
    width:784px;
    height:53px;    
    /*background-image: url(images/orange-90.png); 
    background-repeat: repeat;    */
    background-color:#F15B27;
}

#signup-legal-title-container
{
    float:left;
    width:784px;
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:18px;
    color:#FFFFFF;
}

#signup-legal-title
{
    float:left;
    width:730px;
    margin-left:18px;
    text-align:left;
}

#signup-legal-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;
}

#signup-legal-content
{
    float:left;
    width:784px;    
	min-height: 342px;
	height: auto !important;
	height: 342px;
	/*background-image: url(images/orange-90.png);*/
	background-color:#F15B27;
}

.signup-legal-content-title
{
    float:left;
    width:730px;
    height:18px;
    margin-top:35px;
    margin-left:18px;
    line-height:18px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;        
    font-size:12px;
    color:#FFFFFF;    
}
.signup-legal-content-text
{
    float:left;
    width:730px;
    margin-left:18px;
    line-height:18px;
    text-align:left;    
    font-family: Arial, Helvetica, sans-serif;        
    font-size:12px;
    color:#000000;   
}

.signup-legal-content-text a, .signup-legal-content-text a:link, .signup-legal-content-text a:active, .signup-legal-content-text a:visited, .signup-legal-content-text a:hover
{
    text-decoration:underline;
    color:#000000;   
}

#signup-legal-bottom
{
    float:left;
    width:784px;
    height:68px;    
    border-bottom:2px solid #F15B27;
    background-color:#EAEAEA;
}

/**

   FI SIGNUP LEGAL

**/

/**

    SIGNUP LEGAL ERROR

**/

#signup-legal-error-modal
{
    position:absolute;
    top:0;
    margin-left:79px;
    bottom:0px;
    width:783px;
    z-index:50;
    margin-top:138px;
    display:none;
}
#signup-legal-error-container
{
    float:left;
    width:783px;
    height:500px;
    z-index:5000;    
}

#signup-legal-error-header
{
    float:left;
    width:783px;
    height:76px;    
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;
}

#signup-legal-error-title-container
{
    float:left;
    width:783px;
    height:30px;
    margin-top:23px;
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;    
}

#signup-legal-error-title
{
    float:left;
    width:729px;
    margin-left:18px;
    text-align:center;    
}

#signup-legal-error-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:6px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    cursor:pointer;    
}

#text_paginaRegistre
{
    text-align:center;
    margin-top:86px;
}

/* Títol de la primera pantalla(primera capa que hi ha) del procés de registre */
#titolPrimeraPantallaRegistre
{
    text-align:center;
    font-family: Arial,Helvetica,sans-serif;
    width:auto;
    color:#000000;
    margin-top: 36px;
    font-size: 18px;
}


a{
    text-decoration:underline;
    cursor:pointer;
}
a:link{
    text-decoration:underline;
    cursor:pointer;
    color:#FF6000;
}
a:visited{
    text-decoration:underline;
    cursor:pointer;
    color:#FF6000;
}
a:hover{
    text-decoration:underline;
    cursor:pointer;
    color:#FF6000;
}
a:active{
    text-decoration:underline;
    cursor:pointer;
    color:#FF6000;
}

/**

   FI SIGNUP LEGAL ERROR

**/

#emergent_viralitzacio
{
    display:none;
}

.bt-fs-dialog
{
    display:none;
}


#register-facebook-like
{
    display:block;
}
.fb-like fb_edge_widget_with_comment fb_iframe_widget, .fb-send fb_iframe_widget
{
    display:block;
}