﻿/**

    SEARCH PEOPLE

**/

#search-people-container
{
    position:relative;
	float:left;
	width:700px; /*720px;*/
	margin-top:76px; /*20px;*/
	margin-left:108px; /*160px;*/
	/*height:100%;*/
	z-index:1;
}

#search-people-main-container
{
	float:left;
	width:700px;
	background-color:#fff;/*#EBEBEB;*/
	border-bottom:1px solid #F15B27;
	box-shadow: 0px 0px 8px rgb(207,207,207); -moz-box-shadow: 0px 0px 8px rgb(215,215,215); -webkit-box-shadow: 0px 0px 8px rgb(207,207,207); border:rgb(212, 212, 212) 1px solid;    
	padding-bottom:14px;
}


#search-people-main-image
{
	float:left;
	width:700px;
	height:204px;
}

.search-people-col-1
{
	float:left;
	width:300px;
	height:153px;    
}

#search-people-label
{
	float:left;
	width:300px;
	height:36px;
	margin-top:18px;
	margin-left:14px;    
	line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;	
	color:#363636;	
}

#search-people-input-container
{
    float:left;
    width:240px;
    height:23px;
    margin-top:20px;
	margin-left:14px;        
    line-height:23px;
    background-image: url(images/register-social-input.png);     
    font-size:12px;
}

#search-people-input-container input
{
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    background:none;
    border:0;
    border-color:transparent;
    font-size:12px;   
	width:238px;
}


#search-people-button
{
    float:left;
    width:140px;
    height:30px;
    margin-top:14px;
	margin-left:14px;        
    line-height:30px;    
    background-image: url(images/bt_on.png);
    font-size:12px;
    color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;
}

.search-people-button-on
{
    background-image: url(images/bt.png) !important;
}

.search-people-col-2
{
	float:left;
	width:400px;
	/*min-height: 230px;
	height: auto !important;
	height: 230px;	*/        
}

#search-people-result-container
{
	float:left;
	width:400px;
	margin-top:36px;
/*	min-height: 194px;
	height: auto !important;
	height: 194px;*/	            
}

.search-people-result-entry-odd
{
    background-color:#fff/*#D7D3D2*/ !important;
}

.search-people-result-border-top
{
    border-top:1px dotted #F15B27;
}

.search-people-result-entry
{
    float:left;
    width:386px;
    height:28px;
    padding-top:7px;
    padding-bottom:7px;
    border-bottom:1px dotted #F15B27;
    background-color:#fff;/*#CCC7C6;*/
}

.search-people-result-entry-image
{
    float:left;
    width:28px;
    height:28px;    
    overflow:hidden;
    cursor:pointer;
}

.search-people-result-entry-data
{
    float:left;
    width:240px;
    height:28px;    
    margin-left:7px;
}

.search-people-result-entry-name
{
    float:left;
    width:240px;
    height:14px;    
    line-height:14px;
    font-size:12px;
    color:#000000; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:left;   
}

.search-people-result-entry-location
{
    float:left;
    width:240px;
    height:14px;    
    line-height:14px;
    font-size:12px;
    color:#000000; 
    font-family: Arial, Helvetica, sans-serif; font-style:italic;
    text-align:left;      
}

.search-people-result-entry-btn
{
    float:left;
    width:110px;
    height:22px;
    margin-top:4px;
    line-height:22px;    
    background-image: url(images/kit-search.png);
    font-size:12px;
    color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;
}

.search-people-result-entry-btn
{
    float:left;
    width:110px;
    height:22px;
    margin-top:4px;
    line-height:22px;    
    background-image: url(images/kit-search.png);
    font-size:12px;
    color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;
}

.search-people-result-entry-btn-on
{
    float:left;
    width:110px;
    height:22px;
    margin-top:4px;
    line-height:22px;    
    background-image: url(images/kit-search-on.png);
    font-size:12px;
    color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:center;   
    cursor:pointer;    
}

.search-people-result-entry-btn-active
{
    background-image: url(images/orange-on.png) !important;
}

.search-people-recommended-users
{
    float:left;
    width:700px;
    margin-top:50px;
    border-top:1px solid #F15B27;
    padding-bottom:20px;/*50px;*/
}

.search-people-recommended-users-title
{
    float:left;
    width:686px;
    height:40px;
    margin-left:14px;
    line-height:40px;
    font-size:12px;
    color:#000000; 
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    text-align:left;   
}

.search-people-recommended-users-container
{
    float:left;
    width:700px;
    height:88px;
}

.search-people-recommended-users-entry
{
    float:left;
    width:88px;
    height:88px;
    cursor:pointer;
    overflow:hidden;
}

.search-people-recommended-users-entry-short
{
    width:84px !important;    
}

/**

   FI SEARCH PEOPLE

**/

/**

    NO SEARCH RESULT

**/

#search-people-noresult-modal
{
    position:absolute;
    top:0;
    left:0;
    bottom:0px;
    width:700px;
    /*height:65px;*/
    z-index:60;
    display:none;    
}

.search-people-noresult-modal-container
{
    width:700px;
    height:65px;
    z-index:60;
    background-image: url(images/orange-90.png); 
    background-repeat: repeat;      
}

.search-people-noresult-text
{
    float:left;
    width:625px;
    height:65px;
    margin-top:16px;
    margin-left:15px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#FFFFFF;     
}

.search-people-noresult-close
{
    float:right;
    width:18px;
    height:18px;
    margin-top:23px;
    margin-right:18px;
    background-image: url(images/kit-close.png);
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
}
   
.modal
{
    background-image: url(images/transparent.png); 
    background-repeat: repeat;    
}
            
#search-people-main-title{float:left;width:600px;height:90px;line-height:90px;margin-left:14px;font-size:20px;color:#F15B27;font-family: Arial, Helvetica, sans-serif;font-weight:bold;}			

/**

    FI NO SEARCH RESULT

**/

/**

	OVERRIDES

**/

#timeline-kit-modal {width:702px !important;}
#timeline-kit-container{width:702px !important;}
#timeline-kit-header{width:702px !important;}
#timeline-kit-title-container {width:702px !important;}
#timeline-kit-title{width:656px !important;}
#timeline-kit-search{width:702px !important;}
#timeline-kit-search-result-container{width:702px !important;}
#timeline-kit-search-container{width:530px !important;}
#timeline-kit-search-container input{width:520px !important;}
#timeline-kit-form{width:702px !important;}
#timeline-kit-form-product-data{width:702px !important;}
#timeline-kit-form-loading-publish{width:702px !important;}
#timeline-kit-published {width:702px !important;}
#timeline-kit-published-buttons{width:672px !important;}
#timeline-kit-published-button-facebook{margin-left:43px !important;}
#timeline-kit-webservice-search{width:702px !important;}
#timeline-kit-webservice-search-publish{width:702px !important;}
#timeline-kit-webservice-search-text-publish{width:629px !important;}