﻿/**
    WIDGET
**/
	
#widget-main-content
{
    position:relative;
	float:left;
	width:312px;
	height:448px;
	z-index:1;
	background-color:#F2F2F3;
	border:1px solid #7F7F7F;
}

#widget-header
{
    float:left;
    width:292px;
    height:40px;
    margin-top:10px;
    margin-left:10px;
}

#widget-header-logo
{
    float:left;
    width:128px;
    height:33px;
    background-image:url('images/logo_widget.png');
	background-repeat:no-repeat;
	background-position:left center;
}

#widget-header-counter-followers
{
    float:right;
    width:100px;
    height:40px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
    text-align:right;
}

.num-followers
{
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    color:#F15B27;
}

#widget-subheader
{
    float:left;
    width:292px;
    height:40px;
    margin-left:10px;
    line-height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;
}

#widget-user-data
{
    float:left;
    width:292px;
    height:32px;
    margin-left:10px;
    border-top:2px solid #F15B27;
    border-bottom:2px solid #F15B27;
}

#widget-user-data-container
{
    float:left;
    width:292px;
    height:24px;
    margin-top:4px;
    background-color:#E2E2E2;
}

#widget-user-picture
{
    float:left;
    width:24px;
    height:24px;
    overflow:hidden;    
}

#widget-user-follow
{
    float:right;
    width:150px;
    height:24px;
    line-height:24px;
    font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    font-size:12px;
    color:#000000;
}

#widget-user-follow a, #widget-user-follow a:link, #widget-user-follow a:active, #widget-user-follow a:visited, #widget-user-follow a:hover
{
    text-decoration:none;
    color:#000000;
}

#widget-user-kits-container
{
    float:left;
    width:314px;
    height:320px;
    margin-top:3px;
}

.widget-kit-entry
{
    position:relative;
    float:left;
    width:141px;
    height:150px;
    margin-left:10px;
    margin-bottom:10px;
}

.widget-kit-entry-image
{
    float:left;
    width:141px;
    height:150px;
    overflow:hidden;     
}

.widget-kit-entry-title
{
    position:absolute;
    top:14px;
    width:141px;
    height:20px;
    line-height:20px;
    background-image:url('images/widget_kit_title.png');
	background-repeat:repeat;
	background-position:left center; 
	text-align:center;   
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;    
}

.widget-kit-entry-options
{
    position:absolute;
    bottom:0px;
    width:141px;
    height:20px;
    line-height:20px;
    background-image:url('images/widget_kit_footer.png');
	background-repeat:repeat;
	background-position:left center; 
	text-align:center;   
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#363636;      
}

.widget-kit-entry-options-likes
{
    float:left;
    width:25px;
    height:20px;
    margin-left:5px;
    line-height:20px;
    color:#FFFFFF;
    background-image:url('images/like_widget.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:15px;
	text-align:left;
}

.widget-kit-entry-options-number
{
    color:#FFFFFF;
}

.widget-kit-entry-options-comments
{
    float:left;
    width:25px;
    height:20px;
    margin-left:10px;
    line-height:20px;
    color:#FFFFFF;
    background-image:url('images/comment_widget.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:18px;    
	text-align:left;
}

.widget-kit-entry-options-kits
{
    float:right;
    width:15px;
    height:20px;
    margin-left:5px;
    line-height:20px;
    color:#FFFFFF;
    background-image:url('images/kit_widget.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:20px;
	text-align:left;
}

/**
   FI WIDGET
**/