﻿@model IEnumerable<ControlPanel.Models.BetaUser>

@{
    ViewBag.Title = "Landing page Users";
}

<h2>Landing page Users</h2>


<table>
    <tr>
        <th>
            Created
        </th>
        <th>
            Mail
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
    </tr>
}

</table>
