﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <!--<h1>Likekit Control Panel</h1>-->
            </div>
            <div id="logindisplay">
                Welcome <strong>@User.Identity.Name</strong>!
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Kits", "Index", "Kit")</li>
                    <li>@Html.ActionLink("Comments", "Index", "KitComment")</li>
                    <li>@Html.ActionLink("Static pages", "Index", "StaticPages")</li>
                    <li>@Html.ActionLink("Landing", "Index", "LandingUsers")</li>
                    <li>@Html.ActionLink("Vendors", "Index", "Vendor")</li>
                    <li>@Html.ActionLink("Product Vendors", "Index", "ProductVendor")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        Copyright &copy; 2012 Likekit
        </div>
    </div>
</body>
</html>
