﻿@model LikeKitWebsite.Models.StaticPage

@{
    ViewBag.Title = "Sobre LikeKit";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Css = "about.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "about.js";
    ViewBag.About = true;
    
    
    if(Model.ID == 1)
    {
        ViewBag.Help = " selected";
    }
    else if (Model.ID == 2)
    {
        ViewBag.MediaKit = " selected";
    }
    else if (Model.ID == 3)
    {
        ViewBag.Team = " selected";
    }
    else if (Model.ID == 4)
    {
        ViewBag.Legal = " selected";
    }        
}

<div id="about-container">
    @Html.Partial("KitForm")
    <div id="about-main-container">
    @Html.DisplayTextFor(m => m.Content)
    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" style="margin-left:160px;">Copyright &copy; 2012 Likekit</div>