﻿@model LikeKitWebsite.Models.HomePage
           
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = Html.DisplayTextFor(m => m.MetaTitle);
    ViewBag.Css = "comodi.css";
    ViewBag.MenuFilter = true;
    ViewBag.Js = "home.js";
    ViewBag.MetaTitle = Html.DisplayTextFor(m => m.MetaTitle);
    ViewBag.MetaKeywords = Html.DisplayTextFor(m => m.MetaKeywords);
    ViewBag.MetaDescription = Html.DisplayTextFor(m => m.Metadescription);
}


    <div id="top-comodi-container">
        <div id="top-comodi-container-left">
            <div id="top-comodi-container-text"> 
                <div id="top-comodi-container-text-titol">@Html.DisplayTextFor(m => m.TitolComodi)</div> <!-- <===: Aquí va un títol que cambiarà segons de la pàgina comudí de la que es tracti. Possar-lo en forma de model segons de la pàgina de la que es tracti.-->
                <div id="top-comodi-container-text-descripcio">@Html.DisplayTextFor(m => m.DescripcioComodi)</div> <!-- <===: Aquí va una petita descrició que cambiarà segons de la pàgina comodí de la que es tracti. Possar-lo en forma de model segons de la pàgina de la que es tracti.-->
            </div>
            <!-- No cambiar el "id" d'aquest div ja que és un botó i no funcionaria. -->
            <div id="top-home-container-fb-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_UNETE_A_LIKEKIT</div>
        </div>
        <div id="top-home-container-icona-dreta" style="background-image: url('@Html.DisplayTextFor(m => m.IconePagComodi)')"></div> <!-- <===: Aquí va una icona de la base de dades que cambiarà segons de la pàgina comodí de la que es tracti. Possar-lo en forma de model segons de la pàgina de la que es tracti.-->
    </div>

    <div id="timeline">
            @Html.Partial("SearchNoResult")

            <div id="timeline-kits-container" style="padding-bottom:56px;">
            @Html.DisplayTextFor(m => m.Timeline)
            </div><!-- Alerta : No posem el div, ja que tanquem a dins el resultat-->
		</div><!-- end timeline -->
	<script type="text/javascript">
	    //var $timeline = $('#timeline');

	    var $timeline = $('#timeline-kits-container');
	    $timeline.imagesLoaded(function () {
	        $timeline.masonry({
	            itemSelector: '.timeline-entry',
	            columnWidth: 252,
	            isAnimated: !Modernizr.csstransitions
	        });
	    });

	    $timeline.infinitescroll({
	        navSelector: '#page-nav',    // selector for the paged navigation 
	        nextSelector: '#page-nav a:last',  // selector for the NEXT link (to page 2)
	        itemSelector: '.timeline-entry',     // selector for all items you'll retrieve
	        dataType: 'html',
	        //behavior: 'twitter',
	        loading: {
	            finishedMsg: '',
	            img: ''
	        },
	        errorCallback: function () { /*alert('Error');*/
	            $('#end').val(1);
	            $('#footer-wide').css('display','block');
             }
	    },
	    // trigger Masonry as a callback
        function (newElements) {

            //alert(newElements);

            // hide new items while they are loading
            var $newElems = $(newElements).css({ opacity: 0 });
            // ensure that images load before adding to masonry layout
            $newElems.imagesLoaded(function () {

                // show elems now they're ready
                $newElems.animate({ opacity: 1 });
                $timeline.masonry('appended', $newElems, true);
            });
        });

	</script>
