﻿@model String

@{
    ViewBag.Title = "Sobre LikeKit";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Css = "about.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "about.js";
    ViewBag.About = true;
    ViewBag.Help = " selected";
}

<div id="about-container">
    <!--@Html.Partial("KitForm")-->
    <div id="about-main-container">
        <div id="about-main-image"><img src="/Content/images/Help.jpg" width="700" /></div>
        <div id="about-main-title">Ayuda</div>
        <div id="about-main-section-title">¿Qué es Likekit?</div>
        <div id="about-main-section-text">Likekit es una red de recomendaciones de libros, música, cine y series de TV. En Likekit puedes recomendar lo que más te gusta y descubrir la mejor música, libros, películas y series de televisión.</div>

        <div id="about-main-section-title">¿Cómo puedo registrarme en Likekit?</div>
        <div id="about-main-section-text">Para registrarte en Likekit puedes solicitar acceso a la beta des de nuestra landing page (<a href="http://www.likekit.com/" target="_blank">http://www.likekit.com/</a>). Cuando recibas la invitación, podrás registrarte. Te esperamos!</div>

        <div id="about-main-section-title">¿Cómo puedo hacer recomendaciones?</div>
        <div id="about-main-section-text">Mediante el icono Kit que aparece en todas las pantallas. Un Kit es una recomendación.</div>

        <div id="about-main-section-title">¿Qué significa seguir?</div>
        <div id="about-main-section-text">Significa seguir a otra persona en Likekit. Sus Kits aparecerán en tu timeline. Puedes dejar de seguir usuarios en cualquier momento, ellos no recibirán ninguna notificación.</div>
        
        <div id="about-main-section-title">Cómo puedo ser un trender?</div>
        <div id="about-main-section-text">Los trenders son usuarios de Likekit que recomiendan mucho, lo hacen a menudo y logran muchos comentarios, likes o rekits. Agregar Likekit a tu perfil de Twitter y de Facebook te puede ayudar. Si quieres ser un trender, recomienda y lo lograrás. </div>

        <div id="about-main-section-title">¿Cómo puedo cambiar mi nombre de usuario / biografía?</div>
        <div id="about-main-section-text">Accede a la edición del perfil donde podrás modificar el nombre de usuario y tu biografía. Para guardar los cambios clica sobre el icono guardar que hay al pie de la página.</div>

        <div id="about-main-section-title">¿Cómo puedo cambiar mi fotografía de perfil?</div>
        <div id="about-main-section-text">Accede a la edición del perfil. Clica sobre cambiar imagen y selecciona la imagen entre tus archivos. La imagen seleccionada se cargará. Para guardar los cambios clica sobre el icono guardar que hay al pie de la página.</div>

        <div id="about-main-section-title">¿Cómo puedo agregar/desagregar Likekit de mi perfil de Facebook?</div>
        <div id="about-main-section-text">Accede a la edición del perfil donde podrás seleccionar agregar o desagregar Likekit de tu perfil de Facebook. Para guardar los cambios clica sobre el icono guardar que hay al pie de la página.</div>

        <div id="about-main-section-title">¿Cómo cambiar mis preferencias de envío de notificaciones?</div>
        <div id="about-main-section-text">Accede a la edición del perfil. Clica sobre ajustes de email y selecciona las notificaciones que quieres recibir. Para guardar los cambios clica sobre el icono guardar que hay al pie de la página.</div>

        <div id="about-main-section-title">¿Cómo puedo eliminar mi cuenta?</div>
        <div id="about-main-section-text">Accede a la edición del perfil y selecciona eliminar cuenta.</div>

        <div id="about-main-section-title">¿Qué es un Kit?</div>
        <div id="about-main-section-text">Es una recomendación. Puedes crear un Kit clicando sobre el icono Kit que aparece en todas las pantallas. </div>

        <div id="about-main-section-title">¿Qué es un reKit?</div>
        <div id="about-main-section-text">Un reKit es tomar un Kit que ha realizado otra persona y añadirlo a tus recomendaciones. </div>

        <div id="about-main-section-title">¿Cómo puedo hacer un reKit?</div>
        <div id="about-main-section-text">Hay dos modos de hacer un reKit:<br /><br />
        
        1- Pasando el ratón por encima de la imagen de cualquier Kit en el timeline y clicando sobre el icono de reKit.<br />
        2- En la ficha de un Kit, haciendo clic sobre el icono reKit.<br /><br />

        Cuando pulses el icono reKit se te abrirá una pantalla emergente donde podrás realizar tu recomendación y etiquetarla.</div>

        <div id="about-main-section-title">¿Cómo editar un Kit?</div>
        <div id="about-main-section-text">Hay dos modos de editar tus Kits:<br /><br />

        1- Pasando el ratón por encima de la imagen de cualquiera de tus Kits y clicando sobre el icono editar.<br />
        2- En la ficha de uno de tus kits, haciendo clic sobre el icono editar.<br /><br />

        Cuando pulses el icono editar se te abrirá una pantalla emergente donde podrás modificar tu recomendación.</div>

        <div id="about-main-section-title">¿Cual es la diferencia entre hacer un reKit y hacer un Like?</div>
        <div id="about-main-section-text">Like significa que te gusta una recomendación. Si haces un reKit tomas el producto recomendado por otro usario y lo añades a tus recomendaciones.</div>

        <div id="about-main-section-title">¿Cómo puedo comentar un Kit?</div>
        <div id="about-main-section-text">Para comentar un Kit puedes acceder a su ficha y añadir un comentario.</div>

        <div id="about-main-section-title">¿Qué puedo poner en el apartado “Ahora estoy con…”?</div>
        <div id="about-main-section-text">En el apartado “Ahora estoy con…” de tu perfil, puedes poner aquellos libros, series, música o cine que estás disfrutando en este momento. Si luego los quieres recomendar, puedes hacer un Kit.</div>

        <div id="about-main-section-title">¿Cómo puedo hacer una sugerencia?</div>
        <div id="about-main-section-text">Para realizar cualquier sugerencia puedes enviar un correo electrónico a <a href="mailto:suggestions@likekit.com" target="_blank">suggestions@likekit.com</a>.</div>

        <div id="about-main-section-title">El producto que quiero recomendar no está en la base de datos</div>
        <div id="about-main-section-text">Likekit está en estos momentos en su versión beta. Estamos trabajando para ir ampliando progresivamente la base de datos. Es posible que dentro de poco ya puedas encontrar tu producto favorito.</div>

        <div id="about-main-section-title">¿Cómo puedo denunciar una recomendación/avatar/comentario ofensivo?</div>
        <div id="about-main-section-text">Para denunciar un comentario/avatar/recomendación ofensivos puedes enviar un correo electrónico a <a href="mailto:complaints@likekit.com" target="_blank">complaints@likekit.com</a>. Evaluaremos tu denuncia y te contestaremos lo antes posible.</div>

        <div id="about-main-section-title">¿Qué es el wishlist?</div>
        <div id="about-main-section-text">El wishlist es un espacio donde recoger todo lo que te gustaría tener. Y puede ser una fuente de inspiración para aquellos que quieran regalarte algo!</div>

        <div id="about-main-section-text">Si no encuentras respuesta a tu pregunta por favor envía un correo electrónico a <a href="mailto:questions@likekit.com" target="_blank">questions@likekit.com</a>.</div>

    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" style="margin-left:160px;">Copyright &copy; 2012 Likekit</div>