﻿@model LikeKitWebsite.Models.HomePage
           
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Likekit";
    ViewBag.Css = "timeline.css";
    ViewBag.MenuFilter = true;
    ViewBag.Js = "home.js";
    ViewBag.MetaTitle = "Likekit - La red social de la cultura";
    ViewBag.MetaKeywords = "Libros, música, cine, series, recomendaciones";
    ViewBag.MetaDescription = "Likekit es la red social de la cultura. Recomienda y descubre libros, música, cine y series de televisión.";
}


    <div id="top-home-container">
        <div id="top-home-container-left">
            <div id="top-home-container-text"><h1>@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HOME_TEXT</h1></div>
            <div id="top-home-container-fb-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_UNETE_A_LIKEKIT</div>
            <div id="top-home-container-text-entrarCorreuE">o @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CON_TU <a href="@Url.Content("~/Account/LogOn")">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CORREO_ELECTRONICO</a>.</div>
        </div>
        <div id="top-home-container-right">
            <div id="top-home-container-right-recomendations">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECOMENDACIONES</div>
            <div id="top-home-container-right-counter">@Html.DisplayTextFor(m => m.Counter)</div>
        </div>
        <div id="top-home-container-right-social">
            <div id="top-home-container-right-twitter"></div>
            <div id="top-home-container-right-facebook"></div>
        </div>
    </div>

    <div id="timeline">
            @Html.Partial("SearchNoResult")
            
    <div id="home-video-modal">
        <div class="home-video-modal-container">
            <div class="home-video-object">
                <!--<iframe id="home-video-src" src="http://player.vimeo.com/video/50758737?autoplay=1" width="700" height="393" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
                <iframe id="home-video-src" width="660" height="393" src="https://www.youtube.com/embed/oD7h53ZWfe4?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
            <div id="home-video-close">
            </div>
        </div>
    </div>

            <div id="timeline-kits-container" style="padding-bottom:56px;">
            @Html.DisplayTextFor(m => m.Timeline)
            </div><!-- Alerta : No posem el div, ja que tanquem a dins el resultat-->
		</div><!-- end timeline -->
	<script type="text/javascript">
	    //var $timeline = $('#timeline');

	    var $timeline = $('#timeline-kits-container');
	    $timeline.imagesLoaded(function () {
	        $timeline.masonry({
	            itemSelector: '.timeline-entry',
	            columnWidth: 252,
	            isAnimated: !Modernizr.csstransitions
	        });
	    });

	    $timeline.infinitescroll({
	        navSelector: '#page-nav',    // selector for the paged navigation 
	        nextSelector: '#page-nav a:last',  // selector for the NEXT link (to page 2)
	        itemSelector: '.timeline-entry',     // selector for all items you'll retrieve
	        dataType: 'html',
	        //behavior: 'twitter',
	        loading: {
	            finishedMsg: '',
	            img: ''
	        },
	        errorCallback: function () { /*alert('Error');*/
	            $('#end').val(1);
	            $('#footer-wide').css('display','block');
             }
	    },
	    // trigger Masonry as a callback
        function (newElements) {

            //alert(newElements);

            // hide new items while they are loading
            var $newElems = $(newElements).css({ opacity: 0 });
            // ensure that images load before adding to masonry layout
            $newElems.imagesLoaded(function () {

                // show elems now they're ready
                $newElems.animate({ opacity: 1 });
                $timeline.masonry('appended', $newElems, true);
            });
        });

	</script>
