﻿@model LikeKitWebsite.Models.Kit

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Kit";
    ViewBag.Css = "kit-view.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "home.js";
    ViewBag.MetaTitle = Model.CategoryName  + "-" + Model.Product.Name + "-" + "LikeKit.com";
    ViewBag.MetaKeywords = Model.CategoryName + "," + Model.StringTags;
    ViewBag.MetaDescription = Model.Product.Name + " de " + Model.User.FirstName + " " + Model.User.LastName + " en la categoria " + Model.CategoryName;
    /*
        Title: [kit.category] - [kit.title]  - LikeKit.com
        Tags: [kit.category], [kit.tags]
        Description: [kit.title] de [kit.author] en la categoria [kit.category]
    */
}
@Html.DisplayTextFor(m => m.LoquieroHTML)
<div id="kit-view-container">
    @Html.Partial("HomeVideo")
    <div id="kit-view-container-data" @Html.DisplayTextFor(m => m.SchemaType)>
        <div id="kit-view-container-data-col1">
            <input type="hidden" id="kit-id" name="kit-id" value="@Html.DisplayTextFor(m => m.ID)" />
            <div class="kit-view-like">Like</div>
            <div class="kit-view-comment">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTAR</div>
            <div class="kit-view-kitit">ReKit</div>
            <div class="kit-view-tweet">Tweet</div>
            <div class="kit-view-share">Share</div>
            <div class="kit-view-mail">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAIL</div>
        </div>
        <div id="emergent-registrat">
            <div id="emergent-registrat-top"></div>
            <div id="emergent-registrat-center">
                <div id="emergent-registrat-close"></div>
                <div id="text-emergent-registrat">
                    @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DEBES_SER_USUARIO_DE_LIKEKIT
                </div>
                <div id="botons-emergent-registrat">
                    <div id="enllac_registrat-emergent-registrat">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INCIA_SESION</div>
                    <div id="boto_uneixte-emergent-registrat">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_UNETE_A_LIKEKIT</div>
                </div>
            </div>
            <div id="emergent-registrat-bottom"></div>
        </div>
        <div id="kit-view-container-data-col2">
            <div id="kit-view-title" itemprop="name"><h1>@Html.DisplayTextFor(m => m.Product.Name)</h1></div>
            <div id="kit-view-author" itemprop="author">@Html.DisplayTextFor(m => m.Product.Author)</div>
			<div class="kit-view-options">
                <div class="kit-view-options-likes"><span class="kit-view-options-number">@Html.DisplayTextFor(m => m.NumLikes)</span> Likes</div>
                <div class="kit-view-options-comments"><span class="kit-view-options-number">@Html.DisplayTextFor(m => m.NumComments)</span> @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTARIOS</div>
                <div class="kit-view-options-kits"><span class="kit-view-options-number">@Html.DisplayTextFor(m => m.NumKits)</span> ReKits</div>
                <div class="kit-view-options-productkits"><span class="kit-view-options-number">@Html.DisplayTextFor(m => m.NumProductKits)</span> Kits</div>
			</div>
        
            <div id="kit-view-image" >
                <img itemprop="image" src="@Html.DisplayTextFor(m => m.Product.Image)" alt="@Html.DisplayTextFor(m => m.Product.Name)" title="@Html.DisplayTextFor(m => m.Product.Name)" width="300px"/>
            </div>

            <div id="kit-user" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div id="kit-user-image" onclick="parent.location.href='@Html.DisplayTextFor(m => m.HomeKitUserUrlFriendly)';"><img itemprop="image" src="@Html.DisplayTextFor(m => m.User.HtmlPicture)" width="28px"/></div>
                <div id="kit-user-name" >@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_POR<br /><span class="kit-user-name-name" onclick="LoginRefKit(@Html.DisplayTextFor(m => m.ID));" itemprop="author">@Html.DisplayTextFor(m => m.User.FirstName) @Html.DisplayTextFor(m => m.User.LastName)</span></div>
                <div id="kit-user-published" itemprop="datePublished">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICADO<br /> @Html.DisplayTextFor(m => m.TimeDifference)</div>
                <div id="kit-user-comment" itemprop="reviewBody">@Html.DisplayTextFor(m => m.Comment)</div>

                <!--@{
                    if (Model.Product.PartnerUrl != "")
                    {
                        <div id="kit-user-loquiero" onclick="LoQuiero(@Html.DisplayTextFor(m => m.Product.ID),'@Html.DisplayTextFor(m => m.Product.PartnerUrl)');">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LO_QUIERO !</div>
                    }
                }-->
                <div id="kit-user-loquiero" onclick="LoQuieroDialog();">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LO_QUIERO !</div>
            </div>

        </div>
        <div id="kit-view-container-data-col3">
        
            <div id="kit-view-menu-info">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MAS_INFORMACION</div>

			<div id="kit-view-menu-info-content">
                <div class="kit-view-menu-content-text"><span class="color-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ANO_EDICION</span>@Html.DisplayTextFor(m => m.Product.Year)</div>
                <!-- <div class="kit-view-menu-content-text"><span class="color-title">Metrage.</span>125 mins</div>-->
                @{
                    if ((Model.Product.Description != String.Empty) && (Model.Product.Description != ""))
                    {
                <div class="kit-view-menu-content-text"><span class="color-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DESCRIPCION</span><br />
                    @Html.DisplayTextFor(m => m.Product.Description)
                </div>
                    }
                }
			</div>
			<div id="kit-view-menu-tags">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ETIQUETAS_ASIGNADAS</div>
			<div id="kit-view-menu-tags-content">
                @Html.DisplayTextFor(m => m.HtmlTags)
			</div>
        </div>
        <div class="clear"></div>
        <div style="clear: both"></div>
    </div>
     <div id="kit-view-container-comments">
        <div id="kit-view-container-comments-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTARIOS_MAY</div>
        <div id="kit-view-container-comments-masonry">
            @Html.DisplayTextFor(m => m.HtmlComments)
        </div>
    </div>
    <div id="kit-view-container-comment-entry">
        <div id="kit-view-container-comment-entry-container">
            <textarea id="add_kit_comment" name="add_kit_comment" >@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_COMENTA_TU_TAMBIEN_ESTA_PUBLICACION</textarea>
        </div>
        <div id="kit-view-container-comment-button">
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PUBLICAR_COMENTARIO
        </div>
    </div>
    <div id="kit-view-container-users">
        <div id="kit-view-container-users-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TAMBIEN_HICIERON_KIT</div>    
        <div id="kit-view-container-users-container">
            @Html.DisplayTextFor(m => m.HtmlOtherKits)
        </div>    
    </div>
    <div style="clear: both"></div>
</div>
<div class="timeline-copyright-container">
    <div id="timeline-copyright" class="timeline-copyright-item">Copyright &copy; Likekit</div>
</div>
