﻿@model String

@{
    ViewBag.Title = "Legal";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Css = "about.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "about.js";
    ViewBag.About = true;
    ViewBag.Legal = " selected";
}

<div id="about-container">
    <!--@Html.Partial("KitForm")-->
    <div id="about-main-container">
        <div id="about-main-image"><img src="/Content/images/Legal.jpg" /></div>
        <div id="about-main-title">Legal</div>
        <div id="about-main-section-title">Aviso legal</div>
        <div id="about-main-section-text-noborder">
        Bienvenido a la página web de LIKEKIT.<br /><br /> 
        <b>LIKEKIT S.L.</b> es una sociedad mercantil con domicilio, a efecto de notificaciones, en Carrer de la Llotja s/n. Recinto ferial El Sucre Vic 08500 (Barcelona), titular del CIF. B65818361, así como del nombre de dominio www.likekit.com inscrita en el Registro Mercantil de Barcelona.<br /><br />
         A continuación le exponemos los términos y condiciones de uso del sitio web www.likekit.com (en adelante, el sitio o sitio web) que deben cumplir los usuarios de este sitio. Navegar por la web confiere la condición de usuario esté o no registrado.<br /><br />
         Condiciones generales de uso del sitio web<br /><br />
         Como usuario de la web (en adelante, el usuario) debe realizar en todo momento un uso adecuado de la misma y de los contenidos o servicios que incluye, respetando en todo momento la legalidad vigente y los derechos de propiedad de LIKEKIT.<br /><br />
         Para acceder a los servicios del sitio web el usuario debe identificarse mediante nombre de usuario y contraseña, será necesario rellenar el formulario de registro y haber aceptado la  política de privacidad de LIKEKIT.  <br /><br />
         El usuario utilizará los servicios y contenidos exclusivamente para fines particulares, quedando prohibido el uso de cualquiera de los recursos de toda índole o tipo por los cuales los usuarios o un tercero puedan beneficiarse, con o sin lucro, de los contenidos y demás expresiones formales que formen parte de esta web. Quedan excluidos de esta limitación aquellos usuarios que ostenten la condición de “Clientes” de LIKEKIT según los términos de uso que se acordasen en las condiciones particulares de los servicios contratados.<br /><br />
         Queda prohibido realizar acciones que provoquen o puedan provocar daños o alteraciones a los contenidos web; impedir o dificultar el acceso al sitio por los usuarios; acceder de forma no autorizada a contenidos o servicios de la web; difundir virus informáticos o programas maliciosos que puedan afectar a la web o a sus usuarios; o utilizar el sitio web como vía de acceso a Internet para la comisión de acciones ilícitas.<br /><br />
         <br />
            El usuario se compromete, a título enunciativo y no limitativo, a:<br /><br />
            a.	No publicar contenidos, manifestaciones o imágenes que puedan suponer una intromisión ilegítima en el derecho al honor, a la intimidad personal y familiar y a la propia imagen de las personas.<br />
            b.	No publicitar contenidos de carácter racista, xenófobo, pornográfico, ilegal o cualesquiera otro que vulnere la legalidad vigente.<br />
            c.	No hacer un mal uso o una mala utilización del contenido de la web.<br />
            d.	No acceder a las cuentas de correo electrónico de otros usuarios.<br /><br />
            Propiedad intelectual<br /><br />
            Este sitio web contiene marcas, patentes, derechos de autor y otros derechos de propiedad industrial o intelectual que son propiedad de LIKEKIT o de terceros colaboradores que han autorizado su utilización en el sitio web. La visita de un usuario a la web no le confiere ningún derecho o licencia sobre los referidos derechos de propiedad industrial o intelectual.<br /><br />
            Los diseños, textos, imágenes, fotografías, mapas, el software y sus distintos códigos fuente y demás elementos integradores de la web son, salvo que se especifique lo contrario, titularidad de LIKEKIT, que posee legítimamente en exclusiva los derechos de explotación sobre los mismos. El usuario no puede bajo ningún concepto, copiarlos, modificarlos, distribuirlos, transmitirlos o reproducirlos sin el consentimiento expreso de los titulares.<br /><br />
            Responsabilidades<br /><br />
            El compromiso de LIKEKIT es ofrecer un funcionamiento del sitio web con la mayor profesionalidad y calidad, no obstante se reserva el derecho de suspender temporalmente, y sin necesidad de previo aviso, la accesibilidad al sitio web en caso de efectuar operaciones de mantenimiento, reparación, actualización o mejora de los servicios y contenidos, así como a modificar o actualizar las informaciones, contenidos o las condiciones de acceso a la misma.<br /><br />
            LIKEKIT únicamente se hace responsable de las informaciones, contenidos o servicios propios ofrecidos en esta web. En ningún caso no asumirá responsabilidad alguna respecto a informaciones, contenidos, productos o servicios ofertados por terceros a los que se acceda a través de enlaces contenidos en esta web. Tampoco se hace responsable de las opiniones o mensajes publicados por los usuarios en foros, recomendaciones u otros espacios de difusión pública existentes en el sitio web o a los que se acceda a través del mismo.<br />
         <br />
            LIKEKIT se reserva el derecho de suspender los contenidos y la accesibilidad al sitio web, sin previo aviso, de aquellos usuarios que hayan infringido alguno de los puntos recogidos en el aviso legal.<br /><br />
            Política de Privacidad<br /><br />
            Los datos de carácter personal que LIKEKIT pueda llegar a obtener de los usuarios del sitio web serán tratados de acuerdo a las exigencias de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y al Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la citada Ley.  Lea el apartado Política de Privacidad para consultar los detalles.
        </div>
        <div id="about-main-section-title">Política de privacidad</div>
        <div id="about-main-section-text-noborder">
        LIKEKIT desea poner en conocimiento de los usuarios de este sitio web su política de privacidad y seguridad de los datos de carácter personal que pudieran ser recogidos o tratados en esta web.<br /><br />
        Los datos de carácter personal que LIKEKIT pueda llegar a obtener de los usuarios del sitio web serán tratados de acuerdo a las exigencias de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (en adelante, LOPD) y al Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la citada Ley.<br /><br />
        Información y finalidad<br /><br />
        Los datos que los usuarios faciliten a través de los distintos formularios de esta web quedarán incluidos en el citado fichero, con la finalidad de atender las solicitudes o consultas realizadas, gestionar la comunidad de usuarios de LIKEKIT, mantener informados a los usuarios de las novedades o noticias de interés relacionadas con este sitio web, así como -para aquellos usuarios que hayan expresado su consentimiento – remitirles información promocional sobre productos o servicios de LIKEKIT o sus colaboradores.<br /><br />
        En los formularios de recogida de datos se informa al usuario del carácter voluntario u obligatorio de los datos que se solicitan. El usuario garantiza que la información facilitada es exacta y se corresponde con la realidad. Antes de proceder al envío de los datos el usuario deberá leer y aceptar las condiciones de esta Política de Privacidad.<br /><br />
        Cesión de datos<br /><br />
        LIKEKIT no cederá datos de los usuarios a terceras personas a menos que haya obtenido el consentimiento expreso, informado e inequívoco por parte de los titulares de los datos.<br /><br />
        ddCookies<br /><br />
        El sitio web de LIKEKIT utiliza cookies propias para facilitar la experiencia de navegación del usuario y con finalidades estadísticas pero, en ningún caso, se almacenan en ellas datos personales de los usuarios. El sitio web también genera cookies de terceros (Google Analytics, Facebook, Twitter) necesarias para enlazar con contenidos o aplicaciones de terceros cuyo contenido es ajeno a LIKEKIT.<br /><br />
        El usuario tiene la posibilidad de configurar su navegador web para ser avisado de la recepción de cookies y aceptarlas o rechazarlas según su voluntad, asimismo puede deshabilitar con carácter general la instalación de cookies en el equipo.<br /><br />
        Medidas de seguridad<br /><br />
        De conformidad con lo establecido en el artículo 9 de la LOPD, LIKEKIT ha adoptado las medidas de carácter técnico y organizativo necesarias para proteger los datos de los usuarios contra manipulaciones, pérdida y destrucción ocasionales o premeditados así como contra el acceso por parte de personas no autorizadas.<br /><br />
        Ejercicio de derechos<br /><br />
        En relación con los datos recabados en esta Web, los usuarios podrán ejercitar los derechos de acceso, rectificación, cancelación u oposición, así como revocar el consentimiento otorgado para el envío de comunicaciones comerciales. El ejercicio de tales derechos podrá ser ejercitado mediante solicitud escrita y firmada, conteniendo nombre y apellidos del solicitante, domicilio a efectos de notificaciones y fotocopia del Documento Nacional de Identidad o Pasaporte. La solicitud podrá realizarse a través de correo postal o por e-mail en las siguientes direcciones:<br /><br />
        LIKEKIT, S.L.<br /><br />
        VIT: Carrer de la Llotja s/n. Recinto ferial El Sucre<br /><br />
        Vic 08500 (Barcelona)<br /><br />
        likekit@likekit.comm<br />
         <br />
        Fecha de última actualización 27 de Julio de 2012.
        </div>
        <div id="about-main-legal-bottom">
            <div id="about-main-legal-mail"><a href="mailto:likekit@likekit.com" target="_blank">likekit@likekit.com</a></div>
            <div id="about-main-legal-address">
                Calle de la llotja s/n<br />
                Recinto ferial El Sucre<br />
                Vic 08500 (Barcelona)
            </div>
            <div id="about-main-legal-social">
                <div id="about-main-mediakit-social-twitter"></div>
                <div id="about-main-mediakit-social-facebook"></div>
                <div id="about-main-mediakit-social-tumblr"></div>
            </div>
        </div>
    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" style="margin-left:160px;">Copyright &copy; 2012 Likekit</div>