﻿@model LikeKitWebsite.Models.RegisterModel

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "prova_js";

    //ViewBag.Js = "jquery-1.6.2.min.js";
    //ViewBag.Js = "prova_js_1.js";
    //ViewBag.Js = "prova_js_2.js";

}

<script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/prova_js_1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/prova_js_2.js")" type="text/javascript"></script>


<h2>proves_js</h2>


<a type="text/javascript" href="javascript:{}" id="prova_js_1_a">Link botó 1</a>
<br /><br />
<a type="text/javascript" href="javascript:{}" id="prova_js_2_b">Link botó 2</a>
