﻿@model String

@{
    ViewBag.Title = "Equipo";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Css = "about.css";
    ViewBag.MenuFilter = false;
    ViewBag.Js = "about.js";
    ViewBag.About = true;
    ViewBag.Team = " selected";
}

<div id="about-container">
    <!--@Html.Partial("KitForm")-->
    <div id="about-main-container">
        <div id="about-main-image"><img src="/Content/images/Team.jpg" /></div>
                <div id="about-main-mediakit-title">Equipo</div>
        <div id="about-main-mediakit-social-title">Síguenos</div>
        <div id="about-main-mediakit-column">
            <div id="about-main-mediakit-text">
                Somos un equipo joven de emprendedores que trabaja duro para crear un producto y una compañía que la gente ame. Cada día incorporamos nuevas ideas que hagan de Likekit algo apasionante y mejor en el futuro. Si te unes a Likekit, nos gustaría ayudarte a disfrutar cada segundo de tu tiempo libre.<br />
            </div>
        </div>
        <div id="about-main-mediakit-social">
            <div id="about-main-mediakit-social-twitter"></div>
            <div id="about-main-mediakit-social-facebook"></div>
            <div id="about-main-mediakit-social-tumblr"></div>
        </div>

        <!--<div id="about-main-team-bottom">
            Equipo Likekit
        </div>-->

        <div class="about-main-team-bottom-section">
            <div class="about-main-team-bottom-section-title">
                Equipo Likekit
            </div>
            <div class="about-main-team-entry">
                <div class="about-main-team-entry-image"><img src="/Content/images/team_pol.jpg" width="88"/></div>
                <div class="about-main-team-entry-text">
                    <span class="team_title">Pol Rodríguez Rius</span><br />
                    <a href="http://www.linkedin.com/in/polrodriguezrius" target="_blank">Linkedin</a>
                </div>
            </div>
            <div class="about-main-team-entry">
                <div class="about-main-team-entry-image"><img src="/Content/images/team_jordi.jpg" width="88"/></div>
                <div class="about-main-team-entry-text">
                    <span class="team_title">Jordi Franquesa Solanich</span><br />
                    <a href="http://www.linkedin.com/in/jfranquesa" target="_blank">Linkedin</a>
                </div>
            </div>
            <div class="about-main-team-entry">
                <div class="about-main-team-entry-image"><img src="/Content/images/team_jordi_crespi.jpg" width="88"/></div>
                <div class="about-main-team-entry-text">
                    <span class="team_title">Jordi Crespi Juanola</span><br />
                    <a href="http://www.linkedin.com/pub/jordi-crespi-juanola/3a/326/963" target="_blank">Linkedin</a>
                </div>
            </div>
            <div class="about-main-team-entry">
                <div class="about-main-team-entry-image"><img src="/Content/images/team_albert.jpg" width="88"/></div>
                <div class="about-main-team-entry-text">
                    <span class="team_title">Albert Almajano Serra</span><br />
                    <a href="http://www.linkedin.com/pub/albert-almajano/0/9b1/695" target="_blank">Linkedin</a>
                </div>
            </div>
        </div>

        <div class="about-main-team-bottom-section-separator"></div>

        <div class="about-main-team-bottom-section">
            <div class="about-main-team-bottom-section-title">
                Colaboradores
            </div>
            <div class="about-main-team-entry">
                <div class="about-main-team-entry-image"><img src="/Content/images/team_endepro.jpg" width="88"/></div>
                <div class="about-main-team-entry-text">
                    <span class="team_title">Endepro</span><br />
                    <a href="http://www.endepro.com" target="_blank">www.endepro.com</a>
                </div>
            </div>
            <div class="about-main-team-entry">
                <div class="about-main-team-entry-image"><img src="/Content/images/team_bukle.jpg" width="88"/></div>
                <div class="about-main-team-entry-text">
                    <span class="team_title">Bubkle</span><br />
                    <a href="http://www.buklegraphic.com" target="_blank">www.buklegraphic.com</a>
                </div>
            </div>
            <div class="about-main-team-entry">
                <div class="about-main-team-entry-image"><img src="/Content/images/team_dotpunt.jpg" width="88"/></div>
                <div class="about-main-team-entry-text">
                    <span class="team_title">DOTPUNT disseny gràfic</span><br />
                    <a href="http://www.dotpunt.com" target="_blank">www.dotpunt.com</a>
                </div>
            </div>
        </div>

        <div id="about-main-legal-bottom" class="width_672">
            <div id="about-main-legal-mail"><a href="mailto:likekit@likekit.com" target="_blank">likekit@likekit.com</a></div>
            <div id="about-main-legal-address">
                Calle de la llotja s/n<br />
                Recinto ferial El Sucre<br />
                Vic 08500 (Barcelona)
            </div>
        </div>

    </div>
</div><!-- fi about-container -->
<div id="timeline-copyright" style="margin-left:160px;">Copyright &copy; Likekit</div>