﻿@model ControlPanel.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Product", FormMethod.Post,
                             new { enctype = "multipart/form-data" }    )) {
    
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Product</legend>

        @Html.HiddenFor(model => model.Image)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>

        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Image)
            <input type="file" name="NewImage" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Permalink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Permalink)
            @Html.ValidationMessageFor(model => model.Permalink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductCategoryID, "ProductCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductCategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductCategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LanguageID, "Language")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LanguageID", String.Empty)
            @Html.ValidationMessageFor(model => model.LanguageID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EAN)
            @Html.ValidationMessageFor(model => model.EAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerUrl)
            @Html.ValidationMessageFor(model => model.PartnerUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ASIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ASIN)
            @Html.ValidationMessageFor(model => model.ASIN)
        </div>

        <div class="product-ws-search-container">
            <input type="hidden" id="amazon_image" name="amazon_image" value="" />
            <div class="product-ws-search-container-title">Buscar producto en Amazon</div>
            <div class="product-ws-search-container-input"><input type="text" name="product-ws-search-text" id="product-ws-search-text" /></div>
            <div class="product-ws-search-container-btn-container"><input type="button" id="product-ws-search-container-btn" name="product-ws-search-container-btn" value="Buscar"/></div>
            <div class="clear"></div>
            <div id="product-ws-search-container-results-container"></div>
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
