﻿@model ControlPanel.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Product</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">Modified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified)
    </div>

    <div class="display-label">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">Permalink</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Permalink)
    </div>

    <div class="display-label">Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">ProductCategory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCategory.Name)
    </div>

    <div class="display-label">Language</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language.Code)
    </div>

    <div class="display-label">EAN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EAN)
    </div>

    <div class="display-label">PartnerUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PartnerUrl)
    </div>

    <div class="display-label">ASIN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ASIN)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
