﻿@model String

@{
    Layout = "~/Views/Shared/Login.cshtml";
    ViewBag.Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ACTIVACION;
    ViewBag.Css = "register.css";
    ViewBag.Js = "register.js";
}

<div id="register-activation">
    <div class="register-step-header">
        <div class="register-step-header-text">@Html.DisplayTextFor(m => m)</div>
    </div>
    
    <div id="register-activation-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>

</div>
