﻿@model LikeKitWebsite.Models.LogOnModel

@{
    Layout = "~/Views/Shared/Login.cshtml";
    ViewBag.Title = "Log On";
    ViewBag.Css = "login.css";
    ViewBag.Js = "login.js";

    Model.UserName = @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_DIRECCION_EMAIL;
    
}

<!--<div class="login-title"><h2>HOLA!</h2></div>-->
@Html.ValidationSummary(true, "Login incorrecto. Comprueba los errores y vuelve a intentarlo.")

@using (Html.BeginForm()) {
    <div class="fraseTitol_pantallaLogin">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INCIA_SESION</div>
    <div class="login-form">
        <div class="login-editor-field" id="login-username">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <input type="hidden" id="returnUrl" name="returnUrl" value=""/>
        <input type="hidden" id="check_remember" name="check_remember" value="0"/>

        <div class="login-editor-field" id="login-password">
            <!--@Html.TextBoxFor(m => m.Password)-->
            <input type="text" id="password_text" name="password_text" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTRASENA"/>
            <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" style="display:none;" />
            <!--@Html.ValidationMessageFor(m => m.Password)-->
        </div>

        <div class="login-label" id="rememberme">
            <!--@Html.LabelFor(m => m.RememberMe)-->
            <div id="rememberme-check"></div><label for="RememberMe">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECUERDAME</label>
        </div>

        <div class="login-label" id="password-recovery-link">
            @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HE_OLVIDADO_MI_CONTRASENA
        </div>

        <div class="login-submit">
            <input id="login-submit-btn" name="login-submit-btn" type="button" value="Log in" />
        </div>
        <div id="login-twitter" class="login-twitter">Twitter</div>
        <div id="login-facebook" class="login-facebook">Facebook</div>
    </div>
    <div id="login-errors">
        <div class="login-error-username-container">
            <div id="login-error-username-tip"></div>
        </div>
        <div class="login-error-password-container">
            <div id="login-error-password-tip"></div>
        </div>
    </div>
    <div class="login-register">
        <div class="login-register-ask">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ERES_NUEVO_EN_LIKEKIT</div>
        <div class="login-register-link"><a href="/Account/Register">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REGISTRATE</a></div>
    </div>    
}
