﻿@{
    Layout = "~/Views/Shared/Login.cshtml";
    ViewBag.Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECUPERAR_CONTRASENA;
    ViewBag.Css = "password-recovery.css";
    ViewBag.Js = "password-recovery.js";
}
<div id="password-recovery-content">
    <div id="password-recovery-close"></div>
    <div class="password-recovery-content-title"><h2>@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HAS_OLVIDADO_TU_CONTRASENA</h2></div>
    <div class="password-recovery-content-text">
        @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NO_TE_PREOCUPES_ESCRIBE_LA_DIRECCION_EMAIL_ASOCIADA_A_TU_CUENTA
    </div>
    <div class="password-recovery-content-input"><input type="text" id="password-recovery-mail" name="password-recovery-mail" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_DIRECCION_EMAIL" /></div>
    <div id="password-recovery-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ENVIAR</div>
    <div id="password-recovery-tip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARECE_QUE_LA_DIRECCION_NO_ES_VALIDA <br />@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_POR_FAVOR_COMPRUEBA_QUE_SEA_CORRECTA</div>
</div>
