﻿@model LikeKitWebsite.Models.RegisterModel

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Register";
    ViewBag.Css = "register.css";
    ViewBag.Js = "register.js";

    Model.Email = @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_TU_DIRECCION_EMAIL;
    Model.FirstName = @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NOMBRE;
    Model.LastName = @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_APELLIDOS;
}
    <div id="signup-legal-error-modal" class="modal">
        <div id="signup-legal-error-container">
            <div id="signup-legal-error-header">
                <div id="signup-legal-error-title-container">
                    <div id="signup-legal-error-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_CONTINUAR_CON_EL_REGISTRO_DEBES_ACEPTAR_LAS_CONDICIONES_LEGALES</div>
                    <div id="signup-legal-error-close"></div>
                </div>
            </div>
        </div>
    </div>
<div id="register-content">
    @Html.Partial("SignUpLegal")
    <!--<div class="register-title"><h2>HOLA!</h2></div>-->

@using (Html.BeginForm()) {
    <!--@Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")-->
    <div id="register-step-0-form">
        <div id="titolPrimeraPantallaRegistre">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CREA_TU_CUENTA_PARA_DECUBRIR_LIKEKIT</div>
        <div id="container-fb-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REGISTRATE_CON_FACEBOOK</div>
        <div id="text_paginaRegistre">o @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CON_TU <a id="a_registreCorreuE">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CORREO_ELECTRONICO</a>.</div>
    </div>
    
    <div id="register-step-1-form">
        <div id="form-register-title">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REGISTRATE_EN_UN_SOLO_PASO_CON_TU_EMAIL</div>
        <div class="formulari">
            <input type="hidden" id="legal" name="legal" value="" />
            <div class="register-editor-field-container">
                <div class="register-editor-field" id="register-editor-field-email">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div id="register-username-tip" class="register-username-tip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PERFECTO</div>
            </div>

            <div class="register-editor-field-container">
                <div class="register-editor-field" id="register-password">
                    <input type="text" id="password_text" name="password_text" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTRASENA *"/>
                    <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" style="display:none;" />
                </div>
                <div id="register-password-tip" class="register-small-tip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_GENIAL_NO_LA_OLVIDES</div>
                <div id="register-password-tip-long" class="register-password-tip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_GENIAL_NO_LA_OLVIDES</div>
            </div>

            <div class="register-password-info">
                * @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MINIMO_8_CARACTERES_MEZCLANDO_NUMEROS_Y_LETRAS
            </div>

            <div class="register-legal">
                <div id="register-legal-check"></div><div class="register-legal-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_HE_LEIDO_Y_ENTENDIDO_LAS <a id="register-legal-link"href="#">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONDICIONES_LEGALES</a></div>
            </div>

            <div id="register-step-1-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REGISTRARSE</div>
        </div>
    </div>
}
    
    <div id="register-content-2">
        <div class="register-step-header">
            <div class="register-step-header-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SELECCIONA_LO_QUE_TE_GUSTA_PARA_QUE_PODAMOS_SUGERIRTE_A_QUIEN_SEGUIR</div>
            <div class="register-step-header-pager"><span class="register-pager-selected">1</span>/2/3</div>
        </div>
        @Html.DisplayTextFor(m => m.RegisterCategoryProducts)
        <div id="register-step-2-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>
    </div>
    
<div id="register-content-3">
    <div class="register-step-header">
        <div class="register-step-header-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_GRACIAS_POR_UNIRTE_A_LIKEKIT</div>
        <div class="register-step-header-subtitle-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DESDE_ESTE_MOMENTO_ESTAS_SIGUIENDO_A_ALGUNOS_TRENDERS</div>
        <!--<div class="register-step-header-pager"><span class="register-pager-selected">1/2</span>/3</div>-->
    </div>
    @Html.DisplayTextFor(m => m.RegisterFollowings)

    <div class="register-step-3-bottom-text">
            <div id="register-facebook-like"><div class="fb-like" data-href="http://www.facebook.com/Likekit" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="verdana"></div></div>
            <div class="fb-send" data-href="http://www.likekit.com"></div>
            <!--<div id="register-check-invite"></div><div id="register-check-invite-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR_MIS_AMIGOS_A_LIKEKIT</div>-->
    </div>
    
    <div id="register-step-3-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>

</div>

    <div id="register-content-4">
        <div class="register-step-header">
            <div class="register-step-header-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_YA_FORMAS_PARTE_DE_LIKEKIT<br /><br />@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_PARA_EMPEZAR_A_DISFRUTAR_SOLO_DEBES_CONFIRMAR_TU_CUENTA_EN_EL_CORREO_QUE_TE_HEMOS_ENVIADO
            <br /><br />@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CUIDADO_REVISA_TU_CARPETA_DE_SPAM_POR_FAVOR_PUEDE_QUE_TU_SISTEMA_DE_SEGURIDAD_DESVIE_NUESTRO_CORREO_DE_CONFIRMACION_A_TU_SPAM
            </div>
            <div class="register-step-header-pager"><span class="register-pager-selected">1/2/3</span></div>
        </div>
    
        <div id="register-step-4-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>

    </div>
</div>