﻿@model LikeKitWebsite.Models.RegisterModel

@{
    Layout = "~/Views/Shared/LoginNew.cshtml";
    ViewBag.Title = "Register";
    ViewBag.Css = "register.css";
    //ViewBag.Js = "register.js";
    

    //ViewBag.Js = "jquery-1.6.2.min.js";
    //ViewBag.Js = "jquery.friend.selector-1.2.js";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/friend-selector/jquery.friend.selector-1.2.css")" />
<script src="@Url.Content("~/Scripts/friend-selector/jquery.friend.selector-1.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/register.js")" type="text/javascript"></script>

<input type="hidden" id="UserName" name="UserName" value="@Html.DisplayTextFor(m => m.UserName)"/>
<input type="hidden" id="FirstName" name="FirstName" value="@Html.DisplayTextFor(m => m.FirstName)"/>
<input type="hidden" id="LastName" name="LastName" value="@Html.DisplayTextFor(m => m.LastName)"/>
<input type="hidden" id="legal" name="legal" value="1" />
<input type="hidden" id="TwitterRegister" name="TwitterRegister" value="@Html.DisplayTextFor(m => m.TwitterRegister)"/>
<input type="hidden" id="FacebookRegister" name="FacebookRegister" value="@Html.DisplayTextFor(m => m.FacebookRegister)"/>
<input type="hidden" id="FacebookUserId" name="FacebookUserId" value="@Html.DisplayTextFor(m => m.FacebookUserId)"/>
<input type="hidden" id="FacebookAccessToken" name="FacebookAccessToken" value="@Html.DisplayTextFor(m => m.FacebookAccessToken)"/>
<input type="hidden" id="TwitterUserId" name="TwitterUserId" value="@Html.DisplayTextFor(m => m.TwitterUserId)"/>
<input type="hidden" id="TwitterAccessKey" name="TwitterAccessKey" value="@Html.DisplayTextFor(m => m.TwitterAccessKey)"/>
<input type="hidden" id="TwitterAccessSecret" name="TwitterAccessSecret" value="@Html.DisplayTextFor(m => m.TwitterAccessSecret)"/>
<input type="hidden" id="Picsquare" name="Picsquare" value="@Html.DisplayTextFor(m => m.Picsquare)"/>
<input type="hidden" id="Gender" name="Gender" value="@Html.DisplayTextFor(m => m.Gender)"/>



<!--<div id="register-content-social-data">

    <div id="register-content-social-data-container">
        <div id="register-content-social-data-img"><img src="@Html.DisplayTextFor(m => m.Picsquare)" width="220px"/></div>
        <div id="register-content-social-data-input" class="margin-top-46"><input type="text" id="firstname_social" name="firstname_social" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NOMBRE" /></div>
        <div id="register-content-social-data-input"><input type="text" id="lastname_social" name="lastname_social" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_APELLIDOS" /></div>
        <div id="register-content-social-data-input"><input type="text" id="mail_social" name="mail_social" value="E-mail" /></div>
        
        <div id="register-content-social-data-mail-tip-container">
            <div id="register-content-social-data-tip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LA_DIRECCION_DE_CORREO_NO_ES_CORRECTA</div>
        </div>
        <div id="register-content-social-data-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>
    </div>
</div>

<div id="register-content-2">
    <div class="register-step-header">
        <div class="register-step-header-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_SELECCIONA_LO_QUE_TE_GUSTA_PARA_QUE_PODAMOS_SUGERIRTE_A_QUIEN_SEGUIR</div>
        <div class="register-step-header-pager"><span class="register-pager-selected">1</span>/2/3</div>
    </div>
    @Html.DisplayTextFor(m => m.RegisterCategoryProducts)
    <div id="register-step-2-btn" class="register-step-2-btn-on">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>

</div>-->


<div id="register-content-3-retorn">
    <div class="register-step-header">
        <div class="register-step-header-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_GRACIAS_POR_UNIRTE_A_LIKEKIT</div>
        <div class="register-step-header-subtitle-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_DESDE_ESTE_MOMENTO_ESTAS_SIGUIENDO_A_TUS_AMIGOS_DE_FACEBOOK</div>
        <!--<div class="register-step-header-pager"><span class="register-pager-selected">1/2</span>/3</div>-->
    </div>
    @Html.DisplayTextFor(m => m.RegisterFollowings)

    <div class="register-step-3-bottom-text">
            <div id="register-facebook-like"><div class="fb-like" data-href="http://www.facebook.com/Likekit" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="verdana"></div></div>
            <div class="fb-send" data-href="http://www.likekit.com"></div>
            <!--<div id="register-check-invite"></div><div id="register-check-invite-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_INVITAR_MIS_AMIGOS_A_LIKEKIT</div>-->
    </div>
    
    <div id="register-step-3-btn-social-register">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>

</div>

<!--<div id="register-content-4">
    <div class="register-step-header">
        <div class="register-step-header-text">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_YA_FORMAS_PARTE_DE_LIKEKIT<br /></div>
        <div class="register-step-header-pager"><span class="register-pager-selected">1/2/3</span></div>
    </div>
    
    <div id="register-step-4-btn">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTINUAR</div>

</div>-->
<a type="text/javascript" href="javascript:{}" class="bt-fs-dialog"></a>