﻿@model String
@{
    Layout = "~/Views/Shared/Login.cshtml";
    ViewBag.Title = LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_RECUPERAR_CONTRASENA;
    ViewBag.Css = "password-recovery.css";
    ViewBag.Js = "password-recovery.js";
}
<div id="password-recovery-content">
    <div id="password-recovery-close"></div>
    <div class="password-recovery-content-title"><h2>@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_NUEVA_CONTRASENA_MAJ</h2></div>
    <input type="hidden" id="userid" name="userid" value="@Html.DisplayTextFor(m => m)" />
    <div class="password-recovery-content-input">
        <input type="text" id="password_text" name="password_text" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_CONTRASENA"/>
        <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" style="display:none;" />    
    </div>
    <div class="password-recovery-password-info">
        * @LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_MINIMO_8_CARACTERES_MEZCLANDO_NUMEROS_Y_LETRAS
    </div>
    <div class="password-recovery-content-input margin-top-10">
        <input type="text" id="password_text_repeat" name="password_text_repeat" value="@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_REPETIR_CONTRASENA"/>
        <input data-val="true" data-val-required="The Password field is required." id="RepeatPassword" name="RepeatPassword" type="password" style="display:none;" />
    </div>
    <div id="password-update-button">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_ACEPTAR</div>
    <div id="password-update-tip">@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_LAS_CONTRASENAS_NO_COINCIDEN <br />@LikeKitWebsite.Resources.LikeKitWebsiteLocal.STR_POR_FAVOR_REVISA_QUE_SEAN_CORRECTAS</div>
</div>
